In [86]:
import pandas as pd
from glob import glob
from PIL import Image

In [87]:
path = '../../../data/solar_energy2/'
files = sorted(glob(path+'*.csv'))
files

['../../../data/solar_energy2\\dangjin_fcst_data.csv',
 '../../../data/solar_energy2\\dangjin_obs_data.csv',
 '../../../data/solar_energy2\\energy.csv',
 '../../../data/solar_energy2\\sample_submission.csv',
 '../../../data/solar_energy2\\site_info.csv',
 '../../../data/solar_energy2\\ulsan_fcst_data.csv',
 '../../../data/solar_energy2\\ulsan_obs_data.csv']

In [88]:
dangjin_fcst_data = pd.read_csv(files[0])
dangjin_obs_data = pd.read_csv(files[1])
energy = pd.read_csv(files[2])
sample_submission = pd.read_csv(files[3])
site_info = pd.read_csv(files[4])
ulsan_fcst_data = pd.read_csv(files[5])
ulsan_obs_data = pd.read_csv(files[6])

# site_info.csv - 발전소 정보
- Id : 사이트 식별자
- Capacity : 발전소 발전용량(MW)
- Address : 주소
- InstallationAngle : 설치각(º)
- IncidentAngle : 입사각(º)
- Latitude : 위도
- Longitude : 경도

In [89]:
site_info

,Id,Capacity,Address,InstallationAngle,IncidentAngle,Latitude,Longitude
0,당진수상태양광,1.0,충남 당진시 석문면 교로길 30,30.0,30.0,37.050753,126.510299
1,당진자재창고태양광,0.7,충남 당진시 석문면 교로길 30,30.0,30.0,37.050753,126.510299
2,당진태양광,1.0,충남 당진시 석문면 교로길 30,30.0,30.0,37.050753,126.510299
3,울산태양광,0.5,울산광역시 남구 용잠로 623,20.0,20.0,35.477651,129.380778

# energy.csv - 발전소별 발전량
- time : 1시간 단위 계량된 시간 (ex-2018-03-01 1:00:00 => 2018-03-01 00:00:00 ~ 2018-03-01 1:00:00 1시간동안 발전량 계량)
    + 하루에 1시간 씩, 총 24개의 발전량을 알 수 있음
- dangjin_floating : 당진수상태양광 발전량(KW)
- dangjin_warehouse : 당진자재창고태양광 발전량(KW)
- dangjin : 당진태양광 발전량(KW)
- ulsan : 울산태양광 발전량(KW)

In [90]:
energy

,time,dangjin_floating,dangjin_warehouse,dangjin,ulsan
0,2018-03-01 1:00:00,0.0,0.0,0,0
1,2018-03-01 2:00:00,0.0,0.0,0,0
2,2018-03-01 3:00:00,0.0,0.0,0,0
3,2018-03-01 4:00:00,0.0,0.0,0,0
4,2018-03-01 5:00:00,0.0,0.0,0,0
...,...,...,...,...,...
25627,2021-01-31 20:00:00,0.0,0.0,0,0
25628,2021-01-31 21:00:00,0.0,0.0,0,0
25629,2021-01-31 22:00:00,0.0,0.0,0,0
25630,2021-01-31 23:00:00,0.0,0.0,0,0
25631,2021-01-31 24:00:00,0.0,0.0,0,0

In [91]:
len(energy)/24   # 1068일

1068.0

In [92]:
energy[:25]

                   time  dangjin_floating  dangjin_warehouse  dangjin  ulsan
0    2018-03-01 1:00:00               0.0                0.0        0      0
1    2018-03-01 2:00:00               0.0                0.0        0      0
2    2018-03-01 3:00:00               0.0                0.0        0      0
3    2018-03-01 4:00:00               0.0                0.0        0      0
4    2018-03-01 5:00:00               0.0                0.0        0      0
5    2018-03-01 6:00:00               0.0                0.0        0      0
6    2018-03-01 7:00:00               0.0                0.0        0      0
7    2018-03-01 8:00:00               0.0                0.0        0      4
8    2018-03-01 9:00:00              36.0               33.0       37     35
9   2018-03-01 10:00:00             313.0              209.0      318     71
10  2018-03-01 11:00:00             532.0              296.0      490     82
11  2018-03-01 12:00:00             607.0              315.0      550    334
12  2018-03-01 13:00:00             614.0              474.0      727    372
13  2018-03-01 14:00:00             608.0              544.0      733    346
14  2018-03-01 15:00:00             641.0              496.0      672    318
15  2018-03-01 16:00:00             536.0              391.0      546    258
16  2018-03-01 17:00:00             348.0              271.0      364    160
17  2018-03-01 18:00:00             134.0               80.0      110     30
18  2018-03-01 19:00:00              11.0                2.0        0      0
19  2018-03-01 20:00:00               0.0                0.0        0      0
20  2018-03-01 21:00:00               0.0                0.0        0      0
21  2018-03-01 22:00:00               0.0                0.0        0      0
22  2018-03-01 23:00:00               0.0                0.0        0      0
23  2018-03-01 24:00:00               0.0                0.0        0      0
24   2018-03-02 1:00:00               0.0                0.0        0      0

# dangjin_fcst_data.csv - 당진지역 발전소 동네 예보
- Forecast time : 예보 발표 시점
- forecast : 예보 시간 (ex - Forecast time:2018-03-01 11:00:00, forecast:4.0 => 2018-03-01 11:00:00에 발표한 2018-03-01 15:00:00 예보    
### 예보 발표 시점 'forecast'시간 후 기상 예보
- Temperature : 온도(℃)
- Humidity : 습도(%)
- WindSpeed : 풍속(m/s)
- WindDirection : 풍향(º)
- Cloud : 하늘상태(1-맑음, 2-구름보통, 3-구름많음, 4-흐림)

## 데이터 구성
* 02시 - 15행
* 05시 - 22행
* 08시 - 21행
* 11시 - 20행
* 14시 - 19행
* 17시 - 18행
* 20시 - 17행
* 23시 - 16행

In [93]:
dangjin_fcst_data

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
0,2018-03-01 11:00:00,4.0,0.0,60.0,7.3,309.0,2.0
1,2018-03-01 11:00:00,7.0,-2.0,60.0,7.1,314.0,1.0
2,2018-03-01 11:00:00,10.0,-2.0,60.0,6.7,323.0,1.0
3,2018-03-01 11:00:00,13.0,-2.0,55.0,6.7,336.0,1.0
4,2018-03-01 11:00:00,16.0,-4.0,55.0,5.5,339.0,1.0
...,...,...,...,...,...,...,...
162203,2021-03-01 08:00:00,52.0,7.0,40.0,3.2,187.0,1.0
162204,2021-03-01 08:00:00,55.0,8.0,40.0,4.5,217.0,1.0
162205,2021-03-01 08:00:00,58.0,5.0,55.0,2.2,210.0,1.0
162206,2021-03-01 08:00:00,61.0,1.0,80.0,1.9,164.0,1.0
162207,2021-03-01 08:00:00,64.0,1.0,80.0,2.1,152.0,1.0

In [94]:
print(dangjin_fcst_data.columns)

Index(['Forecast time', 'forecast', 'Temperature', 'Humidity', 'WindSpeed',
       'WindDirection', 'Cloud'],
      dtype='object')

In [95]:
dangjin_fcst_data[dangjin_fcst_data['Forecast time']=='2018-03-01 11:00:00']    # 20행

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
0,2018-03-01 11:00:00,4.0,0.0,60.0,7.3,309.0,2.0
1,2018-03-01 11:00:00,7.0,-2.0,60.0,7.1,314.0,1.0
2,2018-03-01 11:00:00,10.0,-2.0,60.0,6.7,323.0,1.0
3,2018-03-01 11:00:00,13.0,-2.0,55.0,6.7,336.0,1.0
4,2018-03-01 11:00:00,16.0,-4.0,55.0,5.5,339.0,1.0
5,2018-03-01 11:00:00,19.0,-5.0,60.0,4.3,344.0,1.0
6,2018-03-01 11:00:00,22.0,-2.0,55.0,2.0,345.0,1.0
7,2018-03-01 11:00:00,25.0,1.0,45.0,0.8,256.0,1.0
8,2018-03-01 11:00:00,28.0,3.0,50.0,2.3,270.0,1.0
9,2018-03-01 11:00:00,31.0,1.0,55.0,1.9,264.0,1.0
10,2018-03-01 11:00:00,34.0,-1.0,70.0,1.6,68.0,1.0
11,2018-03-01 11:00:00,37.0,-2.0,75.0,2.0,114.0,2.0
12,2018-03-01 11:00:00,40.0,-2.0,75.0,2.6,140.0,2.0
13,2018-03-01 11:00:00,43.0,-2.0,80.0,2.7,138.0,2.0
14,2018-03-01 11:00:00,46.0,1.0,80.0,2.6,133.0,2.0
15,2018-03-01 11:00:00,49.0,9.0,70.0,3.1,130.0,2.0
16,2018-03-01 11:00:00,52.0,12.0,65.0,1.3,184.0,3.0
17,2018-03-01 11:00:00,55.0,11.0,80.0,1.3,135.0,3.0
18,2018-03-01 11:00:00,58.0,9.0,85.0,1.4,155.0,3.0
19,2018-03-01 11:00:00,61.0,9.0,85.0,1.4,197.0,3.0

In [96]:
dangjin_fcst_data[dangjin_fcst_data['Forecast time']=='2018-03-01 14:00:00']    # 19행

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
20,2018-03-01 14:00:00,4.0,-2.0,60.0,7.1,314.0,1.0
21,2018-03-01 14:00:00,7.0,-2.0,60.0,6.7,323.0,1.0
22,2018-03-01 14:00:00,10.0,-2.0,55.0,6.7,336.0,1.0
23,2018-03-01 14:00:00,13.0,-4.0,55.0,5.5,339.0,1.0
24,2018-03-01 14:00:00,16.0,-5.0,60.0,4.3,344.0,1.0
25,2018-03-01 14:00:00,19.0,-2.0,55.0,2.0,345.0,1.0
26,2018-03-01 14:00:00,22.0,1.0,45.0,0.8,256.0,1.0
27,2018-03-01 14:00:00,25.0,3.0,50.0,2.3,270.0,1.0
28,2018-03-01 14:00:00,28.0,1.0,55.0,1.9,264.0,1.0
29,2018-03-01 14:00:00,31.0,-1.0,70.0,1.6,68.0,1.0
30,2018-03-01 14:00:00,34.0,-2.0,75.0,2.0,114.0,2.0
31,2018-03-01 14:00:00,37.0,-2.0,75.0,2.6,140.0,2.0
32,2018-03-01 14:00:00,40.0,-2.0,80.0,2.7,138.0,2.0
33,2018-03-01 14:00:00,43.0,1.0,80.0,2.6,133.0,2.0
34,2018-03-01 14:00:00,46.0,9.0,70.0,3.1,130.0,2.0
35,2018-03-01 14:00:00,49.0,12.0,65.0,1.3,184.0,3.0
36,2018-03-01 14:00:00,52.0,11.0,80.0,1.3,135.0,3.0
37,2018-03-01 14:00:00,55.0,9.0,85.0,1.4,155.0,3.0
38,2018-03-01 14:00:00,58.0,9.0,85.0,1.4,197.0,3.0

In [97]:
dangjin_fcst_data[dangjin_fcst_data['Forecast time']=='2018-03-01 17:00:00']    # 18행

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
39,2018-03-01 17:00:00,4.0,-2.0,60.0,7.5,326.0,1.0
40,2018-03-01 17:00:00,7.0,-2.0,50.0,5.8,336.0,1.0
41,2018-03-01 17:00:00,10.0,-3.0,55.0,5.0,339.0,1.0
42,2018-03-01 17:00:00,13.0,-4.0,60.0,4.1,353.0,1.0
43,2018-03-01 17:00:00,16.0,-2.0,55.0,1.1,360.0,1.0
44,2018-03-01 17:00:00,19.0,2.0,45.0,1.0,259.0,1.0
45,2018-03-01 17:00:00,22.0,3.0,55.0,2.6,274.0,1.0
46,2018-03-01 17:00:00,25.0,1.0,60.0,1.4,278.0,1.0
47,2018-03-01 17:00:00,28.0,-1.0,75.0,2.4,81.0,1.0
48,2018-03-01 17:00:00,31.0,-2.0,75.0,2.3,95.0,2.0
49,2018-03-01 17:00:00,34.0,-2.0,75.0,2.4,125.0,2.0
50,2018-03-01 17:00:00,37.0,-2.0,80.0,2.8,135.0,2.0
51,2018-03-01 17:00:00,40.0,2.0,70.0,3.4,126.0,2.0
52,2018-03-01 17:00:00,43.0,9.0,65.0,2.9,134.0,2.0
53,2018-03-01 17:00:00,46.0,12.0,65.0,2.0,160.0,3.0
54,2018-03-01 17:00:00,49.0,11.0,75.0,2.0,217.0,3.0
55,2018-03-01 17:00:00,52.0,9.0,80.0,2.5,169.0,3.0
56,2018-03-01 17:00:00,55.0,9.0,85.0,2.2,210.0,3.0

In [98]:
dangjin_fcst_data[dangjin_fcst_data['Forecast time']=='2018-03-01 23:00:00']    # 16행

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
74,2018-03-01 23:00:00,4.0,-3.0,55.0,5.0,339.0,1.0
75,2018-03-01 23:00:00,7.0,-4.0,60.0,4.1,353.0,1.0
76,2018-03-01 23:00:00,10.0,-2.0,55.0,1.1,360.0,1.0
77,2018-03-01 23:00:00,13.0,2.0,45.0,1.0,259.0,1.0
78,2018-03-01 23:00:00,16.0,3.0,55.0,2.6,274.0,1.0
79,2018-03-01 23:00:00,19.0,1.0,60.0,1.4,278.0,1.0
80,2018-03-01 23:00:00,22.0,-1.0,75.0,2.4,81.0,1.0
81,2018-03-01 23:00:00,25.0,-2.0,75.0,2.3,95.0,2.0
82,2018-03-01 23:00:00,28.0,-2.0,75.0,2.4,125.0,2.0
83,2018-03-01 23:00:00,31.0,-2.0,80.0,2.8,135.0,2.0
84,2018-03-01 23:00:00,34.0,2.0,70.0,3.4,126.0,2.0
85,2018-03-01 23:00:00,37.0,9.0,65.0,2.9,134.0,2.0
86,2018-03-01 23:00:00,40.0,12.0,65.0,2.0,160.0,3.0
87,2018-03-01 23:00:00,43.0,11.0,75.0,2.0,217.0,3.0
88,2018-03-01 23:00:00,46.0,9.0,80.0,2.5,169.0,3.0
89,2018-03-01 23:00:00,49.0,9.0,85.0,2.2,210.0,3.0

In [99]:
dangjin_fcst_data[dangjin_fcst_data['Forecast time']=='2018-03-02 02:00:00']    # 15행

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
90,2018-03-02 02:00:00,4.0,-4.0,60.0,4.1,353.0,1.0
91,2018-03-02 02:00:00,7.0,-2.0,55.0,1.1,360.0,1.0
92,2018-03-02 02:00:00,10.0,2.0,45.0,1.0,259.0,1.0
93,2018-03-02 02:00:00,13.0,3.0,55.0,2.6,274.0,1.0
94,2018-03-02 02:00:00,16.0,1.0,60.0,1.4,278.0,1.0
95,2018-03-02 02:00:00,19.0,-1.0,75.0,2.4,81.0,1.0
96,2018-03-02 02:00:00,22.0,-2.0,75.0,2.3,95.0,2.0
97,2018-03-02 02:00:00,25.0,-2.0,75.0,2.4,125.0,2.0
98,2018-03-02 02:00:00,28.0,-2.0,80.0,2.8,135.0,2.0
99,2018-03-02 02:00:00,31.0,2.0,70.0,3.4,126.0,2.0
100,2018-03-02 02:00:00,34.0,9.0,65.0,2.9,134.0,2.0
101,2018-03-02 02:00:00,37.0,12.0,65.0,2.0,160.0,3.0
102,2018-03-02 02:00:00,40.0,11.0,75.0,2.0,217.0,3.0
103,2018-03-02 02:00:00,43.0,9.0,80.0,2.5,169.0,3.0
104,2018-03-02 02:00:00,46.0,9.0,85.0,2.2,210.0,3.0

In [100]:
dangjin_fcst_data[dangjin_fcst_data['Forecast time']=='2018-03-02 05:00:00']    # 22행

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
105,2018-03-02 05:00:00,4.0,-2.0,55.0,0.4,63.0,1.0
106,2018-03-02 05:00:00,7.0,2.0,45.0,1.6,255.0,1.0
107,2018-03-02 05:00:00,10.0,3.0,55.0,2.1,270.0,1.0
108,2018-03-02 05:00:00,13.0,1.0,60.0,1.5,352.0,1.0
109,2018-03-02 05:00:00,16.0,-1.0,70.0,3.3,78.0,1.0
110,2018-03-02 05:00:00,19.0,-2.0,80.0,2.4,90.0,2.0
111,2018-03-02 05:00:00,22.0,-2.0,75.0,2.9,125.0,2.0
112,2018-03-02 05:00:00,25.0,-2.0,75.0,3.1,147.0,2.0
113,2018-03-02 05:00:00,28.0,2.0,65.0,2.6,144.0,2.0
114,2018-03-02 05:00:00,31.0,9.0,65.0,2.4,125.0,2.0
115,2018-03-02 05:00:00,34.0,13.0,65.0,2.4,216.0,3.0
116,2018-03-02 05:00:00,37.0,11.0,80.0,1.2,189.0,3.0
117,2018-03-02 05:00:00,40.0,10.0,85.0,2.5,168.0,3.0
118,2018-03-02 05:00:00,43.0,9.0,85.0,3.0,200.0,3.0
119,2018-03-02 05:00:00,46.0,9.0,90.0,2.6,216.0,4.0
120,2018-03-02 05:00:00,49.0,8.0,90.0,2.4,208.0,4.0
121,2018-03-02 05:00:00,52.0,9.0,95.0,3.1,15.0,4.0
122,2018-03-02 05:00:00,55.0,12.0,90.0,3.4,73.0,4.0
123,2018-03-02 05:00:00,58.0,15.0,85.0,3.8,83.0,4.0
124,2018-03-02 05:00:00,61.0,13.0,90.0,4.3,79.0,4.0
125,2018-03-02 05:00:00,64.0,12.0,95.0,3.7,64.0,4.0
126,2018-03-02 05:00:00,67.0,11.0,95.0,4.0,27.0,4.0

In [101]:
dangjin_fcst_data[dangjin_fcst_data['Forecast time']=='2018-03-02 08:00:00']    # 21행

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
127,2018-03-02 08:00:00,4.0,2.0,45.0,1.6,255.0,1.0
128,2018-03-02 08:00:00,7.0,3.0,55.0,2.1,270.0,1.0
129,2018-03-02 08:00:00,10.0,1.0,60.0,1.5,352.0,1.0
130,2018-03-02 08:00:00,13.0,-1.0,70.0,3.3,78.0,1.0
131,2018-03-02 08:00:00,16.0,-2.0,80.0,2.4,90.0,2.0
132,2018-03-02 08:00:00,19.0,-2.0,75.0,2.9,125.0,2.0
133,2018-03-02 08:00:00,22.0,-2.0,75.0,3.1,147.0,2.0
134,2018-03-02 08:00:00,25.0,2.0,65.0,2.6,144.0,2.0
135,2018-03-02 08:00:00,28.0,9.0,65.0,2.4,125.0,2.0
136,2018-03-02 08:00:00,31.0,13.0,65.0,2.4,216.0,3.0
137,2018-03-02 08:00:00,34.0,11.0,80.0,1.2,189.0,3.0
138,2018-03-02 08:00:00,37.0,10.0,85.0,2.5,168.0,3.0
139,2018-03-02 08:00:00,40.0,9.0,85.0,3.0,200.0,3.0
140,2018-03-02 08:00:00,43.0,9.0,90.0,2.6,216.0,4.0
141,2018-03-02 08:00:00,46.0,8.0,90.0,2.4,208.0,4.0
142,2018-03-02 08:00:00,49.0,9.0,95.0,3.1,15.0,4.0
143,2018-03-02 08:00:00,52.0,12.0,90.0,3.4,73.0,4.0
144,2018-03-02 08:00:00,55.0,15.0,85.0,3.8,83.0,4.0
145,2018-03-02 08:00:00,58.0,13.0,90.0,4.3,79.0,4.0
146,2018-03-02 08:00:00,61.0,12.0,95.0,3.7,64.0,4.0
147,2018-03-02 08:00:00,64.0,11.0,95.0,4.0,27.0,4.0

# dangjin_obs_data.csv - 당진지역 발전소 인근 기상 관측 자료
- 지점 : 지점 코드
- 지점명 : 관측소 지점
- 일시 : 관측 시간
- 기온(°C) : 기온(°C)
- 풍속(m/s) : 풍속(m/s)
- 풍향(16방위) : 풍향(º)
- 습도(%) : 습도(%)
- 전운량(10분위) : 전운량(낮을 수록 구름이 적음)
### dangjin_fcst_data.csv 칼럼과 순서만 다르고 칼럼명 동일함
* 서산 지역의 날씨 : 1067일 + 18시간

In [102]:
dangjin_obs_data

        지점 지점명                일시  기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)
0      129  서산  2018-03-01 00:00     3.1      3.6     340.0   96.0        NaN
1      129  서산  2018-03-01 01:00     2.8      0.7     140.0   97.0        NaN
2      129  서산  2018-03-01 02:00     2.6      3.2     320.0   95.0        NaN
3      129  서산  2018-03-01 03:00     2.0      1.9     230.0   97.0        NaN
4      129  서산  2018-03-01 04:00     2.2      2.1     180.0   97.0        NaN
...    ...  ..               ...     ...      ...       ...    ...        ...
25621  129  서산  2021-01-31 19:00     6.7      1.5     200.0   75.0        8.0
25622  129  서산  2021-01-31 20:00     6.2      0.8     200.0   77.0        8.0
25623  129  서산  2021-01-31 21:00     5.3      0.7     230.0   82.0        8.0
25624  129  서산  2021-01-31 22:00     5.8      1.0     200.0   77.0        8.0
25625  129  서산  2021-01-31 23:00     5.3      0.6     230.0   80.0        7.0

[25626 rows x 8 columns]

In [103]:
dangjin_obs_data["지점명"].value_counts()

서산    25626
Name: 지점명, dtype: int64

In [104]:
len(dangjin_obs_data)/24

1067.75

In [105]:
25626 - 1067 * 24

18

In [106]:
dangjin_obs_data[dangjin_obs_data['일시'].str.contains('2018-03-01')]    # 24행

     지점 지점명                일시  기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)
0   129  서산  2018-03-01 00:00     3.1      3.6     340.0   96.0        NaN
1   129  서산  2018-03-01 01:00     2.8      0.7     140.0   97.0        NaN
2   129  서산  2018-03-01 02:00     2.6      3.2     320.0   95.0        NaN
3   129  서산  2018-03-01 03:00     2.0      1.9     230.0   97.0        NaN
4   129  서산  2018-03-01 04:00     2.2      2.1     180.0   97.0        NaN
5   129  서산  2018-03-01 05:00     4.1      4.4     270.0   97.0        NaN
6   129  서산  2018-03-01 06:00     3.5      7.9     320.0   93.0        NaN
7   129  서산  2018-03-01 07:00     2.2      6.4     290.0   86.0        NaN
8   129  서산  2018-03-01 08:00     1.0      7.7     320.0   82.0        NaN
9   129  서산  2018-03-01 09:00     0.3      8.9     320.0   71.0        NaN
10  129  서산  2018-03-01 10:00     0.6      7.9     320.0   63.0        NaN
11  129  서산  2018-03-01 11:00     0.5      9.1     320.0   58.0        NaN
12  129  서산  2018-03-01 12:00     0.7      6.7     320.0   60.0        NaN
13  129  서산  2018-03-01 13:00     1.5      6.5     320.0   60.0        NaN
14  129  서산  2018-03-01 14:00     0.1      5.1     340.0   56.0        NaN
15  129  서산  2018-03-01 15:00     0.4      5.0     320.0   56.0        NaN
16  129  서산  2018-03-01 16:00     0.3      6.0     290.0   56.0        NaN
17  129  서산  2018-03-01 17:00    -0.5      4.6     320.0   59.0        NaN
18  129  서산  2018-03-01 18:00    -1.3      5.4     290.0   62.0        NaN
19  129  서산  2018-03-01 19:00    -1.7      4.4     320.0   63.0        NaN
20  129  서산  2018-03-01 20:00    -1.8      4.3     320.0   63.0        NaN
21  129  서산  2018-03-01 21:00    -1.8      4.7     320.0   61.0        NaN
22  129  서산  2018-03-01 22:00    -1.9      3.3     320.0   60.0        NaN
23  129  서산  2018-03-01 23:00    -2.3      3.7     340.0   55.0        NaN

### 18시간이 왜 남는 거지????

# ulsan_fcst_data.csv - 울산지역 발전소 동네 예보
- Forecast time : 예보 발표 시점
- forecast : 예보 시간 (ex - Forecast time:2018-03-01 11:00:00, forecast:4.0 => 2018-03-01 11:00:00에 발표한 2018-03-01 15:00:00 예보

### 예보 발표 시점 'forecast'시간 후 기상 예보
- Temperature : 온도(℃)
- Humidity : 습도(%)
- WindSpeed : 풍속(m/s)
- WindDirection : 풍향(º)
- Cloud : 하늘상태(1-맑음, 2-구름보통, 3-구름많음, 4-흐림)

In [107]:
ulsan_fcst_data

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
0,2018-03-01 11:00:00,4.0,8.0,20.0,14.0,298.0,2.0
1,2018-03-01 11:00:00,7.0,4.0,20.0,4.3,298.0,2.0
2,2018-03-01 11:00:00,10.0,3.0,30.0,1.9,309.0,2.0
3,2018-03-01 11:00:00,13.0,0.0,40.0,1.5,318.0,2.0
4,2018-03-01 11:00:00,16.0,-1.0,45.0,1.8,308.0,2.0
...,...,...,...,...,...,...,...
162203,2021-03-01 08:00:00,52.0,9.0,45.0,3.1,83.0,3.0
162204,2021-03-01 08:00:00,55.0,9.0,45.0,3.0,111.0,3.0
162205,2021-03-01 08:00:00,58.0,8.0,55.0,2.2,122.0,3.0
162206,2021-03-01 08:00:00,61.0,6.0,65.0,0.9,131.0,3.0
162207,2021-03-01 08:00:00,64.0,4.0,80.0,0.7,188.0,3.0

In [113]:
ulsan_fcst_data[ulsan_fcst_data['Forecast time'].str.contains('2018-03-01 11:00:00')]    # 20행

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
0,2018-03-01 11:00:00,4.0,8.0,20.0,14.0,298.0,2.0
1,2018-03-01 11:00:00,7.0,4.0,20.0,4.3,298.0,2.0
2,2018-03-01 11:00:00,10.0,3.0,30.0,1.9,309.0,2.0
3,2018-03-01 11:00:00,13.0,0.0,40.0,1.5,318.0,2.0
4,2018-03-01 11:00:00,16.0,-1.0,45.0,1.8,308.0,2.0
5,2018-03-01 11:00:00,19.0,-2.0,45.0,1.7,294.0,1.0
6,2018-03-01 11:00:00,22.0,0.0,35.0,1.9,321.0,1.0
7,2018-03-01 11:00:00,25.0,6.0,30.0,1.4,324.0,1.0
8,2018-03-01 11:00:00,28.0,9.0,30.0,0.8,40.0,1.0
9,2018-03-01 11:00:00,31.0,8.0,45.0,1.1,100.0,1.0
10,2018-03-01 11:00:00,34.0,6.0,60.0,1.7,306.0,1.0
11,2018-03-01 11:00:00,37.0,4.0,65.0,1.4,315.0,1.0
12,2018-03-01 11:00:00,40.0,3.0,70.0,1.3,315.0,1.0
13,2018-03-01 11:00:00,43.0,2.0,75.0,1.6,320.0,1.0
14,2018-03-01 11:00:00,46.0,6.0,60.0,1.6,310.0,2.0
15,2018-03-01 11:00:00,49.0,13.0,50.0,2.9,172.0,2.0
16,2018-03-01 11:00:00,52.0,14.0,60.0,3.2,167.0,3.0
17,2018-03-01 11:00:00,55.0,12.0,70.0,2.6,178.0,3.0
18,2018-03-01 11:00:00,58.0,11.0,75.0,2.0,200.0,3.0
19,2018-03-01 11:00:00,61.0,10.0,80.0,1.2,275.0,3.0

In [115]:
ulsan_fcst_data[ulsan_fcst_data['Forecast time'].str.contains('2018-03-01 14:00:00')]    # 19행

,Forecast time,forecast,Temperature,Humidity,WindSpeed,WindDirection,Cloud
20,2018-03-01 14:00:00,4.0,4.0,20.0,4.3,298.0,2.0
21,2018-03-01 14:00:00,7.0,3.0,30.0,1.9,309.0,2.0
22,2018-03-01 14:00:00,10.0,0.0,40.0,1.5,318.0,2.0
23,2018-03-01 14:00:00,13.0,-1.0,45.0,1.8,308.0,2.0
24,2018-03-01 14:00:00,16.0,-2.0,45.0,1.7,294.0,1.0
25,2018-03-01 14:00:00,19.0,0.0,35.0,1.9,321.0,1.0
26,2018-03-01 14:00:00,22.0,6.0,30.0,1.4,324.0,1.0
27,2018-03-01 14:00:00,25.0,9.0,30.0,0.8,40.0,1.0
28,2018-03-01 14:00:00,28.0,8.0,45.0,1.1,100.0,1.0
29,2018-03-01 14:00:00,31.0,6.0,60.0,1.7,306.0,1.0
30,2018-03-01 14:00:00,34.0,4.0,65.0,1.4,315.0,1.0
31,2018-03-01 14:00:00,37.0,3.0,70.0,1.3,315.0,1.0
32,2018-03-01 14:00:00,40.0,2.0,75.0,1.6,320.0,1.0
33,2018-03-01 14:00:00,43.0,6.0,60.0,1.6,310.0,2.0
34,2018-03-01 14:00:00,46.0,13.0,50.0,2.9,172.0,2.0
35,2018-03-01 14:00:00,49.0,14.0,60.0,3.2,167.0,3.0
36,2018-03-01 14:00:00,52.0,12.0,70.0,2.6,178.0,3.0
37,2018-03-01 14:00:00,55.0,11.0,75.0,2.0,200.0,3.0
38,2018-03-01 14:00:00,58.0,10.0,80.0,1.2,275.0,3.0

# ulsan_obs_data.csv - 울산지역 발전소 인근 기상 관측 자료
- 지점 : 지점 코드
- 지점명 : 관측소 지점
- 일시 : 관측 시간
- 기온(°C) : 기온(°C)
- 풍속(m/s) : 풍속(m/s)
- 풍향(16방위) : 풍향(º)
- 습도(%) : 습도(%)
- 전운량(10분위) : 전운량(낮을 수록 구름이 적음)

In [108]:
ulsan_obs_data

        지점 지점명                일시  기온(°C)  풍속(m/s)  풍향(16방위)  습도(%)  전운량(10분위)
0      152  울산  2018-03-01 00:00     8.2      3.9     340.0   98.0       10.0
1      152  울산  2018-03-01 01:00     7.0      4.1     320.0   97.0       10.0
2      152  울산  2018-03-01 02:00     6.5      5.9     290.0   80.0        NaN
3      152  울산  2018-03-01 03:00     6.2      4.6     320.0   79.0        3.0
4      152  울산  2018-03-01 04:00     6.7      4.5     320.0   73.0        1.0
...    ...  ..               ...     ...      ...       ...    ...        ...
25627  152  울산  2021-01-31 19:00     8.8      2.5     200.0   50.0        5.0
25628  152  울산  2021-01-31 20:00     8.7      3.9     200.0   49.0        1.0
25629  152  울산  2021-01-31 21:00     8.4      2.4     230.0   51.0        7.0
25630  152  울산  2021-01-31 22:00     9.4      3.3     230.0   51.0        8.0
25631  152  울산  2021-01-31 23:00     9.3      3.1     200.0   56.0        9.0

[25632 rows x 8 columns]

In [116]:
ulsan_obs_data["지점명"].value_counts()

울산    25632
Name: 지점명, dtype: int64

In [117]:
25632 / 24

1068.0

# sample_submission.csv - 예측한 발전량 제출 양식
- publci LB : 2021년 2월 예측
- private LB : 2021년 6월 9일 ~ 2021년 7월 8일 30일간 예측, 평가기간 제출 가능, 예측 전날 선택된 제출물 평가    

    ※주의1 : 2021년 2월 예측시점 전날에 확인 가능한 정보만을 feature로 사용 가능, fcst 데이터 사용시 주의    
    ※주의2 : public 평가기간 data leakage가 의심되는 경우 코드 제출을 요청할 수 있으며 2일 내 미제출 또는 data leakage가 확인 되었을 시 LB 기록이 삭제    
    ※주의3 : 대회 기간 동안 지속적인 data leakage가 확인된 팀은 참가 자격 박탈    

- time : 지난 한시간동안 발전량 예측   
- dangjin_floating : 당진수상태양광 예측 발전량(KW)   
- dangjin_warehouse : 당진자재창고태양광 예측 발전량(KW)   
- ulsan : 울산태양광 예측 발전량(KW)

In [109]:
sample_submission

                     time  dangjin_floating  dangjin_warehouse  dangjin  ulsan
0     2021-02-01 01:00:00                 0                  0        0      0
1     2021-02-01 02:00:00                 0                  0        0      0
2     2021-02-01 03:00:00                 0                  0        0      0
3     2021-02-01 04:00:00                 0                  0        0      0
4     2021-02-01 05:00:00                 0                  0        0      0
...                   ...               ...                ...      ...    ...
1387  2021-07-08 20:00:00                 0                  0        0      0
1388  2021-07-08 21:00:00                 0                  0        0      0
1389  2021-07-08 22:00:00                 0                  0        0      0
1390  2021-07-08 23:00:00                 0                  0        0      0
1391  2021-07-08 24:00:00                 0                  0        0      0

[1392 rows x 5 columns]

In [122]:
sample_submission[sample_submission['time'].str.contains('2021-02')]    # 672행

                    time  dangjin_floating  dangjin_warehouse  dangjin  ulsan
0    2021-02-01 01:00:00                 0                  0        0      0
1    2021-02-01 02:00:00                 0                  0        0      0
2    2021-02-01 03:00:00                 0                  0        0      0
3    2021-02-01 04:00:00                 0                  0        0      0
4    2021-02-01 05:00:00                 0                  0        0      0
..                   ...               ...                ...      ...    ...
667  2021-02-28 20:00:00                 0                  0        0      0
668  2021-02-28 21:00:00                 0                  0        0      0
669  2021-02-28 22:00:00                 0                  0        0      0
670  2021-02-28 23:00:00                 0                  0        0      0
671  2021-02-28 24:00:00                 0                  0        0      0

[672 rows x 5 columns]

In [123]:
sample_submission[sample_submission['time'].str.contains('2021-06')]    # 528행

                     time  dangjin_floating  dangjin_warehouse  dangjin  ulsan
672   2021-06-09 01:00:00                 0                  0        0      0
673   2021-06-09 02:00:00                 0                  0        0      0
674   2021-06-09 03:00:00                 0                  0        0      0
675   2021-06-09 04:00:00                 0                  0        0      0
676   2021-06-09 05:00:00                 0                  0        0      0
...                   ...               ...                ...      ...    ...
1195  2021-06-30 20:00:00                 0                  0        0      0
1196  2021-06-30 21:00:00                 0                  0        0      0
1197  2021-06-30 22:00:00                 0                  0        0      0
1198  2021-06-30 23:00:00                 0                  0        0      0
1199  2021-06-30 24:00:00                 0                  0        0      0

[528 rows x 5 columns]

In [124]:
sample_submission[sample_submission['time'].str.contains('2021-07')]    # 192행

                     time  dangjin_floating  dangjin_warehouse  dangjin  ulsan
1200  2021-07-01 01:00:00                 0                  0        0      0
1201  2021-07-01 02:00:00                 0                  0        0      0
1202  2021-07-01 03:00:00                 0                  0        0      0
1203  2021-07-01 04:00:00                 0                  0        0      0
1204  2021-07-01 05:00:00                 0                  0        0      0
...                   ...               ...                ...      ...    ...
1387  2021-07-08 20:00:00                 0                  0        0      0
1388  2021-07-08 21:00:00                 0                  0        0      0
1389  2021-07-08 22:00:00                 0                  0        0      0
1390  2021-07-08 23:00:00                 0                  0        0      0
1391  2021-07-08 24:00:00                 0                  0        0      0

[192 rows x 5 columns]

# 평가 산식(NMAE-10)
- 4개의 발전소 반전량을 하나로 합하여 평가
- 4개 발전소 총 발전용량으로 정규화
- 발전용량의 10% 이상 발전된 데이터만으로 평가

In [110]:
import pandas as pd
import numpy as np

def sola_nmae(answer_df, submission_df):
    submission = submission_df[submission_df['time'].isin(answer_df['time'])]
    submission.index = range(submission.shape[0])
    
    # 시간대별 총 발전량
    sum_submission = submission.iloc[:,1:].sum(axis=1)
    sum_answer = answer_df.iloc[:,1:].sum(axis=1)
    
    # 발전소 발전용량
    capacity = {
        'dangjin_floating':1000, # 당진수상태양광 발전용량
        'dangjin_warehouse':700, # 당진자재창고태양광 발전용량
        'dangjin':1000, # 당진태양광 발전용량
        'ulsan':500 # 울산태양광 발전용량
    }
    
    # 총 발전용량
    total_capacity = np.sum(list(capacity.values()))
    
    # 총 발전용량 절대오차
    absolute_error = (sum_answer - sum_submission).abs()
    
    # 발전용량으로 정규화
    absolute_error /= total_capacity
    
    # 총 발전용량의 10% 이상 발전한 데이터 인덱스 추출
    target_idx = sum_answer[sum_answer>=total_capacity*0.1].index
    
    # NMAE(%)
    nmae = 100 * absolute_error[target_idx].mean()
    
    return nmae