In [534]:
import pandas as pd
import numpy as np
import random
import os

from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold

train_df = pd.read_csv('E:\data\kaggle_tabular/train.csv')
test_df = pd.read_csv('E:\data\kaggle_tabular/test.csv')
submission = pd.read_csv('E:\data\kaggle_tabular/sample_submission.csv')

앞으로 해볼 것    
K-fold    
GridSearchCV    
best_columns를 구할 수 있는 게 있었던 거 같은데 - from sklearn.feature_selection import SelectFromModel

# data 전처리

* Pclass - a proxy for socio-economic status (SES) where 1st = Upper, 2nd = Middle and 3rd = Lower.
* Sex - male and female.
* Age - fractional if it less than 1 and age estimation in the form of xx.5.
* SibSp - number of siblings / spouses aboard the Synthanic; siblings are brother, sister, stepbrother and stepsister and spouses are husband and wife (mistresses and fiancés were ignored).
* Parch - # of parents / children aboard the Synthanic; parents are mother and father; child are daughter, son, stepdaughter and stepson. Some children travelled only with a nanny, therefore Parch is 0 for them.
* Fare - the paassenger fare.
* Cabin - the cabin number.
* Emarked - port of embarkation where C is Cherbourg, Q is Queenstown and S is Southampton.
* Ticket - ticket number.
* Name - passengers name.
* Survived - target variable where 0 is not survived and 1 is survived.

* 결측값 채우기

In [535]:
print('Missing values per columns in train dataset')
for col in train_df.columns:
    temp_col = train_df[col].isnull().sum()
    print(f'{col}: {temp_col}')

Missing values per columns in train dataset
PassengerId: 0
Survived: 0
Pclass: 0
Name: 0
Sex: 0
Age: 3292
SibSp: 0
Parch: 0
Ticket: 4623
Fare: 134
Cabin: 67866
Embarked: 250

In [536]:
# col = 'Age' 평균 나이로 결측값 채우기
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean())
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].mean())

In [537]:
# col = 'Ticket', 결측값 'X'로 채우기
train_df['Ticket'] = train_df['Ticket'].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')
test_df['Ticket'] = test_df['Ticket'].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')
train_df['Ticket'][:100]

0      X
1      X
2     CA
3     A.
4      X
      ..
95     X
96     X
97    PC
98     X
99     X
Name: Ticket, Length: 100, dtype: object

In [538]:
# col = 'Cabin', 결측값 'X'로 채우기
train_df['Cabin'] = train_df['Cabin'].fillna('X').map(lambda x: x[0].strip())
test_df['Cabin'] = test_df['Cabin'].fillna('X').map(lambda x: x[0].strip())
train_df['Cabin'][:100]

0     C
1     X
2     X
3     X
4     X
     ..
95    X
96    X
97    D
98    X
99    C
Name: Cabin, Length: 100, dtype: object

In [539]:
# col = 'Embarked', 결측값 'X'로 채우기
train_df['Embarked'] = train_df['Embarked'].fillna('X')
test_df['Embarked'] = test_df['Embarked'].fillna('X')
train_df['Embarked'][:100]

0     S
1     S
2     S
3     S
4     S
     ..
95    S
96    Q
97    Q
98    S
99    C
Name: Embarked, Length: 100, dtype: object

In [540]:
# col = 'Fare', 결측값 각 Pclass 마다 fare 중앙값을 넣는다.
fare_map =  train_df[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
# fare_map    # {'Fare': {1: 63.58, 2: 22.72, 3: 10.96}}
train_df['Fare'] = train_df['Fare'].fillna(train_df['Pclass'].map(fare_map['Fare']))
train_df['Fare'] = np.log1p(train_df['Fare'])
train_df['Fare'][:100]

0     3.337192
1     2.663750
2     4.280686
3     2.641910
4     2.170196
        ...
95    3.503754
96    3.312730
97    4.884921
98    3.363149
99    5.633217
Name: Fare, Length: 100, dtype: float64

In [541]:
# col = 'Fare', 결측값 각 Pclass 마다 fare 중앙값을 넣는다.
fare_map =  test_df[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
# fare_map    # {'Fare': {1: 80.68, 2: 14.455, 3: 11.52}}
test_df['Fare'] = test_df['Fare'].fillna(test_df['Pclass'].map(fare_map['Fare']))
test_df['Fare'] = np.log1p(test_df['Fare'])
test_df['Fare'][:100]

0     4.159039
1     1.918392
2     3.686627
3     2.634045
4     3.328268
        ...
95    2.249184
96    2.621766
97    1.969906
98    2.536866
99    3.469479
Name: Fare, Length: 100, dtype: float64

* 앞 이름만 가져오기

In [542]:
train_df['Name'] = train_df['Name'].map(lambda x: x.split(',')[0])
test_df['Name'] = test_df['Name'].map(lambda x: x.split(',')[0])
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,1,Oconnor,male,38.355472,2,0,X,3.337192,C,S
1,1,0,3,Bryan,male,38.355472,0,0,X,2.663750,X,S
2,2,0,3,Owens,male,0.330000,1,2,CA,4.280686,X,S
3,3,0,3,Kramer,male,19.000000,0,0,A.,2.641910,X,S
4,4,1,3,Bond,male,25.000000,0,0,X,2.170196,X,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,2,Bell,female,62.000000,0,0,PC,2.763800,D,C
99996,99996,0,2,Brown,male,66.000000,0,0,X,2.497329,X,S
99997,99997,0,3,Childress,male,37.000000,0,0,X,2.393339,X,S
99998,99998,0,3,Caughlin,male,51.000000,0,1,X,3.463233,X,S
99999,99999,0,3,Enciso,male,55.000000,0,0,X,2.705380,X,S

* 'Survived' 컬럼을 맨 뒤로 보내기

In [543]:
train_df['y_target'] = train_df['Survived']
train_df = train_df.drop(['Survived'], axis=1)
train_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,y_target
0,0,1,Oconnor,male,38.355472,2,0,X,3.337192,C,S,1
1,1,3,Bryan,male,38.355472,0,0,X,2.663750,X,S,0
2,2,3,Owens,male,0.330000,1,2,CA,4.280686,X,S,0
3,3,3,Kramer,male,19.000000,0,0,A.,2.641910,X,S,0
4,4,3,Bond,male,25.000000,0,0,X,2.170196,X,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2,Bell,female,62.000000,0,0,PC,2.763800,D,C,1
99996,99996,2,Brown,male,66.000000,0,0,X,2.497329,X,S,0
99997,99997,3,Childress,male,37.000000,0,0,X,2.393339,X,S,0
99998,99998,3,Caughlin,male,51.000000,0,1,X,3.463233,X,S,0
99999,99999,3,Enciso,male,55.000000,0,0,X,2.705380,X,S,0

* 문자들을 숫자로 치환하기

In [544]:
def label_encoder(c):
    encoder = LabelEncoder()
    return encoder.fit_transform(c)

labels_col = ['Sex','Ticket']
label_encoded_df = train_df[labels_col].apply(label_encoder)
test_label_encoded_df = test_df[labels_col].apply(label_encoder)
# label_encoded_df

onehot_cols = ['Cabin', 'Embarked']
onehot_encoded_df = pd.get_dummies(train_df[onehot_cols])
test_onehot_encoded_df = pd.get_dummies(test_df[onehot_cols])
# onehot_encoded_df

numerical_cols = ['Age', 'SibSp', 'Parch', 'Fare']
scaler = MinMaxScaler()
numerical_df = pd.DataFrame(scaler.fit_transform(train_df[numerical_cols]), columns=numerical_cols)
test_numerical_df = pd.DataFrame(scaler.fit_transform(test_df[numerical_cols]), columns=numerical_cols)
# numerical_df

etc_df = train_df['Pclass']
test_etc_df = test_df['Pclass']

target_df = train_df['y_target']


train_df = pd.concat([etc_df, numerical_df, label_encoded_df, onehot_encoded_df, target_df], axis=1)
test_df = pd.concat([test_etc_df, test_numerical_df, test_label_encoded_df, test_onehot_encoded_df], axis=1)

최종적으로 사용할 데이터 셋

In [545]:
train_df

,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin_A,Cabin_B,Cabin_C,...,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Embarked_X,y_target
0,1,0.440353,0.250,0.000000,0.462375,1,49,0,0,1,...,0,0,0,0,0,0,0,1,0,1
1,3,0.440353,0.000,0.000000,0.351893,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,3,0.002876,0.125,0.222222,0.617161,1,14,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,3,0.217671,0.000,0.000000,0.348310,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,3,0.286700,0.000,0.000000,0.270923,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,0.712379,0.000,0.000000,0.368307,0,21,0,0,0,...,0,0,0,0,0,1,0,0,0,1
99996,2,0.758399,0.000,0.000000,0.324591,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99997,3,0.424758,0.000,0.000000,0.307531,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99998,3,0.585826,0.000,0.111111,0.483053,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99999,3,0.631845,0.000,0.000000,0.358723,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [546]:
test_df

,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Embarked_X
0,3,0.233811,0.000,0.000000,0.634709,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
1,3,0.653979,0.000,0.000000,0.288706,0,49,0,0,0,0,0,0,0,0,1,0,0,1,0
2,1,0.233811,0.000,0.000000,0.561759,0,49,0,1,0,0,0,0,0,0,0,1,0,0,0
3,2,0.307958,0.000,0.000000,0.399218,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
4,1,0.209095,0.000,0.222222,0.506421,0,49,0,1,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3,0.332674,0.000,0.000000,0.364427,0,49,0,0,0,0,0,0,0,0,1,0,1,0,0
99996,1,0.728127,0.125,0.000000,0.646993,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
99997,3,0.579832,0.000,0.000000,0.374506,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
99998,1,0.604548,0.125,0.222222,0.521143,0,21,0,1,0,0,0,0,0,0,0,1,0,0,0
99999,1,0.505685,0.000,0.222222,0.807841,0,21,0,0,0,0,1,0,0,0,0,1,0,0,0

# 1. DATA

In [547]:
# 훈련 데이터 셋
x = train_df.drop(['y_target'], axis=1)
y = train_df['y_target']
x = x.to_numpy()
y = y.to_numpy()
print(x.shape, y.shape)

(100000, 20) (100000,)

In [548]:
# 예측 데이터 셋
x_pred = test_df
x_pred = x_pred.to_numpy()
print(x_pred.shape)

(100000, 20)

In [549]:
x_train, x_val, y_train, y_val = train_test_split(x, y, train_size=0.8, shuffle=True, random_state=42)
print(x_train.shape, x_val.shape)   # (80000, 20) (20000, 20)
print(y_train.shape, y_val.shape)   # (80000,) (20000,)

(80000, 20) (20000, 20)
(80000,) (20000,)

# 2. Model

In [550]:
import catboost as ctb

N_ESTIMATORS = 1000
N_SPLITS = 10
SEED = 2021
EARLY_STOPPING_ROUNDS = 20
VERBOSE = 1

params = {
    'bootstrap_type': 'Poisson',
    'loss_function': 'Logloss',
    'eval_metric': 'Logloss',
    'random_seed': SEED,
    'task_type': 'GPU',
    'max_depth': 8,
    'learning_rate': 0.01,
    'n_estimators': N_ESTIMATORS,
    'max_bin': 280,
    'min_data_in_leaf': 64,
    'l2_leaf_reg': 0.01,
    'subsample': 0.8
}

model = ctb.CatBoostClassifier(**params)
model.fit(x_train, y_train,
          eval_set=[(x_val, y_val)],
          use_best_model=True,
          early_stopping_rounds=EARLY_STOPPING_ROUNDS,
          verbose=VERBOSE)

y_val_pred = model.predict(x_val)
acc_score = accuracy_score(y_val, y_val_pred)
print(f"===== ACCURACY SCORE {acc_score:.6f} =====")    # 0.783750

5640 (592)	total: 7.94s	remaining: 5.42s
594:	learn: 0.4596798	test: 0.4715695	best: 0.4715640 (592)	total: 7.95s	remaining: 5.41s
595:	learn: 0.4596599	test: 0.4715646	best: 0.4715640 (592)	total: 7.96s	remaining: 5.4s
596:	learn: 0.4596325	test: 0.4715582	best: 0.4715582 (596)	total: 7.98s	remaining: 5.38s
597:	learn: 0.4596058	test: 0.4715508	best: 0.4715508 (597)	total: 7.99s	remaining: 5.37s
598:	learn: 0.4595829	test: 0.4715487	best: 0.4715487 (598)	total: 8s	remaining: 5.36s
599:	learn: 0.4595564	test: 0.4715310	best: 0.4715310 (599)	total: 8.02s	remaining: 5.34s
600:	learn: 0.4595458	test: 0.4715352	best: 0.4715310 (599)	total: 8.03s	remaining: 5.33s
601:	learn: 0.4595164	test: 0.4715316	best: 0.4715310 (599)	total: 8.04s	remaining: 5.32s
602:	learn: 0.4594982	test: 0.4715348	best: 0.4715310 (599)	total: 8.06s	remaining: 5.3s
603:	learn: 0.4594771	test: 0.4715217	best: 0.4715217 (603)	total: 8.07s	remaining: 5.29s
604:	learn: 0.4594504	test: 0.4715088	best: 0.4715088 (604)	total: 8.09s	remaining: 5.28s
605:	learn: 0.4594349	test: 0.4715120	best: 0.4715088 (604)	total: 8.1s	remaining: 5.27s
606:	learn: 0.4594129	test: 0.4715220	best: 0.4715088 (604)	total: 8.11s	remaining: 5.25s
607:	learn: 0.4593942	test: 0.4715215	best: 0.4715088 (604)	total: 8.13s	remaining: 5.24s
608:	learn: 0.4593795	test: 0.4715161	best: 0.4715088 (604)	total: 8.14s	remaining: 5.23s
609:	learn: 0.4593477	test: 0.4715236	best: 0.4715088 (604)	total: 8.15s	remaining: 5.21s
610:	learn: 0.4593217	test: 0.4715265	best: 0.4715088 (604)	total: 8.17s	remaining: 5.2s
611:	learn: 0.4592960	test: 0.4715197	best: 0.4715088 (604)	total: 8.18s	remaining: 5.19s
612:	learn: 0.4592790	test: 0.4715148	best: 0.4715088 (604)	total: 8.2s	remaining: 5.17s
613:	learn: 0.4592609	test: 0.4715166	best: 0.4715088 (604)	total: 8.21s	remaining: 5.16s
614:	learn: 0.4592352	test: 0.4715124	best: 0.4715088 (604)	total: 8.22s	remaining: 5.15s
615:	learn: 0.4592182	test: 0.4715192	best: 0.4715088 (604)	total: 8.24s	remaining: 5.13s
616:	learn: 0.4592041	test: 0.4715224	best: 0.4715088 (604)	total: 8.25s	remaining: 5.12s
617:	learn: 0.4591863	test: 0.4715199	best: 0.4715088 (604)	total: 8.26s	remaining: 5.11s
618:	learn: 0.4591667	test: 0.4715265	best: 0.4715088 (604)	total: 8.28s	remaining: 5.09s
619:	learn: 0.4591393	test: 0.4715238	best: 0.4715088 (604)	total: 8.29s	remaining: 5.08s
620:	learn: 0.4591161	test: 0.4715207	best: 0.4715088 (604)	total: 8.3s	remaining: 5.07s
621:	learn: 0.4590968	test: 0.4715216	best: 0.4715088 (604)	total: 8.32s	remaining: 5.05s
622:	learn: 0.4590702	test: 0.4715201	best: 0.4715088 (604)	total: 8.33s	remaining: 5.04s
623:	learn: 0.4590543	test: 0.4715094	best: 0.4715088 (604)	total: 8.34s	remaining: 5.03s
624:	learn: 0.4590383	test: 0.4714985	best: 0.4714985 (624)	total: 8.36s	remaining: 5.01s
625:	learn: 0.4590249	test: 0.4714955	best: 0.4714955 (625)	total: 8.37s	remaining: 5s
626:	learn: 0.4589923	test: 0.4714956	best: 0.4714955 (625)	total: 8.38s	remaining: 4.99s
627:	learn: 0.4589720	test: 0.4714858	best: 0.4714858 (627)	total: 8.4s	remaining: 4.97s
628:	learn: 0.4589362	test: 0.4714735	best: 0.4714735 (628)	total: 8.41s	remaining: 4.96s
629:	learn: 0.4589244	test: 0.4714771	best: 0.4714735 (628)	total: 8.42s	remaining: 4.95s
630:	learn: 0.4588973	test: 0.4714689	best: 0.4714689 (630)	total: 8.44s	remaining: 4.93s
631:	learn: 0.4588866	test: 0.4714800	best: 0.4714689 (630)	total: 8.45s	remaining: 4.92s
632:	learn: 0.4588685	test: 0.4714822	best: 0.4714689 (630)	total: 8.46s	remaining: 4.91s
633:	learn: 0.4588570	test: 0.4714807	best: 0.4714689 (630)	total: 8.48s	remaining: 4.89s
634:	learn: 0.4588424	test: 0.4714809	best: 0.4714689 (630)	total: 8.49s	remaining: 4.88s
635:	learn: 0.4588064	test: 0.4714730	best: 0.4714689 (630)	total: 8.5s	remaining: 4.87s
636:	learn: 0.4587925	test: 0.4714758	best: 0.4714689 (630)	total: 8.52s	remaining: 4.85s
637:	learn: 0.4587799	test: 0.4714658	best: 0.4714658 (637)	total: 8.53s	remaining: 4.84s
638:	learn: 0.4587666	test: 0.4714637	best: 0.4714637 (638)	total: 8.54s	remaining: 4.83s
639:	learn: 0.4587510	test: 0.4714599	best: 0.4714599 (639)	total: 8.56s	remaining: 4.81s
640:	learn: 0.4587346	test: 0.4714644	best: 0.4714599 (639)	total: 8.57s	remaining: 4.8s
641:	learn: 0.4587236	test: 0.4714644	best: 0.4714599 (639)	total: 8.58s	remaining: 4.79s
642:	learn: 0.4587079	test: 0.4714687	best: 0.4714599 (639)	total: 8.6s	remaining: 4.77s
643:	learn: 0.4586928	test: 0.4714696	best: 0.4714599 (639)	total: 8.61s	remaining: 4.76s
644:	learn: 0.4586831	test: 0.4714644	best: 0.4714599 (639)	total: 8.62s	remaining: 4.75s
645:	learn: 0.4586682	test: 0.4714628	best: 0.4714599 (639)	total: 8.63s	remaining: 4.73s
646:	learn: 0.4586593	test: 0.4714562	best: 0.4714562 (646)	total: 8.65s	remaining: 4.72s
647:	learn: 0.4586367	test: 0.4714561	best: 0.4714561 (647)	total: 8.66s	remaining: 4.71s
648:	learn: 0.4586165	test: 0.4714517	best: 0.4714517 (648)	total: 8.68s	remaining: 4.69s
649:	learn: 0.4585979	test: 0.4714439	best: 0.4714439 (649)	total: 8.69s	remaining: 4.68s
650:	learn: 0.4585871	test: 0.4714466	best: 0.4714439 (649)	total: 8.7s	remaining: 4.67s
651:	learn: 0.4585609	test: 0.4714491	best: 0.4714439 (649)	total: 8.71s	remaining: 4.65s
652:	learn: 0.4585404	test: 0.4714358	best: 0.4714358 (652)	total: 8.73s	remaining: 4.64s
653:	learn: 0.4585264	test: 0.4714368	best: 0.4714358 (652)	total: 8.74s	remaining: 4.63s
654:	learn: 0.4585008	test: 0.4714191	best: 0.4714191 (654)	total: 8.76s	remaining: 4.61s
655:	learn: 0.4584778	test: 0.4714193	best: 0.4714191 (654)	total: 8.77s	remaining: 4.6s
656:	learn: 0.4584698	test: 0.4714154	best: 0.4714154 (656)	total: 8.78s	remaining: 4.58s
657:	learn: 0.4584447	test: 0.4714097	best: 0.4714097 (657)	total: 8.79s	remaining: 4.57s
658:	learn: 0.4584359	test: 0.4714046	best: 0.4714046 (658)	total: 8.81s	remaining: 4.56s
659:	learn: 0.4584135	test: 0.4713974	best: 0.4713974 (659)	total: 8.82s	remaining: 4.54s
660:	learn: 0.4583830	test: 0.4713989	best: 0.4713974 (659)	total: 8.83s	remaining: 4.53s
661:	learn: 0.4583398	test: 0.4713778	best: 0.4713778 (661)	total: 8.85s	remaining: 4.52s
662:	learn: 0.4583219	test: 0.4713717	best: 0.4713717 (662)	total: 8.86s	remaining: 4.5s
663:	learn: 0.4583057	test: 0.4713749	best: 0.4713717 (662)	total: 8.87s	remaining: 4.49s
664:	learn: 0.4582882	test: 0.4713780	best: 0.4713717 (662)	total: 8.89s	remaining: 4.48s
665:	learn: 0.4582690	test: 0.4713815	best: 0.4713717 (662)	total: 8.9s	remaining: 4.46s
666:	learn: 0.4582454	test: 0.4713768	best: 0.4713717 (662)	total: 8.91s	remaining: 4.45s
667:	learn: 0.4582300	test: 0.4713762	best: 0.4713717 (662)	total: 8.93s	remaining: 4.44s
668:	learn: 0.4582037	test: 0.4713590	best: 0.4713590 (668)	total: 8.94s	remaining: 4.42s
669:	learn: 0.4581862	test: 0.4713546	best: 0.4713546 (669)	total: 8.95s	remaining: 4.41s
670:	learn: 0.4581584	test: 0.4713445	best: 0.4713445 (670)	total: 8.97s	remaining: 4.4s
671:	learn: 0.4581408	test: 0.4713467	best: 0.4713445 (670)	total: 8.98s	remaining: 4.38s
672:	learn: 0.4581231	test: 0.4713428	best: 0.4713428 (672)	total: 8.99s	remaining: 4.37s
673:	learn: 0.4580983	test: 0.4713492	best: 0.4713428 (672)	total: 9.01s	remaining: 4.36s
674:	learn: 0.4580856	test: 0.4713455	best: 0.4713428 (672)	total: 9.02s	remaining: 4.34s
675:	learn: 0.4580726	test: 0.4713393	best: 0.4713393 (675)	total: 9.03s	remaining: 4.33s
676:	learn: 0.4580543	test: 0.4713376	best: 0.4713376 (676)	total: 9.05s	remaining: 4.32s
677:	learn: 0.4580228	test: 0.4713258	best: 0.4713258 (677)	total: 9.06s	remaining: 4.3s
678:	learn: 0.4579950	test: 0.4713203	best: 0.4713203 (678)	total: 9.07s	remaining: 4.29s
679:	learn: 0.4579790	test: 0.4713142	best: 0.4713142 (679)	total: 9.09s	remaining: 4.28s
680:	learn: 0.4579609	test: 0.4713261	best: 0.4713142 (679)	total: 9.1s	remaining: 4.26s
681:	learn: 0.4579424	test: 0.4713201	best: 0.4713142 (679)	total: 9.11s	remaining: 4.25s
682:	learn: 0.4579269	test: 0.4713305	best: 0.4713142 (679)	total: 9.13s	remaining: 4.24s
683:	learn: 0.4579051	test: 0.4713255	best: 0.4713142 (679)	total: 9.14s	remaining: 4.22s
684:	learn: 0.4578871	test: 0.4713186	best: 0.4713142 (679)	total: 9.15s	remaining: 4.21s
685:	learn: 0.4578632	test: 0.4713122	best: 0.4713122 (685)	total: 9.17s	remaining: 4.2s
686:	learn: 0.4578467	test: 0.4713102	best: 0.4713102 (686)	total: 9.18s	remaining: 4.18s
687:	learn: 0.4578317	test: 0.4713067	best: 0.4713067 (687)	total: 9.19s	remaining: 4.17s
688:	learn: 0.4578233	test: 0.4713040	best: 0.4713040 (688)	total: 9.21s	remaining: 4.16s
689:	learn: 0.4577963	test: 0.4713094	best: 0.4713040 (688)	total: 9.22s	remaining: 4.14s
690:	learn: 0.4577808	test: 0.4713043	best: 0.4713040 (688)	total: 9.23s	remaining: 4.13s
691:	learn: 0.4577564	test: 0.4713048	best: 0.4713040 (688)	total: 9.24s	remaining: 4.11s
692:	learn: 0.4577312	test: 0.4712971	best: 0.4712971 (692)	total: 9.26s	remaining: 4.1s
693:	learn: 0.4577132	test: 0.4712942	best: 0.4712942 (693)	total: 9.27s	remaining: 4.09s
694:	learn: 0.4576949	test: 0.4712888	best: 0.4712888 (694)	total: 9.28s	remaining: 4.07s
695:	learn: 0.4576719	test: 0.4712769	best: 0.4712769 (695)	total: 9.3s	remaining: 4.06s
696:	learn: 0.4576400	test: 0.4712746	best: 0.4712746 (696)	total: 9.31s	remaining: 4.05s
697:	learn: 0.4576225	test: 0.4712733	best: 0.4712733 (697)	total: 9.32s	remaining: 4.03s
698:	learn: 0.4575989	test: 0.4712641	best: 0.4712641 (698)	total: 9.34s	remaining: 4.02s
699:	learn: 0.4575727	test: 0.4712605	best: 0.4712605 (699)	total: 9.35s	remaining: 4.01s
700:	learn: 0.4575501	test: 0.4712633	best: 0.4712605 (699)	total: 9.36s	remaining: 3.99s
701:	learn: 0.4575396	test: 0.4712618	best: 0.4712605 (699)	total: 9.38s	remaining: 3.98s
702:	learn: 0.4575260	test: 0.4712597	best: 0.4712597 (702)	total: 9.39s	remaining: 3.97s
703:	learn: 0.4574920	test: 0.4712464	best: 0.4712464 (703)	total: 9.4s	remaining: 3.95s
704:	learn: 0.4574628	test: 0.4712423	best: 0.4712423 (704)	total: 9.41s	remaining: 3.94s
705:	learn: 0.4574500	test: 0.4712417	best: 0.4712417 (705)	total: 9.43s	remaining: 3.93s
706:	learn: 0.4574335	test: 0.4712387	best: 0.4712387 (706)	total: 9.44s	remaining: 3.91s
707:	learn: 0.4574047	test: 0.4712250	best: 0.4712250 (707)	total: 9.46s	remaining: 3.9s
708:	learn: 0.4573843	test: 0.4712229	best: 0.4712229 (708)	total: 9.47s	remaining: 3.89s
709:	learn: 0.4573751	test: 0.4712118	best: 0.4712118 (709)	total: 9.48s	remaining: 3.87s
710:	learn: 0.4573620	test: 0.4712107	best: 0.4712107 (710)	total: 9.49s	remaining: 3.86s
711:	learn: 0.4573414	test: 0.4712051	best: 0.4712051 (711)	total: 9.51s	remaining: 3.85s
712:	learn: 0.4573242	test: 0.4712038	best: 0.4712038 (712)	total: 9.52s	remaining: 3.83s
713:	learn: 0.4572910	test: 0.4711978	best: 0.4711978 (713)	total: 9.53s	remaining: 3.82s
714:	learn: 0.4572619	test: 0.4712065	best: 0.4711978 (713)	total: 9.55s	remaining: 3.81s
715:	learn: 0.4572435	test: 0.4712023	best: 0.4711978 (713)	total: 9.56s	remaining: 3.79s
716:	learn: 0.4572214	test: 0.4712004	best: 0.4711978 (713)	total: 9.57s	remaining: 3.78s
717:	learn: 0.4572019	test: 0.4711936	best: 0.4711936 (717)	total: 9.59s	remaining: 3.77s
718:	learn: 0.4571912	test: 0.4711964	best: 0.4711936 (717)	total: 9.6s	remaining: 3.75s
719:	learn: 0.4571859	test: 0.4711949	best: 0.4711936 (717)	total: 9.61s	remaining: 3.74s
720:	learn: 0.4571682	test: 0.4711861	best: 0.4711861 (720)	total: 9.63s	remaining: 3.73s
721:	learn: 0.4571437	test: 0.4711761	best: 0.4711761 (721)	total: 9.64s	remaining: 3.71s
722:	learn: 0.4571221	test: 0.4711836	best: 0.4711761 (721)	total: 9.65s	remaining: 3.7s
723:	learn: 0.4570985	test: 0.4711734	best: 0.4711734 (723)	total: 9.66s	remaining: 3.68s
724:	learn: 0.4570776	test: 0.4711715	best: 0.4711715 (724)	total: 9.68s	remaining: 3.67s
725:	learn: 0.4570551	test: 0.4711572	best: 0.4711572 (725)	total: 9.69s	remaining: 3.66s
726:	learn: 0.4570421	test: 0.4711625	best: 0.4711572 (725)	total: 9.71s	remaining: 3.64s
727:	learn: 0.4570273	test: 0.4711648	best: 0.4711572 (725)	total: 9.72s	remaining: 3.63s
728:	learn: 0.4570109	test: 0.4711808	best: 0.4711572 (725)	total: 9.73s	remaining: 3.62s
729:	learn: 0.4569896	test: 0.4711806	best: 0.4711572 (725)	total: 9.74s	remaining: 3.6s
730:	learn: 0.4569638	test: 0.4711915	best: 0.4711572 (725)	total: 9.76s	remaining: 3.59s
731:	learn: 0.4569463	test: 0.4711812	best: 0.4711572 (725)	total: 9.77s	remaining: 3.58s
732:	learn: 0.4569346	test: 0.4711787	best: 0.4711572 (725)	total: 9.78s	remaining: 3.56s
733:	learn: 0.4569065	test: 0.4711805	best: 0.4711572 (725)	total: 9.8s	remaining: 3.55s
734:	learn: 0.4568656	test: 0.4711699	best: 0.4711572 (725)	total: 9.81s	remaining: 3.54s
735:	learn: 0.4568540	test: 0.4711698	best: 0.4711572 (725)	total: 9.82s	remaining: 3.52s
736:	learn: 0.4568346	test: 0.4711595	best: 0.4711572 (725)	total: 9.84s	remaining: 3.51s
737:	learn: 0.4568165	test: 0.4711533	best: 0.4711533 (737)	total: 9.85s	remaining: 3.5s
738:	learn: 0.4567993	test: 0.4711564	best: 0.4711533 (737)	total: 9.86s	remaining: 3.48s
739:	learn: 0.4567741	test: 0.4711525	best: 0.4711525 (739)	total: 9.88s	remaining: 3.47s
740:	learn: 0.4567619	test: 0.4711480	best: 0.4711480 (740)	total: 9.89s	remaining: 3.46s
741:	learn: 0.4567470	test: 0.4711511	best: 0.4711480 (740)	total: 9.9s	remaining: 3.44s
742:	learn: 0.4567267	test: 0.4711478	best: 0.4711478 (742)	total: 9.91s	remaining: 3.43s
743:	learn: 0.4566894	test: 0.4711433	best: 0.4711433 (743)	total: 9.93s	remaining: 3.42s
744:	learn: 0.4566609	test: 0.4711363	best: 0.4711363 (744)	total: 9.94s	remaining: 3.4s
745:	learn: 0.4566393	test: 0.4711286	best: 0.4711286 (745)	total: 9.96s	remaining: 3.39s
746:	learn: 0.4566214	test: 0.4711275	best: 0.4711275 (746)	total: 9.97s	remaining: 3.38s
747:	learn: 0.4566139	test: 0.4711228	best: 0.4711228 (747)	total: 9.98s	remaining: 3.36s
748:	learn: 0.4565971	test: 0.4711177	best: 0.4711177 (748)	total: 9.99s	remaining: 3.35s
749:	learn: 0.4565836	test: 0.4711174	best: 0.4711174 (749)	total: 10s	remaining: 3.33s
750:	learn: 0.4565699	test: 0.4711145	best: 0.4711145 (750)	total: 10s	remaining: 3.32s
751:	learn: 0.4565516	test: 0.4711133	best: 0.4711133 (751)	total: 10s	remaining: 3.31s
752:	learn: 0.4565381	test: 0.4711083	best: 0.4711083 (752)	total: 10s	remaining: 3.29s
753:	learn: 0.4565243	test: 0.4711052	best: 0.4711052 (753)	total: 10.1s	remaining: 3.28s
754:	learn: 0.4565066	test: 0.4711030	best: 0.4711030 (754)	total: 10.1s	remaining: 3.27s
755:	learn: 0.4564878	test: 0.4710973	best: 0.4710973 (755)	total: 10.1s	remaining: 3.25s
756:	learn: 0.4564763	test: 0.4710932	best: 0.4710932 (756)	total: 10.1s	remaining: 3.24s
757:	learn: 0.4564416	test: 0.4710847	best: 0.4710847 (757)	total: 10.1s	remaining: 3.23s
758:	learn: 0.4564313	test: 0.4710810	best: 0.4710810 (758)	total: 10.1s	remaining: 3.21s
759:	learn: 0.4564050	test: 0.4710868	best: 0.4710810 (758)	total: 10.1s	remaining: 3.2s
760:	learn: 0.4563755	test: 0.4710870	best: 0.4710810 (758)	total: 10.2s	remaining: 3.19s
761:	learn: 0.4563608	test: 0.4710932	best: 0.4710810 (758)	total: 10.2s	remaining: 3.17s
762:	learn: 0.4563503	test: 0.4710859	best: 0.4710810 (758)	total: 10.2s	remaining: 3.16s
763:	learn: 0.4563342	test: 0.4710887	best: 0.4710810 (758)	total: 10.2s	remaining: 3.15s
764:	learn: 0.4563111	test: 0.4710938	best: 0.4710810 (758)	total: 10.2s	remaining: 3.13s
765:	learn: 0.4562950	test: 0.4710805	best: 0.4710805 (765)	total: 10.2s	remaining: 3.12s
766:	learn: 0.4562842	test: 0.4710755	best: 0.4710755 (766)	total: 10.2s	remaining: 3.11s
767:	learn: 0.4562734	test: 0.4710825	best: 0.4710755 (766)	total: 10.2s	remaining: 3.09s
768:	learn: 0.4562607	test: 0.4710759	best: 0.4710755 (766)	total: 10.3s	remaining: 3.08s
769:	learn: 0.4562375	test: 0.4710755	best: 0.4710755 (766)	total: 10.3s	remaining: 3.07s
770:	learn: 0.4562194	test: 0.4710797	best: 0.4710755 (766)	total: 10.3s	remaining: 3.05s
771:	learn: 0.4562022	test: 0.4710862	best: 0.4710755 (766)	total: 10.3s	remaining: 3.04s
772:	learn: 0.4561930	test: 0.4710837	best: 0.4710755 (766)	total: 10.3s	remaining: 3.03s
773:	learn: 0.4561809	test: 0.4710887	best: 0.4710755 (766)	total: 10.3s	remaining: 3.01s
774:	learn: 0.4561555	test: 0.4710928	best: 0.4710755 (766)	total: 10.3s	remaining: 3s
775:	learn: 0.4561396	test: 0.4710843	best: 0.4710755 (766)	total: 10.3s	remaining: 2.99s
776:	learn: 0.4561150	test: 0.4710717	best: 0.4710717 (776)	total: 10.4s	remaining: 2.97s
777:	learn: 0.4560987	test: 0.4710724	best: 0.4710717 (776)	total: 10.4s	remaining: 2.96s
778:	learn: 0.4560744	test: 0.4710624	best: 0.4710624 (778)	total: 10.4s	remaining: 2.95s
779:	learn: 0.4560519	test: 0.4710637	best: 0.4710624 (778)	total: 10.4s	remaining: 2.93s
780:	learn: 0.4560296	test: 0.4710666	best: 0.4710624 (778)	total: 10.4s	remaining: 2.92s
781:	learn: 0.4560254	test: 0.4710649	best: 0.4710624 (778)	total: 10.4s	remaining: 2.91s
782:	learn: 0.4560139	test: 0.4710645	best: 0.4710624 (778)	total: 10.4s	remaining: 2.89s
783:	learn: 0.4559984	test: 0.4710730	best: 0.4710624 (778)	total: 10.5s	remaining: 2.88s
784:	learn: 0.4559747	test: 0.4710745	best: 0.4710624 (778)	total: 10.5s	remaining: 2.87s
785:	learn: 0.4559525	test: 0.4710768	best: 0.4710624 (778)	total: 10.5s	remaining: 2.85s
786:	learn: 0.4559325	test: 0.4710701	best: 0.4710624 (778)	total: 10.5s	remaining: 2.84s
787:	learn: 0.4559149	test: 0.4710770	best: 0.4710624 (778)	total: 10.5s	remaining: 2.83s
788:	learn: 0.4558906	test: 0.4710848	best: 0.4710624 (778)	total: 10.5s	remaining: 2.81s
789:	learn: 0.4558729	test: 0.4710770	best: 0.4710624 (778)	total: 10.5s	remaining: 2.8s
790:	learn: 0.4558494	test: 0.4710717	best: 0.4710624 (778)	total: 10.5s	remaining: 2.79s
791:	learn: 0.4558315	test: 0.4710729	best: 0.4710624 (778)	total: 10.6s	remaining: 2.77s
792:	learn: 0.4558239	test: 0.4710702	best: 0.4710624 (778)	total: 10.6s	remaining: 2.76s
793:	learn: 0.4558102	test: 0.4710632	best: 0.4710624 (778)	total: 10.6s	remaining: 2.75s
794:	learn: 0.4557928	test: 0.4710570	best: 0.4710570 (794)	total: 10.6s	remaining: 2.73s
795:	learn: 0.4557764	test: 0.4710659	best: 0.4710570 (794)	total: 10.6s	remaining: 2.72s
796:	learn: 0.4557441	test: 0.4710689	best: 0.4710570 (794)	total: 10.6s	remaining: 2.71s
797:	learn: 0.4557203	test: 0.4710640	best: 0.4710570 (794)	total: 10.6s	remaining: 2.69s
798:	learn: 0.4556922	test: 0.4710627	best: 0.4710570 (794)	total: 10.7s	remaining: 2.68s
799:	learn: 0.4556782	test: 0.4710679	best: 0.4710570 (794)	total: 10.7s	remaining: 2.67s
800:	learn: 0.4556608	test: 0.4710757	best: 0.4710570 (794)	total: 10.7s	remaining: 2.65s
801:	learn: 0.4556387	test: 0.4710851	best: 0.4710570 (794)	total: 10.7s	remaining: 2.64s
802:	learn: 0.4556292	test: 0.4710903	best: 0.4710570 (794)	total: 10.7s	remaining: 2.63s
803:	learn: 0.4556129	test: 0.4710892	best: 0.4710570 (794)	total: 10.7s	remaining: 2.61s
804:	learn: 0.4556014	test: 0.4710948	best: 0.4710570 (794)	total: 10.7s	remaining: 2.6s
805:	learn: 0.4555798	test: 0.4710954	best: 0.4710570 (794)	total: 10.7s	remaining: 2.59s
806:	learn: 0.4555610	test: 0.4711018	best: 0.4710570 (794)	total: 10.8s	remaining: 2.57s
807:	learn: 0.4555420	test: 0.4711000	best: 0.4710570 (794)	total: 10.8s	remaining: 2.56s
808:	learn: 0.4555202	test: 0.4710894	best: 0.4710570 (794)	total: 10.8s	remaining: 2.55s
809:	learn: 0.4554890	test: 0.4711015	best: 0.4710570 (794)	total: 10.8s	remaining: 2.53s
810:	learn: 0.4554664	test: 0.4710951	best: 0.4710570 (794)	total: 10.8s	remaining: 2.52s
811:	learn: 0.4554377	test: 0.4711013	best: 0.4710570 (794)	total: 10.8s	remaining: 2.51s
812:	learn: 0.4554180	test: 0.4711072	best: 0.4710570 (794)	total: 10.8s	remaining: 2.49s
813:	learn: 0.4553987	test: 0.4711071	best: 0.4710570 (794)	total: 10.9s	remaining: 2.48s
814:	learn: 0.4553741	test: 0.4711052	best: 0.4710570 (794)	total: 10.9s	remaining: 2.47s
bestTest = 0.4710569824
bestIteration = 794
Shrink model to first 795 iterations.
===== ACCURACY SCORE 0.783750 =====

# 3. Predict

In [551]:
y_pred = model.predict(x_pred)
y_pred.shape

(100000,)

In [552]:
submission['Survived'] = y_pred
submission

       PassengerId  Survived
0           100000         0
1           100001         1
2           100002         1
3           100003         0
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         0
99997       199997         0
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

# 4.Submission

In [553]:
submission.to_csv("E:\\data\\kaggle_tabular\\submission\\submission_0424.csv", index = False)
submission

       PassengerId  Survived
0           100000         0
1           100001         1
2           100002         1
3           100003         0
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         0
99997       199997         0
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

---
파일명 : submission_0424.csv     
score : 0.80059