In [1]:
import pandas as pd
import numpy as np
import random
import os

from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold

train_df = pd.read_csv('E:\data\kaggle_tabular/train.csv')
test_df = pd.read_csv('E:\data\kaggle_tabular/test.csv')
submission = pd.read_csv('E:\data\kaggle_tabular/sample_submission.csv')

https://www.kaggle.com/hiro5299834/tps-apr-2021-pseudo-labeling-voting-ensemble

앞으로 해볼 것    
K-fold    
GridSearchCV  > 튜닝하기      
best_columns를 구할 수 있는 게 있었던 거 같은데 - from sklearn.feature_selection import SelectFromModel    > 중요 컬람만 남기기

# data 전처리

* Pclass - a proxy for socio-economic status (SES) where 1st = Upper, 2nd = Middle and 3rd = Lower.
* Sex - male and female.
* Age - fractional if it less than 1 and age estimation in the form of xx.5.
* SibSp - number of siblings / spouses aboard the Synthanic; siblings are brother, sister, stepbrother and stepsister and spouses are husband and wife (mistresses and fiancés were ignored).
* Parch - # of parents / children aboard the Synthanic; parents are mother and father; child are daughter, son, stepdaughter and stepson. Some children travelled only with a nanny, therefore Parch is 0 for them.
* Fare - the paassenger fare.
* Cabin - the cabin number.
* Emarked - port of embarkation where C is Cherbourg, Q is Queenstown and S is Southampton.
* Ticket - ticket number.
* Name - passengers name.
* Survived - target variable where 0 is not survived and 1 is survived.

* 결측값 채우기

In [2]:
print('Missing values per columns in train dataset')
for col in train_df.columns:
    temp_col = train_df[col].isnull().sum()
    print(f'{col}: {temp_col}')

Missing values per columns in train dataset
PassengerId: 0
Survived: 0
Pclass: 0
Name: 0
Sex: 0
Age: 3292
SibSp: 0
Parch: 0
Ticket: 4623
Fare: 134
Cabin: 67866
Embarked: 250

In [3]:
# col = 'Age' 평균 나이로 결측값 채우기
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean())
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].mean())

In [4]:
# col = 'Ticket', 결측값 'X'로 채우기
train_df['Ticket'] = train_df['Ticket'].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')
test_df['Ticket'] = test_df['Ticket'].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')
train_df['Ticket'][:100]

0      X
1      X
2     CA
3     A.
4      X
      ..
95     X
96     X
97    PC
98     X
99     X
Name: Ticket, Length: 100, dtype: object

In [5]:
# col = 'Cabin', 결측값 'X'로 채우기
train_df['Cabin'] = train_df['Cabin'].fillna('X').map(lambda x: x[0].strip())
test_df['Cabin'] = test_df['Cabin'].fillna('X').map(lambda x: x[0].strip())
train_df['Cabin'][:100]

0     C
1     X
2     X
3     X
4     X
     ..
95    X
96    X
97    D
98    X
99    C
Name: Cabin, Length: 100, dtype: object

In [6]:
# col = 'Embarked', 결측값 'X'로 채우기
train_df['Embarked'] = train_df['Embarked'].fillna('X')
test_df['Embarked'] = test_df['Embarked'].fillna('X')
train_df['Embarked'][:100]

0     S
1     S
2     S
3     S
4     S
     ..
95    S
96    Q
97    Q
98    S
99    C
Name: Embarked, Length: 100, dtype: object

In [7]:
# col = 'Fare', 결측값 각 Pclass 마다 fare 중앙값을 넣는다.
fare_map =  train_df[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
# fare_map    # {'Fare': {1: 63.58, 2: 22.72, 3: 10.96}}
train_df['Fare'] = train_df['Fare'].fillna(train_df['Pclass'].map(fare_map['Fare']))
train_df['Fare'] = np.log1p(train_df['Fare'])
train_df['Fare'][:100]

0     3.337192
1     2.663750
2     4.280686
3     2.641910
4     2.170196
        ...
95    3.503754
96    3.312730
97    4.884921
98    3.363149
99    5.633217
Name: Fare, Length: 100, dtype: float64

In [8]:
# col = 'Fare', 결측값 각 Pclass 마다 fare 중앙값을 넣는다.
fare_map =  test_df[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
# fare_map    # {'Fare': {1: 80.68, 2: 14.455, 3: 11.52}}
test_df['Fare'] = test_df['Fare'].fillna(test_df['Pclass'].map(fare_map['Fare']))
test_df['Fare'] = np.log1p(test_df['Fare'])
test_df['Fare'][:100]

0     4.159039
1     1.918392
2     3.686627
3     2.634045
4     3.328268
        ...
95    2.249184
96    2.621766
97    1.969906
98    2.536866
99    3.469479
Name: Fare, Length: 100, dtype: float64

* 앞 이름만 가져오기

In [9]:
train_df['Name'] = train_df['Name'].map(lambda x: x.split(',')[0])
test_df['Name'] = test_df['Name'].map(lambda x: x.split(',')[0])
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,1,Oconnor,male,38.355472,2,0,X,3.337192,C,S
1,1,0,3,Bryan,male,38.355472,0,0,X,2.663750,X,S
2,2,0,3,Owens,male,0.330000,1,2,CA,4.280686,X,S
3,3,0,3,Kramer,male,19.000000,0,0,A.,2.641910,X,S
4,4,1,3,Bond,male,25.000000,0,0,X,2.170196,X,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,2,Bell,female,62.000000,0,0,PC,2.763800,D,C
99996,99996,0,2,Brown,male,66.000000,0,0,X,2.497329,X,S
99997,99997,0,3,Childress,male,37.000000,0,0,X,2.393339,X,S
99998,99998,0,3,Caughlin,male,51.000000,0,1,X,3.463233,X,S
99999,99999,0,3,Enciso,male,55.000000,0,0,X,2.705380,X,S

* 'Survived' 컬럼을 맨 뒤로 보내기

In [10]:
train_df['y_target'] = train_df['Survived']
train_df = train_df.drop(['Survived'], axis=1)
train_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,y_target
0,0,1,Oconnor,male,38.355472,2,0,X,3.337192,C,S,1
1,1,3,Bryan,male,38.355472,0,0,X,2.663750,X,S,0
2,2,3,Owens,male,0.330000,1,2,CA,4.280686,X,S,0
3,3,3,Kramer,male,19.000000,0,0,A.,2.641910,X,S,0
4,4,3,Bond,male,25.000000,0,0,X,2.170196,X,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2,Bell,female,62.000000,0,0,PC,2.763800,D,C,1
99996,99996,2,Brown,male,66.000000,0,0,X,2.497329,X,S,0
99997,99997,3,Childress,male,37.000000,0,0,X,2.393339,X,S,0
99998,99998,3,Caughlin,male,51.000000,0,1,X,3.463233,X,S,0
99999,99999,3,Enciso,male,55.000000,0,0,X,2.705380,X,S,0

* 문자들을 숫자로 치환하기

In [11]:
def label_encoder(c):
    encoder = LabelEncoder()
    return encoder.fit_transform(c)

labels_col = ['Sex','Ticket']
label_encoded_df = train_df[labels_col].apply(label_encoder)
test_label_encoded_df = test_df[labels_col].apply(label_encoder)
# label_encoded_df

onehot_cols = ['Cabin', 'Embarked']
onehot_encoded_df = pd.get_dummies(train_df[onehot_cols])
test_onehot_encoded_df = pd.get_dummies(test_df[onehot_cols])
# onehot_encoded_df

numerical_cols = ['Age', 'SibSp', 'Parch', 'Fare']
scaler = MinMaxScaler()
numerical_df = pd.DataFrame(scaler.fit_transform(train_df[numerical_cols]), columns=numerical_cols)
test_numerical_df = pd.DataFrame(scaler.fit_transform(test_df[numerical_cols]), columns=numerical_cols)
# numerical_df

etc_df = train_df['Pclass']
test_etc_df = test_df['Pclass']

target_df = train_df['y_target']


train_df = pd.concat([etc_df, numerical_df, label_encoded_df, onehot_encoded_df, target_df], axis=1)
test_df = pd.concat([test_etc_df, test_numerical_df, test_label_encoded_df, test_onehot_encoded_df], axis=1)

최종적으로 사용할 데이터 셋

In [12]:
train_df

,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin_A,Cabin_B,Cabin_C,...,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Embarked_X,y_target
0,1,0.440353,0.250,0.000000,0.462375,1,49,0,0,1,...,0,0,0,0,0,0,0,1,0,1
1,3,0.440353,0.000,0.000000,0.351893,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,3,0.002876,0.125,0.222222,0.617161,1,14,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,3,0.217671,0.000,0.000000,0.348310,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,3,0.286700,0.000,0.000000,0.270923,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,0.712379,0.000,0.000000,0.368307,0,21,0,0,0,...,0,0,0,0,0,1,0,0,0,1
99996,2,0.758399,0.000,0.000000,0.324591,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99997,3,0.424758,0.000,0.000000,0.307531,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99998,3,0.585826,0.000,0.111111,0.483053,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99999,3,0.631845,0.000,0.000000,0.358723,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [13]:
test_df

,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Embarked_X
0,3,0.233811,0.000,0.000000,0.634709,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
1,3,0.653979,0.000,0.000000,0.288706,0,49,0,0,0,0,0,0,0,0,1,0,0,1,0
2,1,0.233811,0.000,0.000000,0.561759,0,49,0,1,0,0,0,0,0,0,0,1,0,0,0
3,2,0.307958,0.000,0.000000,0.399218,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
4,1,0.209095,0.000,0.222222,0.506421,0,49,0,1,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3,0.332674,0.000,0.000000,0.364427,0,49,0,0,0,0,0,0,0,0,1,0,1,0,0
99996,1,0.728127,0.125,0.000000,0.646993,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
99997,3,0.579832,0.000,0.000000,0.374506,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
99998,1,0.604548,0.125,0.222222,0.521143,0,21,0,1,0,0,0,0,0,0,0,1,0,0,0
99999,1,0.505685,0.000,0.222222,0.807841,0,21,0,0,0,0,1,0,0,0,0,1,0,0,0

# 1. DATA

In [14]:
N_ESTIMATORS = 1000
N_SPLITS = 10
SEED = 2021
EARLY_STOPPING_ROUNDS = 20
VERBOSE = 1

skf = StratifiedKFold(n_splits=N_SPLITS, shuffle=True, random_state=SEED)

In [15]:
# 훈련 데이터 셋
x = train_df.drop(['y_target'], axis=1)
y = train_df['y_target']
x = x.to_numpy()
y = y.to_numpy()
print(x.shape, y.shape)

(100000, 20) (100000,)

In [16]:
# 예측 데이터 셋
x_pred = test_df
x_pred = x_pred.to_numpy()
print(x_pred.shape)

(100000, 20)

In [17]:
# x_train, x_val, y_train, y_val = train_test_split(x, y, train_size=0.8, shuffle=True, random_state=42)
# print(x_train.shape, x_val.shape)   # (80000, 20) (20000, 20)
# print(y_train.shape, y_val.shape)   # (80000,) (20000,)

# 2. Model

In [21]:
import catboost as ctb

params = {
    'bootstrap_type': 'Poisson',
    'loss_function': 'Logloss',
    'eval_metric': 'Logloss',
    'random_seed': SEED,
    'task_type': 'GPU',
    'max_depth': 8,
    'learning_rate': 0.01,
    'n_estimators': N_ESTIMATORS,
    'max_bin': 280,
    'min_data_in_leaf': 64,
    'l2_leaf_reg': 0.01,
    'subsample': 0.8
}

y_pred = np.zeros(x_pred.shape[0])
# print(y_pred.shape)

#KFold
for fold, (train_idx, valid_idx) in enumerate(skf.split(x, y)) :
    print(f"=====Fold {fold}=====")
    x_train = x[train_idx]
    x_val = x[valid_idx]
    y_train = y[train_idx]
    y_val = y[valid_idx]  
    # print(x_train.shape, x_val.shape)  # (90000, 20) (10000, 20)
    # print(y_train.shape, y_val.shape)  # (90000,) (10000,)
    

    model = ctb.CatBoostClassifier(**params)
    model.fit(x_train, y_train,
            eval_set=[(x_val, y_val)],
            use_best_model=True,
            early_stopping_rounds=EARLY_STOPPING_ROUNDS,
            verbose=VERBOSE)

    y_val_pred = model.predict(x_val)
    acc_score = accuracy_score(y_val, y_val_pred)
    print(f"===== ACCURACY SCORE {acc_score:.6f} =====")    # 0.779000

    y_pred += model.predict(x_pred)

acc_score = accuracy_score(y_val, y_val_pred)
print(f"===== ACCURACY SCORE {acc_score:.6f} =====")    # 0.779000

: 6.16s
522:	learn: 0.4617931	test: 0.4745750	best: 0.4745750 (522)	total: 6.74s	remaining: 6.15s
523:	learn: 0.4617704	test: 0.4745750	best: 0.4745750 (523)	total: 6.75s	remaining: 6.14s
524:	learn: 0.4617372	test: 0.4745840	best: 0.4745750 (523)	total: 6.77s	remaining: 6.12s
525:	learn: 0.4617105	test: 0.4745899	best: 0.4745750 (523)	total: 6.78s	remaining: 6.11s
526:	learn: 0.4616992	test: 0.4745832	best: 0.4745750 (523)	total: 6.79s	remaining: 6.1s
527:	learn: 0.4616737	test: 0.4745793	best: 0.4745750 (523)	total: 6.81s	remaining: 6.08s
528:	learn: 0.4616483	test: 0.4745668	best: 0.4745668 (528)	total: 6.82s	remaining: 6.07s
529:	learn: 0.4616149	test: 0.4745492	best: 0.4745492 (529)	total: 6.83s	remaining: 6.06s
530:	learn: 0.4615977	test: 0.4745378	best: 0.4745378 (530)	total: 6.84s	remaining: 6.04s
531:	learn: 0.4615857	test: 0.4745262	best: 0.4745262 (531)	total: 6.86s	remaining: 6.03s
532:	learn: 0.4615701	test: 0.4745283	best: 0.4745262 (531)	total: 6.87s	remaining: 6.02s
533:	learn: 0.4615532	test: 0.4745358	best: 0.4745262 (531)	total: 6.88s	remaining: 6.01s
534:	learn: 0.4615368	test: 0.4745374	best: 0.4745262 (531)	total: 6.9s	remaining: 5.99s
535:	learn: 0.4615135	test: 0.4745237	best: 0.4745237 (535)	total: 6.91s	remaining: 5.98s
536:	learn: 0.4614837	test: 0.4745267	best: 0.4745237 (535)	total: 6.92s	remaining: 5.97s
537:	learn: 0.4614638	test: 0.4745240	best: 0.4745237 (535)	total: 6.93s	remaining: 5.95s
538:	learn: 0.4614374	test: 0.4745138	best: 0.4745138 (538)	total: 6.95s	remaining: 5.94s
539:	learn: 0.4614119	test: 0.4745163	best: 0.4745138 (538)	total: 6.96s	remaining: 5.93s
540:	learn: 0.4613908	test: 0.4745210	best: 0.4745138 (538)	total: 6.97s	remaining: 5.91s
541:	learn: 0.4613561	test: 0.4745173	best: 0.4745138 (538)	total: 6.98s	remaining: 5.9s
542:	learn: 0.4613345	test: 0.4745124	best: 0.4745124 (542)	total: 7s	remaining: 5.89s
543:	learn: 0.4613191	test: 0.4745039	best: 0.4745039 (543)	total: 7.01s	remaining: 5.88s
544:	learn: 0.4613043	test: 0.4744960	best: 0.4744960 (544)	total: 7.02s	remaining: 5.86s
545:	learn: 0.4612898	test: 0.4745067	best: 0.4744960 (544)	total: 7.04s	remaining: 5.85s
546:	learn: 0.4612693	test: 0.4744982	best: 0.4744960 (544)	total: 7.05s	remaining: 5.84s
547:	learn: 0.4612542	test: 0.4744858	best: 0.4744858 (547)	total: 7.06s	remaining: 5.82s
548:	learn: 0.4612193	test: 0.4744616	best: 0.4744616 (548)	total: 7.07s	remaining: 5.81s
549:	learn: 0.4611859	test: 0.4744538	best: 0.4744538 (549)	total: 7.09s	remaining: 5.8s
550:	learn: 0.4611627	test: 0.4744566	best: 0.4744538 (549)	total: 7.1s	remaining: 5.79s
551:	learn: 0.4611386	test: 0.4744567	best: 0.4744538 (549)	total: 7.11s	remaining: 5.77s
552:	learn: 0.4611037	test: 0.4744417	best: 0.4744417 (552)	total: 7.13s	remaining: 5.76s
553:	learn: 0.4610939	test: 0.4744333	best: 0.4744333 (553)	total: 7.14s	remaining: 5.75s
554:	learn: 0.4610725	test: 0.4744206	best: 0.4744206 (554)	total: 7.15s	remaining: 5.73s
555:	learn: 0.4610503	test: 0.4744099	best: 0.4744099 (555)	total: 7.16s	remaining: 5.72s
556:	learn: 0.4610275	test: 0.4744159	best: 0.4744099 (555)	total: 7.18s	remaining: 5.71s
557:	learn: 0.4610095	test: 0.4744150	best: 0.4744099 (555)	total: 7.19s	remaining: 5.69s
558:	learn: 0.4609951	test: 0.4744037	best: 0.4744037 (558)	total: 7.2s	remaining: 5.68s
559:	learn: 0.4609728	test: 0.4743982	best: 0.4743982 (559)	total: 7.21s	remaining: 5.67s
560:	learn: 0.4609534	test: 0.4743930	best: 0.4743930 (560)	total: 7.23s	remaining: 5.66s
561:	learn: 0.4609356	test: 0.4743928	best: 0.4743928 (561)	total: 7.24s	remaining: 5.64s
562:	learn: 0.4609189	test: 0.4743841	best: 0.4743841 (562)	total: 7.25s	remaining: 5.63s
563:	learn: 0.4609099	test: 0.4743854	best: 0.4743841 (562)	total: 7.26s	remaining: 5.62s
564:	learn: 0.4608759	test: 0.4743746	best: 0.4743746 (564)	total: 7.28s	remaining: 5.6s
565:	learn: 0.4608659	test: 0.4743764	best: 0.4743746 (564)	total: 7.29s	remaining: 5.59s
566:	learn: 0.4608424	test: 0.4743656	best: 0.4743656 (566)	total: 7.3s	remaining: 5.58s
567:	learn: 0.4608223	test: 0.4743659	best: 0.4743656 (566)	total: 7.32s	remaining: 5.56s
568:	learn: 0.4608031	test: 0.4743662	best: 0.4743656 (566)	total: 7.33s	remaining: 5.55s
569:	learn: 0.4607807	test: 0.4743667	best: 0.4743656 (566)	total: 7.34s	remaining: 5.54s
570:	learn: 0.4607478	test: 0.4743663	best: 0.4743656 (566)	total: 7.35s	remaining: 5.53s
571:	learn: 0.4607325	test: 0.4743694	best: 0.4743656 (566)	total: 7.37s	remaining: 5.51s
572:	learn: 0.4607124	test: 0.4743621	best: 0.4743621 (572)	total: 7.38s	remaining: 5.5s
573:	learn: 0.4606970	test: 0.4743595	best: 0.4743595 (573)	total: 7.39s	remaining: 5.49s
574:	learn: 0.4606678	test: 0.4743440	best: 0.4743440 (574)	total: 7.4s	remaining: 5.47s
575:	learn: 0.4606489	test: 0.4743468	best: 0.4743440 (574)	total: 7.42s	remaining: 5.46s
576:	learn: 0.4606312	test: 0.4743450	best: 0.4743440 (574)	total: 7.43s	remaining: 5.45s
577:	learn: 0.4606120	test: 0.4743444	best: 0.4743440 (574)	total: 7.44s	remaining: 5.43s
578:	learn: 0.4605913	test: 0.4743309	best: 0.4743309 (578)	total: 7.46s	remaining: 5.42s
579:	learn: 0.4605696	test: 0.4743317	best: 0.4743309 (578)	total: 7.47s	remaining: 5.41s
580:	learn: 0.4605413	test: 0.4743244	best: 0.4743244 (580)	total: 7.48s	remaining: 5.4s
581:	learn: 0.4605231	test: 0.4743359	best: 0.4743244 (580)	total: 7.5s	remaining: 5.38s
582:	learn: 0.4605098	test: 0.4743321	best: 0.4743244 (580)	total: 7.51s	remaining: 5.37s
583:	learn: 0.4604930	test: 0.4743353	best: 0.4743244 (580)	total: 7.52s	remaining: 5.36s
584:	learn: 0.4604665	test: 0.4743146	best: 0.4743146 (584)	total: 7.53s	remaining: 5.34s
585:	learn: 0.4604555	test: 0.4743183	best: 0.4743146 (584)	total: 7.55s	remaining: 5.33s
586:	learn: 0.4604352	test: 0.4743154	best: 0.4743146 (584)	total: 7.56s	remaining: 5.32s
587:	learn: 0.4604073	test: 0.4743127	best: 0.4743127 (587)	total: 7.57s	remaining: 5.3s
588:	learn: 0.4603913	test: 0.4743181	best: 0.4743127 (587)	total: 7.58s	remaining: 5.29s
589:	learn: 0.4603694	test: 0.4743203	best: 0.4743127 (587)	total: 7.6s	remaining: 5.28s
590:	learn: 0.4603570	test: 0.4743170	best: 0.4743127 (587)	total: 7.61s	remaining: 5.26s
591:	learn: 0.4603431	test: 0.4743092	best: 0.4743092 (591)	total: 7.62s	remaining: 5.25s
592:	learn: 0.4603153	test: 0.4742991	best: 0.4742991 (592)	total: 7.63s	remaining: 5.24s
593:	learn: 0.4602947	test: 0.4742965	best: 0.4742965 (593)	total: 7.65s	remaining: 5.23s
594:	learn: 0.4602805	test: 0.4743000	best: 0.4742965 (593)	total: 7.66s	remaining: 5.21s
595:	learn: 0.4602575	test: 0.4742918	best: 0.4742918 (595)	total: 7.67s	remaining: 5.2s
596:	learn: 0.4602354	test: 0.4742907	best: 0.4742907 (596)	total: 7.69s	remaining: 5.19s
597:	learn: 0.4602236	test: 0.4742876	best: 0.4742876 (597)	total: 7.7s	remaining: 5.17s
598:	learn: 0.4602066	test: 0.4742840	best: 0.4742840 (598)	total: 7.71s	remaining: 5.16s
599:	learn: 0.4601872	test: 0.4742876	best: 0.4742840 (598)	total: 7.72s	remaining: 5.15s
600:	learn: 0.4601680	test: 0.4742639	best: 0.4742639 (600)	total: 7.74s	remaining: 5.14s
601:	learn: 0.4601523	test: 0.4742570	best: 0.4742570 (601)	total: 7.75s	remaining: 5.12s
602:	learn: 0.4601434	test: 0.4742598	best: 0.4742570 (601)	total: 7.76s	remaining: 5.11s
603:	learn: 0.4601175	test: 0.4742641	best: 0.4742570 (601)	total: 7.78s	remaining: 5.1s
604:	learn: 0.4600874	test: 0.4742598	best: 0.4742570 (601)	total: 7.79s	remaining: 5.08s
605:	learn: 0.4600715	test: 0.4742638	best: 0.4742570 (601)	total: 7.8s	remaining: 5.07s
606:	learn: 0.4600351	test: 0.4742626	best: 0.4742570 (601)	total: 7.81s	remaining: 5.06s
607:	learn: 0.4600111	test: 0.4742532	best: 0.4742532 (607)	total: 7.83s	remaining: 5.05s
608:	learn: 0.4599981	test: 0.4742540	best: 0.4742532 (607)	total: 7.84s	remaining: 5.03s
609:	learn: 0.4599838	test: 0.4742524	best: 0.4742524 (609)	total: 7.85s	remaining: 5.02s
610:	learn: 0.4599524	test: 0.4742299	best: 0.4742299 (610)	total: 7.86s	remaining: 5.01s
611:	learn: 0.4599381	test: 0.4742305	best: 0.4742299 (610)	total: 7.88s	remaining: 4.99s
612:	learn: 0.4599253	test: 0.4742247	best: 0.4742247 (612)	total: 7.89s	remaining: 4.98s
613:	learn: 0.4599076	test: 0.4742175	best: 0.4742175 (613)	total: 7.9s	remaining: 4.97s
614:	learn: 0.4598871	test: 0.4742074	best: 0.4742074 (614)	total: 7.92s	remaining: 4.96s
615:	learn: 0.4598707	test: 0.4742008	best: 0.4742008 (615)	total: 7.93s	remaining: 4.94s
616:	learn: 0.4598585	test: 0.4742024	best: 0.4742008 (615)	total: 7.94s	remaining: 4.93s
617:	learn: 0.4598431	test: 0.4742015	best: 0.4742008 (615)	total: 7.95s	remaining: 4.92s
618:	learn: 0.4598171	test: 0.4741870	best: 0.4741870 (618)	total: 7.97s	remaining: 4.9s
619:	learn: 0.4597843	test: 0.4741764	best: 0.4741764 (619)	total: 7.98s	remaining: 4.89s
620:	learn: 0.4597709	test: 0.4741764	best: 0.4741764 (620)	total: 7.99s	remaining: 4.88s
621:	learn: 0.4597341	test: 0.4741799	best: 0.4741764 (620)	total: 8.01s	remaining: 4.87s
622:	learn: 0.4597066	test: 0.4741760	best: 0.4741760 (622)	total: 8.02s	remaining: 4.85s
623:	learn: 0.4596919	test: 0.4741725	best: 0.4741725 (623)	total: 8.03s	remaining: 4.84s
624:	learn: 0.4596796	test: 0.4741687	best: 0.4741687 (624)	total: 8.04s	remaining: 4.83s
625:	learn: 0.4596668	test: 0.4741614	best: 0.4741614 (625)	total: 8.06s	remaining: 4.81s
626:	learn: 0.4596510	test: 0.4741670	best: 0.4741614 (625)	total: 8.07s	remaining: 4.8s
627:	learn: 0.4596351	test: 0.4741768	best: 0.4741614 (625)	total: 8.08s	remaining: 4.79s
628:	learn: 0.4596131	test: 0.4741745	best: 0.4741614 (625)	total: 8.09s	remaining: 4.77s
629:	learn: 0.4596063	test: 0.4741705	best: 0.4741614 (625)	total: 8.11s	remaining: 4.76s
630:	learn: 0.4595947	test: 0.4741696	best: 0.4741614 (625)	total: 8.12s	remaining: 4.75s
631:	learn: 0.4595742	test: 0.4741585	best: 0.4741585 (631)	total: 8.13s	remaining: 4.74s
632:	learn: 0.4595587	test: 0.4741613	best: 0.4741585 (631)	total: 8.14s	remaining: 4.72s
633:	learn: 0.4595429	test: 0.4741585	best: 0.4741585 (631)	total: 8.16s	remaining: 4.71s
634:	learn: 0.4595186	test: 0.4741552	best: 0.4741552 (634)	total: 8.17s	remaining: 4.7s
635:	learn: 0.4594817	test: 0.4741466	best: 0.4741466 (635)	total: 8.19s	remaining: 4.68s
636:	learn: 0.4594697	test: 0.4741451	best: 0.4741451 (636)	total: 8.2s	remaining: 4.67s
637:	learn: 0.4594472	test: 0.4741491	best: 0.4741451 (636)	total: 8.21s	remaining: 4.66s
638:	learn: 0.4594154	test: 0.4741233	best: 0.4741233 (638)	total: 8.22s	remaining: 4.65s
639:	learn: 0.4593903	test: 0.4741226	best: 0.4741226 (639)	total: 8.24s	remaining: 4.63s
640:	learn: 0.4593688	test: 0.4741348	best: 0.4741226 (639)	total: 8.25s	remaining: 4.62s
641:	learn: 0.4593521	test: 0.4741301	best: 0.4741226 (639)	total: 8.27s	remaining: 4.61s
642:	learn: 0.4593421	test: 0.4741314	best: 0.4741226 (639)	total: 8.28s	remaining: 4.6s
643:	learn: 0.4593204	test: 0.4741234	best: 0.4741226 (639)	total: 8.29s	remaining: 4.58s
644:	learn: 0.4593114	test: 0.4741177	best: 0.4741177 (644)	total: 8.31s	remaining: 4.57s
645:	learn: 0.4592917	test: 0.4741156	best: 0.4741156 (645)	total: 8.32s	remaining: 4.56s
646:	learn: 0.4592819	test: 0.4741078	best: 0.4741078 (646)	total: 8.33s	remaining: 4.55s
647:	learn: 0.4592713	test: 0.4741139	best: 0.4741078 (646)	total: 8.35s	remaining: 4.53s
648:	learn: 0.4592580	test: 0.4741045	best: 0.4741045 (648)	total: 8.36s	remaining: 4.52s
649:	learn: 0.4592450	test: 0.4741068	best: 0.4741045 (648)	total: 8.37s	remaining: 4.51s
650:	learn: 0.4592325	test: 0.4741029	best: 0.4741029 (650)	total: 8.38s	remaining: 4.5s
651:	learn: 0.4591971	test: 0.4741055	best: 0.4741029 (650)	total: 8.4s	remaining: 4.48s
652:	learn: 0.4591763	test: 0.4740966	best: 0.4740966 (652)	total: 8.41s	remaining: 4.47s
653:	learn: 0.4591547	test: 0.4740989	best: 0.4740966 (652)	total: 8.42s	remaining: 4.46s
654:	learn: 0.4591339	test: 0.4740929	best: 0.4740929 (654)	total: 8.44s	remaining: 4.44s
655:	learn: 0.4591028	test: 0.4740885	best: 0.4740885 (655)	total: 8.45s	remaining: 4.43s
656:	learn: 0.4590895	test: 0.4740921	best: 0.4740885 (655)	total: 8.46s	remaining: 4.42s
657:	learn: 0.4590754	test: 0.4740869	best: 0.4740869 (657)	total: 8.48s	remaining: 4.41s
658:	learn: 0.4590670	test: 0.4740869	best: 0.4740869 (658)	total: 8.49s	remaining: 4.39s
659:	learn: 0.4590481	test: 0.4740832	best: 0.4740832 (659)	total: 8.5s	remaining: 4.38s
660:	learn: 0.4590296	test: 0.4741003	best: 0.4740832 (659)	total: 8.52s	remaining: 4.37s
661:	learn: 0.4590108	test: 0.4741062	best: 0.4740832 (659)	total: 8.53s	remaining: 4.36s
662:	learn: 0.4589937	test: 0.4740977	best: 0.4740832 (659)	total: 8.54s	remaining: 4.34s
663:	learn: 0.4589665	test: 0.4740820	best: 0.4740820 (663)	total: 8.56s	remaining: 4.33s
664:	learn: 0.4589371	test: 0.4740886	best: 0.4740820 (663)	total: 8.57s	remaining: 4.32s
665:	learn: 0.4589240	test: 0.4740893	best: 0.4740820 (663)	total: 8.58s	remaining: 4.3s
666:	learn: 0.4589001	test: 0.4740970	best: 0.4740820 (663)	total: 8.6s	remaining: 4.29s
667:	learn: 0.4588852	test: 0.4740961	best: 0.4740820 (663)	total: 8.61s	remaining: 4.28s
668:	learn: 0.4588682	test: 0.4740932	best: 0.4740820 (663)	total: 8.62s	remaining: 4.26s
669:	learn: 0.4588456	test: 0.4740951	best: 0.4740820 (663)	total: 8.63s	remaining: 4.25s
670:	learn: 0.4588278	test: 0.4740876	best: 0.4740820 (663)	total: 8.65s	remaining: 4.24s
671:	learn: 0.4588115	test: 0.4740841	best: 0.4740820 (663)	total: 8.66s	remaining: 4.23s
672:	learn: 0.4588010	test: 0.4740908	best: 0.4740820 (663)	total: 8.68s	remaining: 4.21s
673:	learn: 0.4587855	test: 0.4740835	best: 0.4740820 (663)	total: 8.69s	remaining: 4.2s
674:	learn: 0.4587633	test: 0.4740878	best: 0.4740820 (663)	total: 8.7s	remaining: 4.19s
675:	learn: 0.4587368	test: 0.4740900	best: 0.4740820 (663)	total: 8.72s	remaining: 4.18s
676:	learn: 0.4587106	test: 0.4740899	best: 0.4740820 (663)	total: 8.73s	remaining: 4.17s
677:	learn: 0.4586933	test: 0.4740875	best: 0.4740820 (663)	total: 8.74s	remaining: 4.15s
678:	learn: 0.4586721	test: 0.4740833	best: 0.4740820 (663)	total: 8.76s	remaining: 4.14s
679:	learn: 0.4586539	test: 0.4740884	best: 0.4740820 (663)	total: 8.77s	remaining: 4.13s
680:	learn: 0.4586354	test: 0.4740874	best: 0.4740820 (663)	total: 8.79s	remaining: 4.12s
681:	learn: 0.4586154	test: 0.4740918	best: 0.4740820 (663)	total: 8.8s	remaining: 4.1s
682:	learn: 0.4585951	test: 0.4740840	best: 0.4740820 (663)	total: 8.81s	remaining: 4.09s
683:	learn: 0.4585770	test: 0.4740683	best: 0.4740683 (683)	total: 8.83s	remaining: 4.08s
684:	learn: 0.4585568	test: 0.4740786	best: 0.4740683 (683)	total: 8.84s	remaining: 4.07s
685:	learn: 0.4585369	test: 0.4740669	best: 0.4740669 (685)	total: 8.85s	remaining: 4.05s
686:	learn: 0.4585189	test: 0.4740773	best: 0.4740669 (685)	total: 8.87s	remaining: 4.04s
687:	learn: 0.4584931	test: 0.4740866	best: 0.4740669 (685)	total: 8.88s	remaining: 4.03s
688:	learn: 0.4584739	test: 0.4740856	best: 0.4740669 (685)	total: 8.9s	remaining: 4.01s
689:	learn: 0.4584351	test: 0.4740857	best: 0.4740669 (685)	total: 8.91s	remaining: 4s
690:	learn: 0.4584124	test: 0.4740773	best: 0.4740669 (685)	total: 8.92s	remaining: 3.99s
691:	learn: 0.4583966	test: 0.4740646	best: 0.4740646 (691)	total: 8.94s	remaining: 3.98s
692:	learn: 0.4583798	test: 0.4740718	best: 0.4740646 (691)	total: 8.95s	remaining: 3.96s
693:	learn: 0.4583575	test: 0.4740687	best: 0.4740646 (691)	total: 8.96s	remaining: 3.95s
694:	learn: 0.4583478	test: 0.4740661	best: 0.4740646 (691)	total: 8.98s	remaining: 3.94s
695:	learn: 0.4583283	test: 0.4740738	best: 0.4740646 (691)	total: 8.99s	remaining: 3.93s
696:	learn: 0.4583020	test: 0.4740704	best: 0.4740646 (691)	total: 9s	remaining: 3.91s
697:	learn: 0.4582905	test: 0.4740737	best: 0.4740646 (691)	total: 9.01s	remaining: 3.9s
698:	learn: 0.4582673	test: 0.4740788	best: 0.4740646 (691)	total: 9.03s	remaining: 3.89s
699:	learn: 0.4582550	test: 0.4740742	best: 0.4740646 (691)	total: 9.04s	remaining: 3.87s
700:	learn: 0.4582284	test: 0.4740722	best: 0.4740646 (691)	total: 9.05s	remaining: 3.86s
701:	learn: 0.4582189	test: 0.4740772	best: 0.4740646 (691)	total: 9.07s	remaining: 3.85s
702:	learn: 0.4582054	test: 0.4740791	best: 0.4740646 (691)	total: 9.08s	remaining: 3.83s
703:	learn: 0.4581876	test: 0.4740701	best: 0.4740646 (691)	total: 9.09s	remaining: 3.82s
704:	learn: 0.4581653	test: 0.4740638	best: 0.4740638 (704)	total: 9.11s	remaining: 3.81s
705:	learn: 0.4581434	test: 0.4740585	best: 0.4740585 (705)	total: 9.12s	remaining: 3.8s
706:	learn: 0.4581332	test: 0.4740684	best: 0.4740585 (705)	total: 9.13s	remaining: 3.78s
707:	learn: 0.4581158	test: 0.4740646	best: 0.4740585 (705)	total: 9.14s	remaining: 3.77s
708:	learn: 0.4581014	test: 0.4740602	best: 0.4740585 (705)	total: 9.16s	remaining: 3.76s
709:	learn: 0.4580845	test: 0.4740539	best: 0.4740539 (709)	total: 9.17s	remaining: 3.75s
710:	learn: 0.4580688	test: 0.4740492	best: 0.4740492 (710)	total: 9.18s	remaining: 3.73s
711:	learn: 0.4580519	test: 0.4740592	best: 0.4740492 (710)	total: 9.2s	remaining: 3.72s
712:	learn: 0.4580359	test: 0.4740515	best: 0.4740492 (710)	total: 9.21s	remaining: 3.71s
713:	learn: 0.4580059	test: 0.4740516	best: 0.4740492 (710)	total: 9.22s	remaining: 3.69s
714:	learn: 0.4579935	test: 0.4740514	best: 0.4740492 (710)	total: 9.23s	remaining: 3.68s
715:	learn: 0.4579830	test: 0.4740564	best: 0.4740492 (710)	total: 9.25s	remaining: 3.67s
716:	learn: 0.4579641	test: 0.4740528	best: 0.4740492 (710)	total: 9.26s	remaining: 3.65s
717:	learn: 0.4579463	test: 0.4740416	best: 0.4740416 (717)	total: 9.27s	remaining: 3.64s
718:	learn: 0.4579383	test: 0.4740417	best: 0.4740416 (717)	total: 9.29s	remaining: 3.63s
719:	learn: 0.4579235	test: 0.4740436	best: 0.4740416 (717)	total: 9.3s	remaining: 3.62s
720:	learn: 0.4579097	test: 0.4740406	best: 0.4740406 (720)	total: 9.31s	remaining: 3.6s
721:	learn: 0.4578945	test: 0.4740398	best: 0.4740398 (721)	total: 9.32s	remaining: 3.59s
722:	learn: 0.4578854	test: 0.4740394	best: 0.4740394 (722)	total: 9.34s	remaining: 3.58s
723:	learn: 0.4578703	test: 0.4740408	best: 0.4740394 (722)	total: 9.35s	remaining: 3.56s
724:	learn: 0.4578588	test: 0.4740459	best: 0.4740394 (722)	total: 9.36s	remaining: 3.55s
725:	learn: 0.4578483	test: 0.4740566	best: 0.4740394 (722)	total: 9.38s	remaining: 3.54s
726:	learn: 0.4578247	test: 0.4740553	best: 0.4740394 (722)	total: 9.39s	remaining: 3.52s
727:	learn: 0.4578109	test: 0.4740504	best: 0.4740394 (722)	total: 9.4s	remaining: 3.51s
728:	learn: 0.4577990	test: 0.4740562	best: 0.4740394 (722)	total: 9.41s	remaining: 3.5s
729:	learn: 0.4577806	test: 0.4740526	best: 0.4740394 (722)	total: 9.43s	remaining: 3.49s
730:	learn: 0.4577740	test: 0.4740506	best: 0.4740394 (722)	total: 9.44s	remaining: 3.47s
731:	learn: 0.4577471	test: 0.4740476	best: 0.4740394 (722)	total: 9.45s	remaining: 3.46s
732:	learn: 0.4577374	test: 0.4740455	best: 0.4740394 (722)	total: 9.47s	remaining: 3.45s
733:	learn: 0.4577185	test: 0.4740491	best: 0.4740394 (722)	total: 9.48s	remaining: 3.44s
734:	learn: 0.4576914	test: 0.4740659	best: 0.4740394 (722)	total: 9.49s	remaining: 3.42s
735:	learn: 0.4576809	test: 0.4740621	best: 0.4740394 (722)	total: 9.5s	remaining: 3.41s
736:	learn: 0.4576652	test: 0.4740703	best: 0.4740394 (722)	total: 9.52s	remaining: 3.4s
737:	learn: 0.4576559	test: 0.4740707	best: 0.4740394 (722)	total: 9.53s	remaining: 3.38s
738:	learn: 0.4576236	test: 0.4740727	best: 0.4740394 (722)	total: 9.54s	remaining: 3.37s
739:	learn: 0.4576111	test: 0.4740646	best: 0.4740394 (722)	total: 9.55s	remaining: 3.36s
740:	learn: 0.4575925	test: 0.4740546	best: 0.4740394 (722)	total: 9.57s	remaining: 3.34s
741:	learn: 0.4575707	test: 0.4740565	best: 0.4740394 (722)	total: 9.58s	remaining: 3.33s
742:	learn: 0.4575584	test: 0.4740538	best: 0.4740394 (722)	total: 9.59s	remaining: 3.32s
bestTest = 0.4740393555
bestIteration = 722
Shrink model to first 723 iterations.
===== ACCURACY SCORE 0.779000 =====
===== ACCURACY SCORE 0.779000 =====

# 3. Predict

In [22]:
y_pred /= N_SPLITS
y_pred.shape

(100000,)

In [24]:
submission['Survived'] = np.round(y_pred).astype(int)
submission

       PassengerId  Survived
0           100000         0
1           100001         1
2           100002         1
3           100003         0
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         0
99997       199997         0
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

# 4.Submission

In [25]:
submission.to_csv("E:\\data\\kaggle_tabular\\submission_0425_catboost2.csv", index = False)
submission

       PassengerId  Survived
0           100000         0
1           100001         1
2           100002         1
3           100003         0
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         0
99997       199997         0
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

---
파일명 : submission_0425_catboost2.csv     
score : 0.80281