In [20]:
import pandas as pd
import numpy as np
import random
import os

from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold

train_df = pd.read_csv('E:\data\kaggle_tabular/train.csv')
test_df = pd.read_csv('E:\data\kaggle_tabular/test.csv')
submission = pd.read_csv('E:\data\kaggle_tabular/sample_submission.csv')

https://www.kaggle.com/hiro5299834/tps-apr-2021-pseudo-labeling-voting-ensemble

앞으로 해볼 것    
K-fold    
GridSearchCV    
best_columns를 구할 수 있는 게 있었던 거 같은데 - from sklearn.feature_selection import SelectFromModel

# data 전처리

* Pclass - a proxy for socio-economic status (SES) where 1st = Upper, 2nd = Middle and 3rd = Lower.
* Sex - male and female.
* Age - fractional if it less than 1 and age estimation in the form of xx.5.
* SibSp - number of siblings / spouses aboard the Synthanic; siblings are brother, sister, stepbrother and stepsister and spouses are husband and wife (mistresses and fiancés were ignored).
* Parch - # of parents / children aboard the Synthanic; parents are mother and father; child are daughter, son, stepdaughter and stepson. Some children travelled only with a nanny, therefore Parch is 0 for them.
* Fare - the paassenger fare.
* Cabin - the cabin number.
* Emarked - port of embarkation where C is Cherbourg, Q is Queenstown and S is Southampton.
* Ticket - ticket number.
* Name - passengers name.
* Survived - target variable where 0 is not survived and 1 is survived.

* 결측값 채우기

In [21]:
print('Missing values per columns in train dataset')
for col in train_df.columns:
    temp_col = train_df[col].isnull().sum()
    print(f'{col}: {temp_col}')

Missing values per columns in train dataset
PassengerId: 0
Survived: 0
Pclass: 0
Name: 0
Sex: 0
Age: 3292
SibSp: 0
Parch: 0
Ticket: 4623
Fare: 134
Cabin: 67866
Embarked: 250

In [22]:
# col = 'Age' 평균 나이로 결측값 채우기
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean())
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].mean())

In [23]:
# col = 'Ticket', 결측값 'X'로 채우기
train_df['Ticket'] = train_df['Ticket'].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')
test_df['Ticket'] = test_df['Ticket'].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')
train_df['Ticket'][:100]

0      X
1      X
2     CA
3     A.
4      X
      ..
95     X
96     X
97    PC
98     X
99     X
Name: Ticket, Length: 100, dtype: object

In [24]:
# col = 'Cabin', 결측값 'X'로 채우기
train_df['Cabin'] = train_df['Cabin'].fillna('X').map(lambda x: x[0].strip())
test_df['Cabin'] = test_df['Cabin'].fillna('X').map(lambda x: x[0].strip())
train_df['Cabin'][:100]

0     C
1     X
2     X
3     X
4     X
     ..
95    X
96    X
97    D
98    X
99    C
Name: Cabin, Length: 100, dtype: object

In [25]:
# col = 'Embarked', 결측값 'X'로 채우기
train_df['Embarked'] = train_df['Embarked'].fillna('X')
test_df['Embarked'] = test_df['Embarked'].fillna('X')
train_df['Embarked'][:100]

0     S
1     S
2     S
3     S
4     S
     ..
95    S
96    Q
97    Q
98    S
99    C
Name: Embarked, Length: 100, dtype: object

In [26]:
# col = 'Fare', 결측값 각 Pclass 마다 fare 중앙값을 넣는다.
fare_map =  train_df[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
# fare_map    # {'Fare': {1: 63.58, 2: 22.72, 3: 10.96}}
train_df['Fare'] = train_df['Fare'].fillna(train_df['Pclass'].map(fare_map['Fare']))
train_df['Fare'] = np.log1p(train_df['Fare'])
train_df['Fare'][:100]

0     3.337192
1     2.663750
2     4.280686
3     2.641910
4     2.170196
        ...
95    3.503754
96    3.312730
97    4.884921
98    3.363149
99    5.633217
Name: Fare, Length: 100, dtype: float64

In [27]:
# col = 'Fare', 결측값 각 Pclass 마다 fare 중앙값을 넣는다.
fare_map =  test_df[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
# fare_map    # {'Fare': {1: 80.68, 2: 14.455, 3: 11.52}}
test_df['Fare'] = test_df['Fare'].fillna(test_df['Pclass'].map(fare_map['Fare']))
test_df['Fare'] = np.log1p(test_df['Fare'])
test_df['Fare'][:100]

0     4.159039
1     1.918392
2     3.686627
3     2.634045
4     3.328268
        ...
95    2.249184
96    2.621766
97    1.969906
98    2.536866
99    3.469479
Name: Fare, Length: 100, dtype: float64

* 앞 이름만 가져오기

In [28]:
train_df['Name'] = train_df['Name'].map(lambda x: x.split(',')[0])
test_df['Name'] = test_df['Name'].map(lambda x: x.split(',')[0])
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,1,Oconnor,male,38.355472,2,0,X,3.337192,C,S
1,1,0,3,Bryan,male,38.355472,0,0,X,2.663750,X,S
2,2,0,3,Owens,male,0.330000,1,2,CA,4.280686,X,S
3,3,0,3,Kramer,male,19.000000,0,0,A.,2.641910,X,S
4,4,1,3,Bond,male,25.000000,0,0,X,2.170196,X,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,2,Bell,female,62.000000,0,0,PC,2.763800,D,C
99996,99996,0,2,Brown,male,66.000000,0,0,X,2.497329,X,S
99997,99997,0,3,Childress,male,37.000000,0,0,X,2.393339,X,S
99998,99998,0,3,Caughlin,male,51.000000,0,1,X,3.463233,X,S
99999,99999,0,3,Enciso,male,55.000000,0,0,X,2.705380,X,S

* 'Survived' 컬럼을 맨 뒤로 보내기

In [29]:
train_df['y_target'] = train_df['Survived']
train_df = train_df.drop(['Survived'], axis=1)
train_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,y_target
0,0,1,Oconnor,male,38.355472,2,0,X,3.337192,C,S,1
1,1,3,Bryan,male,38.355472,0,0,X,2.663750,X,S,0
2,2,3,Owens,male,0.330000,1,2,CA,4.280686,X,S,0
3,3,3,Kramer,male,19.000000,0,0,A.,2.641910,X,S,0
4,4,3,Bond,male,25.000000,0,0,X,2.170196,X,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2,Bell,female,62.000000,0,0,PC,2.763800,D,C,1
99996,99996,2,Brown,male,66.000000,0,0,X,2.497329,X,S,0
99997,99997,3,Childress,male,37.000000,0,0,X,2.393339,X,S,0
99998,99998,3,Caughlin,male,51.000000,0,1,X,3.463233,X,S,0
99999,99999,3,Enciso,male,55.000000,0,0,X,2.705380,X,S,0

* 문자들을 숫자로 치환하기

In [30]:
def label_encoder(c):
    encoder = LabelEncoder()
    return encoder.fit_transform(c)

labels_col = ['Sex','Ticket']
label_encoded_df = train_df[labels_col].apply(label_encoder)
test_label_encoded_df = test_df[labels_col].apply(label_encoder)
# label_encoded_df

onehot_cols = ['Cabin', 'Embarked']
onehot_encoded_df = pd.get_dummies(train_df[onehot_cols])
test_onehot_encoded_df = pd.get_dummies(test_df[onehot_cols])
# onehot_encoded_df

numerical_cols = ['Age', 'SibSp', 'Parch', 'Fare']
scaler = MinMaxScaler()
numerical_df = pd.DataFrame(scaler.fit_transform(train_df[numerical_cols]), columns=numerical_cols)
test_numerical_df = pd.DataFrame(scaler.fit_transform(test_df[numerical_cols]), columns=numerical_cols)
# numerical_df

etc_df = train_df['Pclass']
test_etc_df = test_df['Pclass']

target_df = train_df['y_target']


train_df = pd.concat([etc_df, numerical_df, label_encoded_df, onehot_encoded_df, target_df], axis=1)
test_df = pd.concat([test_etc_df, test_numerical_df, test_label_encoded_df, test_onehot_encoded_df], axis=1)

최종적으로 사용할 데이터 셋

In [31]:
train_df

,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin_A,Cabin_B,Cabin_C,...,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Embarked_X,y_target
0,1,0.440353,0.250,0.000000,0.462375,1,49,0,0,1,...,0,0,0,0,0,0,0,1,0,1
1,3,0.440353,0.000,0.000000,0.351893,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,3,0.002876,0.125,0.222222,0.617161,1,14,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,3,0.217671,0.000,0.000000,0.348310,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,3,0.286700,0.000,0.000000,0.270923,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,0.712379,0.000,0.000000,0.368307,0,21,0,0,0,...,0,0,0,0,0,1,0,0,0,1
99996,2,0.758399,0.000,0.000000,0.324591,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99997,3,0.424758,0.000,0.000000,0.307531,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99998,3,0.585826,0.000,0.111111,0.483053,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99999,3,0.631845,0.000,0.000000,0.358723,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [32]:
test_df

,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Embarked_X
0,3,0.233811,0.000,0.000000,0.634709,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
1,3,0.653979,0.000,0.000000,0.288706,0,49,0,0,0,0,0,0,0,0,1,0,0,1,0
2,1,0.233811,0.000,0.000000,0.561759,0,49,0,1,0,0,0,0,0,0,0,1,0,0,0
3,2,0.307958,0.000,0.000000,0.399218,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
4,1,0.209095,0.000,0.222222,0.506421,0,49,0,1,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3,0.332674,0.000,0.000000,0.364427,0,49,0,0,0,0,0,0,0,0,1,0,1,0,0
99996,1,0.728127,0.125,0.000000,0.646993,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
99997,3,0.579832,0.000,0.000000,0.374506,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
99998,1,0.604548,0.125,0.222222,0.521143,0,21,0,1,0,0,0,0,0,0,0,1,0,0,0
99999,1,0.505685,0.000,0.222222,0.807841,0,21,0,0,0,0,1,0,0,0,0,1,0,0,0

# 1. DATA

In [33]:
N_ESTIMATORS = 1000
N_SPLITS = 10
SEED = 2021
EARLY_STOPPING_ROUNDS = 20
VERBOSE = 1

skf = StratifiedKFold(n_splits=N_SPLITS, shuffle=True, random_state=SEED)

In [34]:
# 훈련 데이터 셋
x = train_df.drop(['y_target'], axis=1)
y = train_df['y_target']
x = x.to_numpy()
y = y.to_numpy()
print(x.shape, y.shape)

(100000, 20) (100000,)

In [35]:
# 예측 데이터 셋
x_pred = test_df
x_pred = x_pred.to_numpy()
print(x_pred.shape)

(100000, 20)

In [36]:
# x_train, x_val, y_train, y_val = train_test_split(x, y, train_size=0.8, shuffle=True, random_state=42)
# print(x_train.shape, x_val.shape)   # (80000, 20) (20000, 20)
# print(y_train.shape, y_val.shape)   # (80000,) (20000,)

# 2. Model

In [38]:
import lightgbm as lgb

params = {
    'metric': 'binary_logloss',
    'n_estimators': N_ESTIMATORS,
    'objective': 'binary',
    'random_state': SEED,
    'learning_rate': 0.01,
    'min_child_samples': 150,
    'reg_alpha': 3e-5,
    'reg_lambda': 9e-2,
    'num_leaves': 20,
    'max_depth': 16,
    'colsample_bytree': 0.8,
    'subsample': 0.8,
    'subsample_freq': 2,
    'max_bin': 240,
}

#KFold
for fold, (train_idx, valid_idx) in enumerate(skf.split(x, y)) :
    print(f"=====Fold {fold}=====")
    x_train = x[train_idx]
    x_val = x[valid_idx]
    y_train = y[train_idx]
    y_val = y[valid_idx]  
    # print(x_train.shape, x_val.shape)  # (90000, 20) (10000, 20)
    # print(y_train.shape, y_val.shape)  # (90000,) (10000,)
    

    model = lgb.LGBMClassifier(**params)
    model.fit(x_train, y_train,
            eval_set=[(x_val, y_val)],
            early_stopping_rounds=EARLY_STOPPING_ROUNDS,
            verbose=VERBOSE)

    y_val_pred = model.predict(x_val)
    acc_score = accuracy_score(y_val, y_val_pred)
    print(f"===== ACCURACY SCORE {acc_score:.6f} =====")    # 0.776500 

acc_score = accuracy_score(y_val, y_val_pred)
print(f"===== ACCURACY SCORE {acc_score:.6f} =====")    # 0.776500

ogloss: 0.474263
[436]	valid_0's binary_logloss: 0.474252
[437]	valid_0's binary_logloss: 0.474222
[438]	valid_0's binary_logloss: 0.474203
[439]	valid_0's binary_logloss: 0.474197
[440]	valid_0's binary_logloss: 0.474177
[441]	valid_0's binary_logloss: 0.474157
[442]	valid_0's binary_logloss: 0.474142
[443]	valid_0's binary_logloss: 0.474132
[444]	valid_0's binary_logloss: 0.474119
[445]	valid_0's binary_logloss: 0.474104
[446]	valid_0's binary_logloss: 0.474081
[447]	valid_0's binary_logloss: 0.474073
[448]	valid_0's binary_logloss: 0.474061
[449]	valid_0's binary_logloss: 0.474045
[450]	valid_0's binary_logloss: 0.474031
[451]	valid_0's binary_logloss: 0.474021
[452]	valid_0's binary_logloss: 0.47401
[453]	valid_0's binary_logloss: 0.474004
[454]	valid_0's binary_logloss: 0.473987
[455]	valid_0's binary_logloss: 0.473967
[456]	valid_0's binary_logloss: 0.473949
[457]	valid_0's binary_logloss: 0.473937
[458]	valid_0's binary_logloss: 0.473921
[459]	valid_0's binary_logloss: 0.473903
[460]	valid_0's binary_logloss: 0.473886
[461]	valid_0's binary_logloss: 0.473872
[462]	valid_0's binary_logloss: 0.473858
[463]	valid_0's binary_logloss: 0.473837
[464]	valid_0's binary_logloss: 0.473823
[465]	valid_0's binary_logloss: 0.473811
[466]	valid_0's binary_logloss: 0.473792
[467]	valid_0's binary_logloss: 0.473778
[468]	valid_0's binary_logloss: 0.473766
[469]	valid_0's binary_logloss: 0.473748
[470]	valid_0's binary_logloss: 0.473729
[471]	valid_0's binary_logloss: 0.473716
[472]	valid_0's binary_logloss: 0.473705
[473]	valid_0's binary_logloss: 0.473694
[474]	valid_0's binary_logloss: 0.473684
[475]	valid_0's binary_logloss: 0.473669
[476]	valid_0's binary_logloss: 0.473658
[477]	valid_0's binary_logloss: 0.473651
[478]	valid_0's binary_logloss: 0.473642
[479]	valid_0's binary_logloss: 0.473636
[480]	valid_0's binary_logloss: 0.473625
[481]	valid_0's binary_logloss: 0.473613
[482]	valid_0's binary_logloss: 0.473602
[483]	valid_0's binary_logloss: 0.473582
[484]	valid_0's binary_logloss: 0.47356
[485]	valid_0's binary_logloss: 0.473557
[486]	valid_0's binary_logloss: 0.473543
[487]	valid_0's binary_logloss: 0.473526
[488]	valid_0's binary_logloss: 0.473519
[489]	valid_0's binary_logloss: 0.473506
[490]	valid_0's binary_logloss: 0.473495
[491]	valid_0's binary_logloss: 0.473485
[492]	valid_0's binary_logloss: 0.473477
[493]	valid_0's binary_logloss: 0.473456
[494]	valid_0's binary_logloss: 0.47345
[495]	valid_0's binary_logloss: 0.473439
[496]	valid_0's binary_logloss: 0.473429
[497]	valid_0's binary_logloss: 0.473422
[498]	valid_0's binary_logloss: 0.473405
[499]	valid_0's binary_logloss: 0.473393
[500]	valid_0's binary_logloss: 0.473384
[501]	valid_0's binary_logloss: 0.473387
[502]	valid_0's binary_logloss: 0.473377
[503]	valid_0's binary_logloss: 0.47336
[504]	valid_0's binary_logloss: 0.473343
[505]	valid_0's binary_logloss: 0.473329
[506]	valid_0's binary_logloss: 0.473318
[507]	valid_0's binary_logloss: 0.473305
[508]	valid_0's binary_logloss: 0.473301
[509]	valid_0's binary_logloss: 0.473286
[510]	valid_0's binary_logloss: 0.473275
[511]	valid_0's binary_logloss: 0.473259
[512]	valid_0's binary_logloss: 0.473243
[513]	valid_0's binary_logloss: 0.473236
[514]	valid_0's binary_logloss: 0.473223
[515]	valid_0's binary_logloss: 0.473213
[516]	valid_0's binary_logloss: 0.473204
[517]	valid_0's binary_logloss: 0.473198
[518]	valid_0's binary_logloss: 0.473188
[519]	valid_0's binary_logloss: 0.473182
[520]	valid_0's binary_logloss: 0.473179
[521]	valid_0's binary_logloss: 0.473168
[522]	valid_0's binary_logloss: 0.473156
[523]	valid_0's binary_logloss: 0.47315
[524]	valid_0's binary_logloss: 0.473138
[525]	valid_0's binary_logloss: 0.473127
[526]	valid_0's binary_logloss: 0.47312
[527]	valid_0's binary_logloss: 0.473103
[528]	valid_0's binary_logloss: 0.47309
[529]	valid_0's binary_logloss: 0.473078
[530]	valid_0's binary_logloss: 0.473064
[531]	valid_0's binary_logloss: 0.473062
[532]	valid_0's binary_logloss: 0.47305
[533]	valid_0's binary_logloss: 0.473041
[534]	valid_0's binary_logloss: 0.473035
[535]	valid_0's binary_logloss: 0.473025
[536]	valid_0's binary_logloss: 0.473014
[537]	valid_0's binary_logloss: 0.473011
[538]	valid_0's binary_logloss: 0.473007
[539]	valid_0's binary_logloss: 0.472998
[540]	valid_0's binary_logloss: 0.472989
[541]	valid_0's binary_logloss: 0.472975
[542]	valid_0's binary_logloss: 0.472963
[543]	valid_0's binary_logloss: 0.472952
[544]	valid_0's binary_logloss: 0.47294
[545]	valid_0's binary_logloss: 0.472935
[546]	valid_0's binary_logloss: 0.472927
[547]	valid_0's binary_logloss: 0.472916
[548]	valid_0's binary_logloss: 0.472913
[549]	valid_0's binary_logloss: 0.472907
[550]	valid_0's binary_logloss: 0.472897
[551]	valid_0's binary_logloss: 0.4729
[552]	valid_0's binary_logloss: 0.472891
[553]	valid_0's binary_logloss: 0.472884
[554]	valid_0's binary_logloss: 0.472879
[555]	valid_0's binary_logloss: 0.472866
[556]	valid_0's binary_logloss: 0.472854
[557]	valid_0's binary_logloss: 0.47285
[558]	valid_0's binary_logloss: 0.472844
[559]	valid_0's binary_logloss: 0.472827
[560]	valid_0's binary_logloss: 0.472822
[561]	valid_0's binary_logloss: 0.472808
[562]	valid_0's binary_logloss: 0.472798
[563]	valid_0's binary_logloss: 0.472801
[564]	valid_0's binary_logloss: 0.472802
[565]	valid_0's binary_logloss: 0.472789
[566]	valid_0's binary_logloss: 0.472782
[567]	valid_0's binary_logloss: 0.472779
[568]	valid_0's binary_logloss: 0.472776
[569]	valid_0's binary_logloss: 0.472772
[570]	valid_0's binary_logloss: 0.472769
[571]	valid_0's binary_logloss: 0.472765
[572]	valid_0's binary_logloss: 0.472759
[573]	valid_0's binary_logloss: 0.472749
[574]	valid_0's binary_logloss: 0.472745
[575]	valid_0's binary_logloss: 0.472743
[576]	valid_0's binary_logloss: 0.472737
[577]	valid_0's binary_logloss: 0.472731
[578]	valid_0's binary_logloss: 0.472723
[579]	valid_0's binary_logloss: 0.472723
[580]	valid_0's binary_logloss: 0.472714
[581]	valid_0's binary_logloss: 0.472709
[582]	valid_0's binary_logloss: 0.472701
[583]	valid_0's binary_logloss: 0.472695
[584]	valid_0's binary_logloss: 0.472684
[585]	valid_0's binary_logloss: 0.472681
[586]	valid_0's binary_logloss: 0.472673
[587]	valid_0's binary_logloss: 0.472671
[588]	valid_0's binary_logloss: 0.472672
[589]	valid_0's binary_logloss: 0.472671
[590]	valid_0's binary_logloss: 0.472666
[591]	valid_0's binary_logloss: 0.472657
[592]	valid_0's binary_logloss: 0.472654
[593]	valid_0's binary_logloss: 0.472645
[594]	valid_0's binary_logloss: 0.472637
[595]	valid_0's binary_logloss: 0.472627
[596]	valid_0's binary_logloss: 0.472625
[597]	valid_0's binary_logloss: 0.472614
[598]	valid_0's binary_logloss: 0.472612
[599]	valid_0's binary_logloss: 0.472608
[600]	valid_0's binary_logloss: 0.472602
[601]	valid_0's binary_logloss: 0.472596
[602]	valid_0's binary_logloss: 0.472593
[603]	valid_0's binary_logloss: 0.472581
[604]	valid_0's binary_logloss: 0.472574
[605]	valid_0's binary_logloss: 0.472561
[606]	valid_0's binary_logloss: 0.47256
[607]	valid_0's binary_logloss: 0.472559
[608]	valid_0's binary_logloss: 0.472552
[609]	valid_0's binary_logloss: 0.472544
[610]	valid_0's binary_logloss: 0.472541
[611]	valid_0's binary_logloss: 0.47254
[612]	valid_0's binary_logloss: 0.472535
[613]	valid_0's binary_logloss: 0.472531
[614]	valid_0's binary_logloss: 0.472529
[615]	valid_0's binary_logloss: 0.472523
[616]	valid_0's binary_logloss: 0.472517
[617]	valid_0's binary_logloss: 0.472514
[618]	valid_0's binary_logloss: 0.472509
[619]	valid_0's binary_logloss: 0.472507
[620]	valid_0's binary_logloss: 0.472502
[621]	valid_0's binary_logloss: 0.472492
[622]	valid_0's binary_logloss: 0.472493
[623]	valid_0's binary_logloss: 0.472486
[624]	valid_0's binary_logloss: 0.472476
[625]	valid_0's binary_logloss: 0.472472
[626]	valid_0's binary_logloss: 0.472465
[627]	valid_0's binary_logloss: 0.472464
[628]	valid_0's binary_logloss: 0.472456
[629]	valid_0's binary_logloss: 0.472448
[630]	valid_0's binary_logloss: 0.472439
[631]	valid_0's binary_logloss: 0.472439
[632]	valid_0's binary_logloss: 0.472431
[633]	valid_0's binary_logloss: 0.472426
[634]	valid_0's binary_logloss: 0.472426
[635]	valid_0's binary_logloss: 0.472424
[636]	valid_0's binary_logloss: 0.472418
[637]	valid_0's binary_logloss: 0.472414
[638]	valid_0's binary_logloss: 0.47241
[639]	valid_0's binary_logloss: 0.472412
[640]	valid_0's binary_logloss: 0.472412
[641]	valid_0's binary_logloss: 0.472404
[642]	valid_0's binary_logloss: 0.472394
[643]	valid_0's binary_logloss: 0.47239
[644]	valid_0's binary_logloss: 0.472392
[645]	valid_0's binary_logloss: 0.47239
[646]	valid_0's binary_logloss: 0.472387
[647]	valid_0's binary_logloss: 0.472385
[648]	valid_0's binary_logloss: 0.472379
[649]	valid_0's binary_logloss: 0.472377
[650]	valid_0's binary_logloss: 0.472377
[651]	valid_0's binary_logloss: 0.472372
[652]	valid_0's binary_logloss: 0.472369
[653]	valid_0's binary_logloss: 0.472372
[654]	valid_0's binary_logloss: 0.472367
[655]	valid_0's binary_logloss: 0.472363
[656]	valid_0's binary_logloss: 0.472359
[657]	valid_0's binary_logloss: 0.472356
[658]	valid_0's binary_logloss: 0.472348
[659]	valid_0's binary_logloss: 0.472346
[660]	valid_0's binary_logloss: 0.472349
[661]	valid_0's binary_logloss: 0.472337
[662]	valid_0's binary_logloss: 0.472334
[663]	valid_0's binary_logloss: 0.472331
[664]	valid_0's binary_logloss: 0.472328
[665]	valid_0's binary_logloss: 0.472318
[666]	valid_0's binary_logloss: 0.472305
[667]	valid_0's binary_logloss: 0.472298
[668]	valid_0's binary_logloss: 0.472296
[669]	valid_0's binary_logloss: 0.472297
[670]	valid_0's binary_logloss: 0.472299
[671]	valid_0's binary_logloss: 0.472292
[672]	valid_0's binary_logloss: 0.472293
[673]	valid_0's binary_logloss: 0.472287
[674]	valid_0's binary_logloss: 0.472287
[675]	valid_0's binary_logloss: 0.47229
[676]	valid_0's binary_logloss: 0.472289
[677]	valid_0's binary_logloss: 0.472289
[678]	valid_0's binary_logloss: 0.472292
[679]	valid_0's binary_logloss: 0.472282
[680]	valid_0's binary_logloss: 0.472281
[681]	valid_0's binary_logloss: 0.472281
[682]	valid_0's binary_logloss: 0.472279
[683]	valid_0's binary_logloss: 0.472274
[684]	valid_0's binary_logloss: 0.47227
[685]	valid_0's binary_logloss: 0.472273
[686]	valid_0's binary_logloss: 0.472273
[687]	valid_0's binary_logloss: 0.472273
[688]	valid_0's binary_logloss: 0.472266
[689]	valid_0's binary_logloss: 0.472256
[690]	valid_0's binary_logloss: 0.472254
[691]	valid_0's binary_logloss: 0.472248
[692]	valid_0's binary_logloss: 0.472248
[693]	valid_0's binary_logloss: 0.472245
[694]	valid_0's binary_logloss: 0.47224
[695]	valid_0's binary_logloss: 0.472243
[696]	valid_0's binary_logloss: 0.472238
[697]	valid_0's binary_logloss: 0.472238
[698]	valid_0's binary_logloss: 0.47224
[699]	valid_0's binary_logloss: 0.472243
[700]	valid_0's binary_logloss: 0.472243
[701]	valid_0's binary_logloss: 0.472241
[702]	valid_0's binary_logloss: 0.472235
[703]	valid_0's binary_logloss: 0.472233
[704]	valid_0's binary_logloss: 0.472226
[705]	valid_0's binary_logloss: 0.472225
[706]	valid_0's binary_logloss: 0.472226
[707]	valid_0's binary_logloss: 0.472221
[708]	valid_0's binary_logloss: 0.472214
[709]	valid_0's binary_logloss: 0.472212
[710]	valid_0's binary_logloss: 0.472207
[711]	valid_0's binary_logloss: 0.472205
[712]	valid_0's binary_logloss: 0.472203
[713]	valid_0's binary_logloss: 0.472207
[714]	valid_0's binary_logloss: 0.472202
[715]	valid_0's binary_logloss: 0.472202
[716]	valid_0's binary_logloss: 0.472205
[717]	valid_0's binary_logloss: 0.472205
[718]	valid_0's binary_logloss: 0.472206
[719]	valid_0's binary_logloss: 0.472198
[720]	valid_0's binary_logloss: 0.472191
[721]	valid_0's binary_logloss: 0.472193
[722]	valid_0's binary_logloss: 0.472192
[723]	valid_0's binary_logloss: 0.472192
[724]	valid_0's binary_logloss: 0.47219
[725]	valid_0's binary_logloss: 0.472177
[726]	valid_0's binary_logloss: 0.472169
[727]	valid_0's binary_logloss: 0.472166
[728]	valid_0's binary_logloss: 0.472159
[729]	valid_0's binary_logloss: 0.472161
[730]	valid_0's binary_logloss: 0.47216
[731]	valid_0's binary_logloss: 0.472161
[732]	valid_0's binary_logloss: 0.472152
[733]	valid_0's binary_logloss: 0.47215
[734]	valid_0's binary_logloss: 0.472154
[735]	valid_0's binary_logloss: 0.472148
[736]	valid_0's binary_logloss: 0.472141
[737]	valid_0's binary_logloss: 0.472145
[738]	valid_0's binary_logloss: 0.472146
[739]	valid_0's binary_logloss: 0.472146
[740]	valid_0's binary_logloss: 0.472145
[741]	valid_0's binary_logloss: 0.47214
[742]	valid_0's binary_logloss: 0.472138
[743]	valid_0's binary_logloss: 0.472133
[744]	valid_0's binary_logloss: 0.47213
[745]	valid_0's binary_logloss: 0.47213
[746]	valid_0's binary_logloss: 0.472127
[747]	valid_0's binary_logloss: 0.472122
[748]	valid_0's binary_logloss: 0.472119
[749]	valid_0's binary_logloss: 0.472121
[750]	valid_0's binary_logloss: 0.472124
[751]	valid_0's binary_logloss: 0.472117
[752]	valid_0's binary_logloss: 0.472112
[753]	valid_0's binary_logloss: 0.472112
[754]	valid_0's binary_logloss: 0.472105
[755]	valid_0's binary_logloss: 0.472106
[756]	valid_0's binary_logloss: 0.472105
[757]	valid_0's binary_logloss: 0.472106
[758]	valid_0's binary_logloss: 0.472103
[759]	valid_0's binary_logloss: 0.472099
[760]	valid_0's binary_logloss: 0.472096
[761]	valid_0's binary_logloss: 0.4721
[762]	valid_0's binary_logloss: 0.472103
[763]	valid_0's binary_logloss: 0.472102
[764]	valid_0's binary_logloss: 0.472104
[765]	valid_0's binary_logloss: 0.472107
[766]	valid_0's binary_logloss: 0.472108
[767]	valid_0's binary_logloss: 0.472106
[768]	valid_0's binary_logloss: 0.472109
[769]	valid_0's binary_logloss: 0.472109
[770]	valid_0's binary_logloss: 0.472102
[771]	valid_0's binary_logloss: 0.472097
[772]	valid_0's binary_logloss: 0.472096
[773]	valid_0's binary_logloss: 0.472097
[774]	valid_0's binary_logloss: 0.472096
[775]	valid_0's binary_logloss: 0.472095
[776]	valid_0's binary_logloss: 0.472096
[777]	valid_0's binary_logloss: 0.472097
[778]	valid_0's binary_logloss: 0.472099
[779]	valid_0's binary_logloss: 0.472097
[780]	valid_0's binary_logloss: 0.472092
[781]	valid_0's binary_logloss: 0.472091
[782]	valid_0's binary_logloss: 0.472088
[783]	valid_0's binary_logloss: 0.472093
[784]	valid_0's binary_logloss: 0.472099
[785]	valid_0's binary_logloss: 0.472099
[786]	valid_0's binary_logloss: 0.472102
[787]	valid_0's binary_logloss: 0.472098
[788]	valid_0's binary_logloss: 0.472091
[789]	valid_0's binary_logloss: 0.472087
[790]	valid_0's binary_logloss: 0.472088
[791]	valid_0's binary_logloss: 0.472085
[792]	valid_0's binary_logloss: 0.472086
[793]	valid_0's binary_logloss: 0.472082
[794]	valid_0's binary_logloss: 0.472075
[795]	valid_0's binary_logloss: 0.472071
[796]	valid_0's binary_logloss: 0.472072
[797]	valid_0's binary_logloss: 0.472063
[798]	valid_0's binary_logloss: 0.472062
[799]	valid_0's binary_logloss: 0.472058
[800]	valid_0's binary_logloss: 0.472058
[801]	valid_0's binary_logloss: 0.47205
[802]	valid_0's binary_logloss: 0.472047
[803]	valid_0's binary_logloss: 0.472043
[804]	valid_0's binary_logloss: 0.472039
[805]	valid_0's binary_logloss: 0.472033
[806]	valid_0's binary_logloss: 0.472031
[807]	valid_0's binary_logloss: 0.472035
[808]	valid_0's binary_logloss: 0.472037
[809]	valid_0's binary_logloss: 0.472025
[810]	valid_0's binary_logloss: 0.472016
[811]	valid_0's binary_logloss: 0.472012
[812]	valid_0's binary_logloss: 0.472015
[813]	valid_0's binary_logloss: 0.47201
[814]	valid_0's binary_logloss: 0.472002
[815]	valid_0's binary_logloss: 0.472
[816]	valid_0's binary_logloss: 0.472003
[817]	valid_0's binary_logloss: 0.472002
[818]	valid_0's binary_logloss: 0.472001
[819]	valid_0's binary_logloss: 0.472
[820]	valid_0's binary_logloss: 0.471996
[821]	valid_0's binary_logloss: 0.471999
[822]	valid_0's binary_logloss: 0.472
[823]	valid_0's binary_logloss: 0.472004
[824]	valid_0's binary_logloss: 0.472004
[825]	valid_0's binary_logloss: 0.472
[826]	valid_0's binary_logloss: 0.471993
[827]	valid_0's binary_logloss: 0.471997
[828]	valid_0's binary_logloss: 0.471999
[829]	valid_0's binary_logloss: 0.471994
[830]	valid_0's binary_logloss: 0.471984
[831]	valid_0's binary_logloss: 0.471985
[832]	valid_0's binary_logloss: 0.471987
[833]	valid_0's binary_logloss: 0.471986
[834]	valid_0's binary_logloss: 0.471988
[835]	valid_0's binary_logloss: 0.471986
[836]	valid_0's binary_logloss: 0.471984
[837]	valid_0's binary_logloss: 0.47199
[838]	valid_0's binary_logloss: 0.471993
[839]	valid_0's binary_logloss: 0.471989
[840]	valid_0's binary_logloss: 0.471988
[841]	valid_0's binary_logloss: 0.471987
[842]	valid_0's binary_logloss: 0.471982
[843]	valid_0's binary_logloss: 0.471981
[844]	valid_0's binary_logloss: 0.471981
[845]	valid_0's binary_logloss: 0.471977
[846]	valid_0's binary_logloss: 0.471977
[847]	valid_0's binary_logloss: 0.471972
[848]	valid_0's binary_logloss: 0.471965
[849]	valid_0's binary_logloss: 0.471965
[850]	valid_0's binary_logloss: 0.471965
[851]	valid_0's binary_logloss: 0.471964
[852]	valid_0's binary_logloss: 0.471961
[853]	valid_0's binary_logloss: 0.471962
[854]	valid_0's binary_logloss: 0.471959
[855]	valid_0's binary_logloss: 0.47196
[856]	valid_0's binary_logloss: 0.471963
[857]	valid_0's binary_logloss: 0.471968
[858]	valid_0's binary_logloss: 0.471968
[859]	valid_0's binary_logloss: 0.471964
[860]	valid_0's binary_logloss: 0.471962
[861]	valid_0's binary_logloss: 0.47196
[862]	valid_0's binary_logloss: 0.471963
[863]	valid_0's binary_logloss: 0.471961
[864]	valid_0's binary_logloss: 0.47196
[865]	valid_0's binary_logloss: 0.47196
[866]	valid_0's binary_logloss: 0.471957
[867]	valid_0's binary_logloss: 0.471948
[868]	valid_0's binary_logloss: 0.471947
[869]	valid_0's binary_logloss: 0.471944
[870]	valid_0's binary_logloss: 0.471951
[871]	valid_0's binary_logloss: 0.471947
[872]	valid_0's binary_logloss: 0.471949
[873]	valid_0's binary_logloss: 0.471946
[874]	valid_0's binary_logloss: 0.471944
[875]	valid_0's binary_logloss: 0.471945
[876]	valid_0's binary_logloss: 0.47195
[877]	valid_0's binary_logloss: 0.471956
[878]	valid_0's binary_logloss: 0.471954
[879]	valid_0's binary_logloss: 0.471949
[880]	valid_0's binary_logloss: 0.471946
[881]	valid_0's binary_logloss: 0.471943
[882]	valid_0's binary_logloss: 0.471942
[883]	valid_0's binary_logloss: 0.471943
[884]	valid_0's binary_logloss: 0.471938
[885]	valid_0's binary_logloss: 0.471934
[886]	valid_0's binary_logloss: 0.471931
[887]	valid_0's binary_logloss: 0.471934
[888]	valid_0's binary_logloss: 0.471934
[889]	valid_0's binary_logloss: 0.471928
[890]	valid_0's binary_logloss: 0.471925
[891]	valid_0's binary_logloss: 0.471918
[892]	valid_0's binary_logloss: 0.47191
[893]	valid_0's binary_logloss: 0.471909
[894]	valid_0's binary_logloss: 0.471905
[895]	valid_0's binary_logloss: 0.471903
[896]	valid_0's binary_logloss: 0.471901
[897]	valid_0's binary_logloss: 0.471901
[898]	valid_0's binary_logloss: 0.471899
[899]	valid_0's binary_logloss: 0.471895
[900]	valid_0's binary_logloss: 0.471893
[901]	valid_0's binary_logloss: 0.471899
[902]	valid_0's binary_logloss: 0.471906
[903]	valid_0's binary_logloss: 0.471898
[904]	valid_0's binary_logloss: 0.471904
[905]	valid_0's binary_logloss: 0.471904
[906]	valid_0's binary_logloss: 0.471905
[907]	valid_0's binary_logloss: 0.471905
[908]	valid_0's binary_logloss: 0.471902
[909]	valid_0's binary_logloss: 0.471903
[910]	valid_0's binary_logloss: 0.471901
[911]	valid_0's binary_logloss: 0.471903
[912]	valid_0's binary_logloss: 0.471901
[913]	valid_0's binary_logloss: 0.471902
[914]	valid_0's binary_logloss: 0.471904
[915]	valid_0's binary_logloss: 0.471909
[916]	valid_0's binary_logloss: 0.471907
[917]	valid_0's binary_logloss: 0.471909
[918]	valid_0's binary_logloss: 0.471909
[919]	valid_0's binary_logloss: 0.471909
[920]	valid_0's binary_logloss: 0.471904
Early stopping, best iteration is:
[900]	valid_0's binary_logloss: 0.471893
===== ACCURACY SCORE 0.776500 =====
===== ACCURACY SCORE 0.776500 =====

# 3. Predict

In [39]:
y_pred = model.predict(x_pred)
y_pred.shape

(100000,)

In [41]:
submission['Survived'] = y_pred
submission

       PassengerId  Survived
0           100000         0
1           100001         1
2           100002         1
3           100003         0
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         0
99997       199997         0
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

# 4.Submission

In [42]:
submission.to_csv("E:\\data\\kaggle_tabular\\submission_0425_lgbm.csv", index = False)
submission

       PassengerId  Survived
0           100000         0
1           100001         1
2           100002         1
3           100003         0
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         0
99997       199997         0
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

---
파일명 : submission_0425_lgbm.csv     
score : 0.80112