In [61]:
import pandas as pd
import numpy as np
import random
import os

from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold

from sklearn.feature_selection import SelectFromModel

train_df = pd.read_csv('E:\data\kaggle_tabular/train.csv')
test_df = pd.read_csv('E:\data\kaggle_tabular/test.csv')
submission = pd.read_csv('E:\data\kaggle_tabular/sample_submission.csv')

https://www.kaggle.com/hiro5299834/tps-apr-2021-pseudo-labeling-voting-ensemble

앞으로 해볼 것    
K-fold    
GridSearchCV  > 튜닝하기      
best_columns를 구할 수 있는 게 있었던 거 같은데 - from sklearn.feature_selection import SelectFromModel    > 중요 컬람만 남기기

# data 전처리

* Pclass - a proxy for socio-economic status (SES) where 1st = Upper, 2nd = Middle and 3rd = Lower.
* Sex - male and female.
* Age - fractional if it less than 1 and age estimation in the form of xx.5.
* SibSp - number of siblings / spouses aboard the Synthanic; siblings are brother, sister, stepbrother and stepsister and spouses are husband and wife (mistresses and fiancés were ignored).
* Parch - # of parents / children aboard the Synthanic; parents are mother and father; child are daughter, son, stepdaughter and stepson. Some children travelled only with a nanny, therefore Parch is 0 for them.
* Fare - the paassenger fare.
* Cabin - the cabin number.
* Emarked - port of embarkation where C is Cherbourg, Q is Queenstown and S is Southampton.
* Ticket - ticket number.
* Name - passengers name.
* Survived - target variable where 0 is not survived and 1 is survived.

* 결측값 채우기

In [62]:
print('Missing values per columns in train dataset')
for col in train_df.columns:
    temp_col = train_df[col].isnull().sum()
    print(f'{col}: {temp_col}')

Missing values per columns in train dataset
PassengerId: 0
Survived: 0
Pclass: 0
Name: 0
Sex: 0
Age: 3292
SibSp: 0
Parch: 0
Ticket: 4623
Fare: 134
Cabin: 67866
Embarked: 250

In [63]:
# col = 'Age' 평균 나이로 결측값 채우기
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean())
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].mean())

In [64]:
# col = 'Ticket', 결측값 'X'로 채우기
train_df['Ticket'] = train_df['Ticket'].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')
test_df['Ticket'] = test_df['Ticket'].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')
train_df['Ticket'][:100]

0      X
1      X
2     CA
3     A.
4      X
      ..
95     X
96     X
97    PC
98     X
99     X
Name: Ticket, Length: 100, dtype: object

In [65]:
# col = 'Cabin', 결측값 'X'로 채우기
train_df['Cabin'] = train_df['Cabin'].fillna('X').map(lambda x: x[0].strip())
test_df['Cabin'] = test_df['Cabin'].fillna('X').map(lambda x: x[0].strip())
train_df['Cabin'][:100]

0     C
1     X
2     X
3     X
4     X
     ..
95    X
96    X
97    D
98    X
99    C
Name: Cabin, Length: 100, dtype: object

In [66]:
# col = 'Embarked', 결측값 'X'로 채우기
train_df['Embarked'] = train_df['Embarked'].fillna('X')
test_df['Embarked'] = test_df['Embarked'].fillna('X')
train_df['Embarked'][:100]

0     S
1     S
2     S
3     S
4     S
     ..
95    S
96    Q
97    Q
98    S
99    C
Name: Embarked, Length: 100, dtype: object

In [67]:
# col = 'Fare', 결측값 각 Pclass 마다 fare 중앙값을 넣는다.
fare_map =  train_df[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
# fare_map    # {'Fare': {1: 63.58, 2: 22.72, 3: 10.96}}
train_df['Fare'] = train_df['Fare'].fillna(train_df['Pclass'].map(fare_map['Fare']))
train_df['Fare'] = np.log1p(train_df['Fare'])
train_df['Fare'][:100]

0     3.337192
1     2.663750
2     4.280686
3     2.641910
4     2.170196
        ...
95    3.503754
96    3.312730
97    4.884921
98    3.363149
99    5.633217
Name: Fare, Length: 100, dtype: float64

In [68]:
# col = 'Fare', 결측값 각 Pclass 마다 fare 중앙값을 넣는다.
fare_map =  test_df[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
# fare_map    # {'Fare': {1: 80.68, 2: 14.455, 3: 11.52}}
test_df['Fare'] = test_df['Fare'].fillna(test_df['Pclass'].map(fare_map['Fare']))
test_df['Fare'] = np.log1p(test_df['Fare'])
test_df['Fare'][:100]

0     4.159039
1     1.918392
2     3.686627
3     2.634045
4     3.328268
        ...
95    2.249184
96    2.621766
97    1.969906
98    2.536866
99    3.469479
Name: Fare, Length: 100, dtype: float64

* 앞 이름만 가져오기

In [69]:
train_df['Name'] = train_df['Name'].map(lambda x: x.split(',')[0])
test_df['Name'] = test_df['Name'].map(lambda x: x.split(',')[0])
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,1,Oconnor,male,38.355472,2,0,X,3.337192,C,S
1,1,0,3,Bryan,male,38.355472,0,0,X,2.663750,X,S
2,2,0,3,Owens,male,0.330000,1,2,CA,4.280686,X,S
3,3,0,3,Kramer,male,19.000000,0,0,A.,2.641910,X,S
4,4,1,3,Bond,male,25.000000,0,0,X,2.170196,X,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,2,Bell,female,62.000000,0,0,PC,2.763800,D,C
99996,99996,0,2,Brown,male,66.000000,0,0,X,2.497329,X,S
99997,99997,0,3,Childress,male,37.000000,0,0,X,2.393339,X,S
99998,99998,0,3,Caughlin,male,51.000000,0,1,X,3.463233,X,S
99999,99999,0,3,Enciso,male,55.000000,0,0,X,2.705380,X,S

* 'Survived' 컬럼을 맨 뒤로 보내기

In [70]:
train_df['y_target'] = train_df['Survived']
train_df = train_df.drop(['Survived'], axis=1)
train_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,y_target
0,0,1,Oconnor,male,38.355472,2,0,X,3.337192,C,S,1
1,1,3,Bryan,male,38.355472,0,0,X,2.663750,X,S,0
2,2,3,Owens,male,0.330000,1,2,CA,4.280686,X,S,0
3,3,3,Kramer,male,19.000000,0,0,A.,2.641910,X,S,0
4,4,3,Bond,male,25.000000,0,0,X,2.170196,X,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2,Bell,female,62.000000,0,0,PC,2.763800,D,C,1
99996,99996,2,Brown,male,66.000000,0,0,X,2.497329,X,S,0
99997,99997,3,Childress,male,37.000000,0,0,X,2.393339,X,S,0
99998,99998,3,Caughlin,male,51.000000,0,1,X,3.463233,X,S,0
99999,99999,3,Enciso,male,55.000000,0,0,X,2.705380,X,S,0

* 문자들을 숫자로 치환하기

In [71]:
def label_encoder(c):
    encoder = LabelEncoder()
    return encoder.fit_transform(c)

labels_col = ['Sex','Ticket']
label_encoded_df = train_df[labels_col].apply(label_encoder)
test_label_encoded_df = test_df[labels_col].apply(label_encoder)
# label_encoded_df

onehot_cols = ['Cabin', 'Embarked']
onehot_encoded_df = pd.get_dummies(train_df[onehot_cols])
test_onehot_encoded_df = pd.get_dummies(test_df[onehot_cols])
# onehot_encoded_df

numerical_cols = ['Age', 'SibSp', 'Parch', 'Fare']
scaler = MinMaxScaler()
numerical_df = pd.DataFrame(scaler.fit_transform(train_df[numerical_cols]), columns=numerical_cols)
test_numerical_df = pd.DataFrame(scaler.fit_transform(test_df[numerical_cols]), columns=numerical_cols)
# numerical_df

etc_df = train_df['Pclass']
test_etc_df = test_df['Pclass']

target_df = train_df['y_target']


train_df = pd.concat([etc_df, numerical_df, label_encoded_df, onehot_encoded_df, target_df], axis=1)
test_df = pd.concat([test_etc_df, test_numerical_df, test_label_encoded_df, test_onehot_encoded_df], axis=1)

최종적으로 사용할 데이터 셋

In [72]:
train_df

,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin_A,Cabin_B,Cabin_C,...,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Embarked_X,y_target
0,1,0.440353,0.250,0.000000,0.462375,1,49,0,0,1,...,0,0,0,0,0,0,0,1,0,1
1,3,0.440353,0.000,0.000000,0.351893,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,3,0.002876,0.125,0.222222,0.617161,1,14,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,3,0.217671,0.000,0.000000,0.348310,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,3,0.286700,0.000,0.000000,0.270923,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,0.712379,0.000,0.000000,0.368307,0,21,0,0,0,...,0,0,0,0,0,1,0,0,0,1
99996,2,0.758399,0.000,0.000000,0.324591,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99997,3,0.424758,0.000,0.000000,0.307531,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99998,3,0.585826,0.000,0.111111,0.483053,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99999,3,0.631845,0.000,0.000000,0.358723,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [73]:
test_df

,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Embarked_X
0,3,0.233811,0.000,0.000000,0.634709,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
1,3,0.653979,0.000,0.000000,0.288706,0,49,0,0,0,0,0,0,0,0,1,0,0,1,0
2,1,0.233811,0.000,0.000000,0.561759,0,49,0,1,0,0,0,0,0,0,0,1,0,0,0
3,2,0.307958,0.000,0.000000,0.399218,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
4,1,0.209095,0.000,0.222222,0.506421,0,49,0,1,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3,0.332674,0.000,0.000000,0.364427,0,49,0,0,0,0,0,0,0,0,1,0,1,0,0
99996,1,0.728127,0.125,0.000000,0.646993,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
99997,3,0.579832,0.000,0.000000,0.374506,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
99998,1,0.604548,0.125,0.222222,0.521143,0,21,0,1,0,0,0,0,0,0,0,1,0,0,0
99999,1,0.505685,0.000,0.222222,0.807841,0,21,0,0,0,0,1,0,0,0,0,1,0,0,0

# 1. DATA

In [74]:
N_ESTIMATORS = 1000
N_SPLITS = 10
SEED = 2021
EARLY_STOPPING_ROUNDS = 20
VERBOSE = 1

skf = StratifiedKFold(n_splits=N_SPLITS, shuffle=True, random_state=SEED)

In [75]:
# 훈련 데이터 셋
x = train_df.drop(['y_target'], axis=1)
y = train_df['y_target']
x = x.to_numpy()
y = y.to_numpy()
print(x.shape, y.shape)

(100000, 20) (100000,)

In [76]:
# 예측 데이터 셋
x_pred = test_df
x_pred = x_pred.to_numpy()
print(x_pred.shape)

(100000, 20)

In [77]:
x_train, x_val, y_train, y_val = train_test_split(x, y, train_size=0.9, shuffle=True, random_state=42)
print(x_train.shape, x_val.shape)   # (80000, 20) (20000, 20)
print(y_train.shape, y_val.shape)   # (80000,) (20000,)

(90000, 20) (10000, 20)
(90000,) (10000,)

# 2. Model

In [78]:
import catboost as ctb

params = {
    'bootstrap_type': 'Poisson',
    'loss_function': 'Logloss',
    'eval_metric': 'Logloss',
    'random_seed': SEED,
    'task_type': 'GPU',
    'max_depth': 8,
    'learning_rate': 0.01,
    'n_estimators': N_ESTIMATORS,
    'max_bin': 280,
    'min_data_in_leaf': 64,
    'l2_leaf_reg': 0.01,
    'subsample': 0.8
}


model = ctb.CatBoostClassifier(**params)
model.fit(x_train, y_train,
        eval_set=[(x_val, y_val)],
        use_best_model=True,
        early_stopping_rounds=EARLY_STOPPING_ROUNDS,
        verbose=VERBOSE)

y_val_pred = model.predict(x_val)
acc_score = accuracy_score(y_val, y_val_pred)
print(f"===== ACCURACY SCORE {acc_score:.6f} =====")    # 0.787100


thresholds = np.sort(model.feature_importances_) 
print("thresholds ", thresholds)
# thresholds  [ 0.1083786   0.18521109  0.32127596  0.43993949  0.82497197  0.92280282
#   0.94481891  1.06688423  1.62426033  3.13577599  3.8949793   4.6347862
#   5.08635771  5.45298035  5.47368981  5.82584516  6.87331242  9.53751041
#   9.63734725 34.00887201]

708	test: 0.4682081	best: 0.4682081 (623)	total: 8.35s	remaining: 5.03s
624:	learn: 0.4604541	test: 0.4681958	best: 0.4681958 (624)	total: 8.36s	remaining: 5.02s
625:	learn: 0.4604387	test: 0.4682017	best: 0.4681958 (624)	total: 8.38s	remaining: 5s
626:	learn: 0.4604208	test: 0.4682049	best: 0.4681958 (624)	total: 8.39s	remaining: 4.99s
627:	learn: 0.4604016	test: 0.4681975	best: 0.4681958 (624)	total: 8.4s	remaining: 4.98s
628:	learn: 0.4603894	test: 0.4682040	best: 0.4681958 (624)	total: 8.42s	remaining: 4.96s
629:	learn: 0.4603762	test: 0.4682068	best: 0.4681958 (624)	total: 8.43s	remaining: 4.95s
630:	learn: 0.4603618	test: 0.4682114	best: 0.4681958 (624)	total: 8.44s	remaining: 4.94s
631:	learn: 0.4603484	test: 0.4682069	best: 0.4681958 (624)	total: 8.46s	remaining: 4.92s
632:	learn: 0.4603300	test: 0.4682039	best: 0.4681958 (624)	total: 8.47s	remaining: 4.91s
633:	learn: 0.4603099	test: 0.4681898	best: 0.4681898 (633)	total: 8.48s	remaining: 4.9s
634:	learn: 0.4602926	test: 0.4682017	best: 0.4681898 (633)	total: 8.5s	remaining: 4.88s
635:	learn: 0.4602732	test: 0.4682153	best: 0.4681898 (633)	total: 8.51s	remaining: 4.87s
636:	learn: 0.4602530	test: 0.4682146	best: 0.4681898 (633)	total: 8.52s	remaining: 4.86s
637:	learn: 0.4602369	test: 0.4682211	best: 0.4681898 (633)	total: 8.54s	remaining: 4.84s
638:	learn: 0.4602146	test: 0.4682089	best: 0.4681898 (633)	total: 8.55s	remaining: 4.83s
639:	learn: 0.4601933	test: 0.4682119	best: 0.4681898 (633)	total: 8.56s	remaining: 4.82s
640:	learn: 0.4601724	test: 0.4682052	best: 0.4681898 (633)	total: 8.58s	remaining: 4.8s
641:	learn: 0.4601562	test: 0.4682042	best: 0.4681898 (633)	total: 8.59s	remaining: 4.79s
642:	learn: 0.4601364	test: 0.4682007	best: 0.4681898 (633)	total: 8.61s	remaining: 4.78s
643:	learn: 0.4601243	test: 0.4682072	best: 0.4681898 (633)	total: 8.62s	remaining: 4.76s
644:	learn: 0.4601089	test: 0.4682092	best: 0.4681898 (633)	total: 8.63s	remaining: 4.75s
645:	learn: 0.4600938	test: 0.4682122	best: 0.4681898 (633)	total: 8.64s	remaining: 4.74s
646:	learn: 0.4600720	test: 0.4682063	best: 0.4681898 (633)	total: 8.66s	remaining: 4.72s
647:	learn: 0.4600553	test: 0.4681975	best: 0.4681898 (633)	total: 8.67s	remaining: 4.71s
648:	learn: 0.4600390	test: 0.4681969	best: 0.4681898 (633)	total: 8.69s	remaining: 4.7s
649:	learn: 0.4600216	test: 0.4682085	best: 0.4681898 (633)	total: 8.7s	remaining: 4.68s
650:	learn: 0.4600091	test: 0.4682022	best: 0.4681898 (633)	total: 8.71s	remaining: 4.67s
651:	learn: 0.4599904	test: 0.4681856	best: 0.4681856 (651)	total: 8.72s	remaining: 4.66s
652:	learn: 0.4599772	test: 0.4681754	best: 0.4681754 (652)	total: 8.74s	remaining: 4.64s
653:	learn: 0.4599581	test: 0.4681571	best: 0.4681571 (653)	total: 8.75s	remaining: 4.63s
654:	learn: 0.4599365	test: 0.4681479	best: 0.4681479 (654)	total: 8.76s	remaining: 4.62s
655:	learn: 0.4599192	test: 0.4681506	best: 0.4681479 (654)	total: 8.78s	remaining: 4.6s
656:	learn: 0.4598991	test: 0.4681477	best: 0.4681477 (656)	total: 8.79s	remaining: 4.59s
657:	learn: 0.4598743	test: 0.4681304	best: 0.4681304 (657)	total: 8.81s	remaining: 4.58s
658:	learn: 0.4598598	test: 0.4681267	best: 0.4681267 (658)	total: 8.82s	remaining: 4.56s
659:	learn: 0.4598346	test: 0.4681393	best: 0.4681267 (658)	total: 8.83s	remaining: 4.55s
660:	learn: 0.4598159	test: 0.4681272	best: 0.4681267 (658)	total: 8.85s	remaining: 4.54s
661:	learn: 0.4597896	test: 0.4681203	best: 0.4681203 (661)	total: 8.86s	remaining: 4.52s
662:	learn: 0.4597598	test: 0.4681087	best: 0.4681087 (662)	total: 8.87s	remaining: 4.51s
663:	learn: 0.4597408	test: 0.4680981	best: 0.4680981 (663)	total: 8.89s	remaining: 4.5s
664:	learn: 0.4597233	test: 0.4680994	best: 0.4680981 (663)	total: 8.9s	remaining: 4.48s
665:	learn: 0.4597026	test: 0.4680989	best: 0.4680981 (663)	total: 8.91s	remaining: 4.47s
666:	learn: 0.4596836	test: 0.4680882	best: 0.4680882 (666)	total: 8.93s	remaining: 4.46s
667:	learn: 0.4596678	test: 0.4680758	best: 0.4680758 (667)	total: 8.94s	remaining: 4.44s
668:	learn: 0.4596565	test: 0.4680657	best: 0.4680657 (668)	total: 8.96s	remaining: 4.43s
669:	learn: 0.4596405	test: 0.4680589	best: 0.4680589 (669)	total: 8.97s	remaining: 4.42s
670:	learn: 0.4596277	test: 0.4680641	best: 0.4680589 (669)	total: 8.98s	remaining: 4.4s
671:	learn: 0.4596003	test: 0.4680654	best: 0.4680589 (669)	total: 9s	remaining: 4.39s
672:	learn: 0.4595796	test: 0.4680616	best: 0.4680589 (669)	total: 9.01s	remaining: 4.38s
673:	learn: 0.4595632	test: 0.4680631	best: 0.4680589 (669)	total: 9.02s	remaining: 4.36s
674:	learn: 0.4595546	test: 0.4680524	best: 0.4680524 (674)	total: 9.04s	remaining: 4.35s
675:	learn: 0.4595405	test: 0.4680517	best: 0.4680517 (675)	total: 9.05s	remaining: 4.34s
676:	learn: 0.4595010	test: 0.4680407	best: 0.4680407 (676)	total: 9.06s	remaining: 4.32s
677:	learn: 0.4594804	test: 0.4680440	best: 0.4680407 (676)	total: 9.08s	remaining: 4.31s
678:	learn: 0.4594632	test: 0.4680387	best: 0.4680387 (678)	total: 9.09s	remaining: 4.3s
679:	learn: 0.4594488	test: 0.4680361	best: 0.4680361 (679)	total: 9.1s	remaining: 4.28s
680:	learn: 0.4594197	test: 0.4680218	best: 0.4680218 (680)	total: 9.12s	remaining: 4.27s
681:	learn: 0.4594055	test: 0.4680229	best: 0.4680218 (680)	total: 9.13s	remaining: 4.26s
682:	learn: 0.4593691	test: 0.4680338	best: 0.4680218 (680)	total: 9.15s	remaining: 4.25s
683:	learn: 0.4593500	test: 0.4680228	best: 0.4680218 (680)	total: 9.16s	remaining: 4.23s
684:	learn: 0.4593278	test: 0.4680165	best: 0.4680165 (684)	total: 9.17s	remaining: 4.22s
685:	learn: 0.4593010	test: 0.4680161	best: 0.4680161 (685)	total: 9.19s	remaining: 4.21s
686:	learn: 0.4592911	test: 0.4680174	best: 0.4680161 (685)	total: 9.2s	remaining: 4.19s
687:	learn: 0.4592675	test: 0.4680205	best: 0.4680161 (685)	total: 9.21s	remaining: 4.18s
688:	learn: 0.4592526	test: 0.4680154	best: 0.4680154 (688)	total: 9.23s	remaining: 4.17s
689:	learn: 0.4592290	test: 0.4680188	best: 0.4680154 (688)	total: 9.24s	remaining: 4.15s
690:	learn: 0.4592042	test: 0.4680159	best: 0.4680154 (688)	total: 9.26s	remaining: 4.14s
691:	learn: 0.4591931	test: 0.4680079	best: 0.4680079 (691)	total: 9.27s	remaining: 4.13s
692:	learn: 0.4591759	test: 0.4680005	best: 0.4680005 (692)	total: 9.28s	remaining: 4.11s
693:	learn: 0.4591569	test: 0.4679953	best: 0.4679953 (693)	total: 9.29s	remaining: 4.1s
694:	learn: 0.4591387	test: 0.4679966	best: 0.4679953 (693)	total: 9.31s	remaining: 4.08s
695:	learn: 0.4591198	test: 0.4679894	best: 0.4679894 (695)	total: 9.32s	remaining: 4.07s
696:	learn: 0.4590974	test: 0.4679807	best: 0.4679807 (696)	total: 9.34s	remaining: 4.06s
697:	learn: 0.4590777	test: 0.4679855	best: 0.4679807 (696)	total: 9.35s	remaining: 4.04s
698:	learn: 0.4590629	test: 0.4679838	best: 0.4679807 (696)	total: 9.36s	remaining: 4.03s
699:	learn: 0.4590491	test: 0.4679834	best: 0.4679807 (696)	total: 9.38s	remaining: 4.02s
700:	learn: 0.4590388	test: 0.4679862	best: 0.4679807 (696)	total: 9.39s	remaining: 4s
701:	learn: 0.4590201	test: 0.4679936	best: 0.4679807 (696)	total: 9.4s	remaining: 3.99s
702:	learn: 0.4590066	test: 0.4679886	best: 0.4679807 (696)	total: 9.41s	remaining: 3.98s
703:	learn: 0.4589823	test: 0.4679858	best: 0.4679807 (696)	total: 9.43s	remaining: 3.96s
704:	learn: 0.4589689	test: 0.4679893	best: 0.4679807 (696)	total: 9.44s	remaining: 3.95s
705:	learn: 0.4589465	test: 0.4679715	best: 0.4679715 (705)	total: 9.46s	remaining: 3.94s
706:	learn: 0.4589207	test: 0.4679456	best: 0.4679456 (706)	total: 9.47s	remaining: 3.92s
707:	learn: 0.4588994	test: 0.4679509	best: 0.4679456 (706)	total: 9.48s	remaining: 3.91s
708:	learn: 0.4588901	test: 0.4679473	best: 0.4679456 (706)	total: 9.5s	remaining: 3.9s
709:	learn: 0.4588820	test: 0.4679489	best: 0.4679456 (706)	total: 9.51s	remaining: 3.88s
710:	learn: 0.4588711	test: 0.4679475	best: 0.4679456 (706)	total: 9.52s	remaining: 3.87s
711:	learn: 0.4588546	test: 0.4679398	best: 0.4679398 (711)	total: 9.54s	remaining: 3.86s
712:	learn: 0.4588412	test: 0.4679381	best: 0.4679381 (712)	total: 9.55s	remaining: 3.84s
713:	learn: 0.4588193	test: 0.4679440	best: 0.4679381 (712)	total: 9.56s	remaining: 3.83s
714:	learn: 0.4588033	test: 0.4679396	best: 0.4679381 (712)	total: 9.58s	remaining: 3.82s
715:	learn: 0.4587752	test: 0.4679261	best: 0.4679261 (715)	total: 9.59s	remaining: 3.8s
716:	learn: 0.4587653	test: 0.4679287	best: 0.4679261 (715)	total: 9.6s	remaining: 3.79s
717:	learn: 0.4587503	test: 0.4679210	best: 0.4679210 (717)	total: 9.62s	remaining: 3.78s
718:	learn: 0.4587386	test: 0.4679187	best: 0.4679187 (718)	total: 9.63s	remaining: 3.76s
719:	learn: 0.4587125	test: 0.4679252	best: 0.4679187 (718)	total: 9.64s	remaining: 3.75s
720:	learn: 0.4586997	test: 0.4679268	best: 0.4679187 (718)	total: 9.66s	remaining: 3.74s
721:	learn: 0.4586869	test: 0.4679181	best: 0.4679181 (721)	total: 9.67s	remaining: 3.72s
722:	learn: 0.4586691	test: 0.4679202	best: 0.4679181 (721)	total: 9.68s	remaining: 3.71s
723:	learn: 0.4586539	test: 0.4679176	best: 0.4679176 (723)	total: 9.7s	remaining: 3.7s
724:	learn: 0.4586436	test: 0.4679180	best: 0.4679176 (723)	total: 9.71s	remaining: 3.68s
725:	learn: 0.4586308	test: 0.4679159	best: 0.4679159 (725)	total: 9.72s	remaining: 3.67s
726:	learn: 0.4586154	test: 0.4679161	best: 0.4679159 (725)	total: 9.74s	remaining: 3.66s
727:	learn: 0.4585923	test: 0.4679202	best: 0.4679159 (725)	total: 9.75s	remaining: 3.64s
728:	learn: 0.4585688	test: 0.4679207	best: 0.4679159 (725)	total: 9.76s	remaining: 3.63s
729:	learn: 0.4585510	test: 0.4679121	best: 0.4679121 (729)	total: 9.78s	remaining: 3.62s
730:	learn: 0.4585372	test: 0.4678984	best: 0.4678984 (730)	total: 9.79s	remaining: 3.6s
731:	learn: 0.4585172	test: 0.4679005	best: 0.4678984 (730)	total: 9.8s	remaining: 3.59s
732:	learn: 0.4585038	test: 0.4678938	best: 0.4678938 (732)	total: 9.82s	remaining: 3.58s
733:	learn: 0.4584902	test: 0.4678928	best: 0.4678928 (733)	total: 9.83s	remaining: 3.56s
734:	learn: 0.4584793	test: 0.4678907	best: 0.4678907 (734)	total: 9.85s	remaining: 3.55s
735:	learn: 0.4584739	test: 0.4678901	best: 0.4678901 (735)	total: 9.86s	remaining: 3.54s
736:	learn: 0.4584418	test: 0.4678795	best: 0.4678795 (736)	total: 9.87s	remaining: 3.52s
737:	learn: 0.4584333	test: 0.4678757	best: 0.4678757 (737)	total: 9.89s	remaining: 3.51s
738:	learn: 0.4584122	test: 0.4678623	best: 0.4678623 (738)	total: 9.9s	remaining: 3.5s
739:	learn: 0.4583938	test: 0.4678737	best: 0.4678623 (738)	total: 9.91s	remaining: 3.48s
740:	learn: 0.4583741	test: 0.4678539	best: 0.4678539 (740)	total: 9.93s	remaining: 3.47s
741:	learn: 0.4583457	test: 0.4678541	best: 0.4678539 (740)	total: 9.94s	remaining: 3.46s
742:	learn: 0.4583218	test: 0.4678660	best: 0.4678539 (740)	total: 9.95s	remaining: 3.44s
743:	learn: 0.4583097	test: 0.4678612	best: 0.4678539 (740)	total: 9.97s	remaining: 3.43s
744:	learn: 0.4582958	test: 0.4678573	best: 0.4678539 (740)	total: 9.98s	remaining: 3.42s
745:	learn: 0.4582784	test: 0.4678563	best: 0.4678539 (740)	total: 9.99s	remaining: 3.4s
746:	learn: 0.4582648	test: 0.4678615	best: 0.4678539 (740)	total: 10s	remaining: 3.39s
747:	learn: 0.4582479	test: 0.4678597	best: 0.4678539 (740)	total: 10s	remaining: 3.38s
748:	learn: 0.4582349	test: 0.4678575	best: 0.4678539 (740)	total: 10s	remaining: 3.36s
749:	learn: 0.4582152	test: 0.4678795	best: 0.4678539 (740)	total: 10s	remaining: 3.35s
750:	learn: 0.4582052	test: 0.4678813	best: 0.4678539 (740)	total: 10.1s	remaining: 3.33s
751:	learn: 0.4581805	test: 0.4678772	best: 0.4678539 (740)	total: 10.1s	remaining: 3.32s
752:	learn: 0.4581597	test: 0.4678690	best: 0.4678539 (740)	total: 10.1s	remaining: 3.31s
753:	learn: 0.4581440	test: 0.4678684	best: 0.4678539 (740)	total: 10.1s	remaining: 3.29s
754:	learn: 0.4581322	test: 0.4678592	best: 0.4678539 (740)	total: 10.1s	remaining: 3.28s
755:	learn: 0.4581197	test: 0.4678501	best: 0.4678501 (755)	total: 10.1s	remaining: 3.27s
756:	learn: 0.4581037	test: 0.4678496	best: 0.4678496 (756)	total: 10.1s	remaining: 3.25s
757:	learn: 0.4580895	test: 0.4678500	best: 0.4678496 (756)	total: 10.2s	remaining: 3.24s
758:	learn: 0.4580649	test: 0.4678455	best: 0.4678455 (758)	total: 10.2s	remaining: 3.23s
759:	learn: 0.4580420	test: 0.4678453	best: 0.4678453 (759)	total: 10.2s	remaining: 3.21s
760:	learn: 0.4580303	test: 0.4678405	best: 0.4678405 (760)	total: 10.2s	remaining: 3.2s
761:	learn: 0.4580115	test: 0.4678347	best: 0.4678347 (761)	total: 10.2s	remaining: 3.19s
762:	learn: 0.4579923	test: 0.4678379	best: 0.4678347 (761)	total: 10.2s	remaining: 3.17s
763:	learn: 0.4579810	test: 0.4678359	best: 0.4678347 (761)	total: 10.2s	remaining: 3.16s
764:	learn: 0.4579589	test: 0.4678386	best: 0.4678347 (761)	total: 10.2s	remaining: 3.15s
765:	learn: 0.4579402	test: 0.4678342	best: 0.4678342 (765)	total: 10.3s	remaining: 3.13s
766:	learn: 0.4579197	test: 0.4678368	best: 0.4678342 (765)	total: 10.3s	remaining: 3.12s
767:	learn: 0.4578993	test: 0.4678367	best: 0.4678342 (765)	total: 10.3s	remaining: 3.11s
768:	learn: 0.4578837	test: 0.4678414	best: 0.4678342 (765)	total: 10.3s	remaining: 3.09s
769:	learn: 0.4578634	test: 0.4678469	best: 0.4678342 (765)	total: 10.3s	remaining: 3.08s
770:	learn: 0.4578549	test: 0.4678459	best: 0.4678342 (765)	total: 10.3s	remaining: 3.07s
771:	learn: 0.4578405	test: 0.4678429	best: 0.4678342 (765)	total: 10.3s	remaining: 3.05s
772:	learn: 0.4578343	test: 0.4678440	best: 0.4678342 (765)	total: 10.4s	remaining: 3.04s
773:	learn: 0.4578193	test: 0.4678359	best: 0.4678342 (765)	total: 10.4s	remaining: 3.03s
774:	learn: 0.4577892	test: 0.4678396	best: 0.4678342 (765)	total: 10.4s	remaining: 3.01s
775:	learn: 0.4577717	test: 0.4678353	best: 0.4678342 (765)	total: 10.4s	remaining: 3s
776:	learn: 0.4577523	test: 0.4678320	best: 0.4678320 (776)	total: 10.4s	remaining: 2.99s
777:	learn: 0.4577328	test: 0.4678369	best: 0.4678320 (776)	total: 10.4s	remaining: 2.97s
778:	learn: 0.4577063	test: 0.4678167	best: 0.4678167 (778)	total: 10.4s	remaining: 2.96s
779:	learn: 0.4576954	test: 0.4678079	best: 0.4678079 (779)	total: 10.4s	remaining: 2.95s
780:	learn: 0.4576826	test: 0.4678105	best: 0.4678079 (779)	total: 10.5s	remaining: 2.93s
781:	learn: 0.4576610	test: 0.4678058	best: 0.4678058 (781)	total: 10.5s	remaining: 2.92s
782:	learn: 0.4576525	test: 0.4678080	best: 0.4678058 (781)	total: 10.5s	remaining: 2.91s
783:	learn: 0.4576398	test: 0.4678067	best: 0.4678058 (781)	total: 10.5s	remaining: 2.89s
784:	learn: 0.4576306	test: 0.4678055	best: 0.4678055 (784)	total: 10.5s	remaining: 2.88s
785:	learn: 0.4576201	test: 0.4678061	best: 0.4678055 (784)	total: 10.5s	remaining: 2.87s
786:	learn: 0.4576075	test: 0.4678003	best: 0.4678003 (786)	total: 10.5s	remaining: 2.85s
787:	learn: 0.4575975	test: 0.4677998	best: 0.4677998 (787)	total: 10.6s	remaining: 2.84s
788:	learn: 0.4575797	test: 0.4677979	best: 0.4677979 (788)	total: 10.6s	remaining: 2.83s
789:	learn: 0.4575714	test: 0.4678004	best: 0.4677979 (788)	total: 10.6s	remaining: 2.81s
790:	learn: 0.4575531	test: 0.4677954	best: 0.4677954 (790)	total: 10.6s	remaining: 2.8s
791:	learn: 0.4575441	test: 0.4677903	best: 0.4677903 (791)	total: 10.6s	remaining: 2.79s
792:	learn: 0.4575280	test: 0.4677891	best: 0.4677891 (792)	total: 10.6s	remaining: 2.77s
793:	learn: 0.4575142	test: 0.4677888	best: 0.4677888 (793)	total: 10.6s	remaining: 2.76s
794:	learn: 0.4575010	test: 0.4677853	best: 0.4677853 (794)	total: 10.7s	remaining: 2.75s
795:	learn: 0.4574782	test: 0.4677675	best: 0.4677675 (795)	total: 10.7s	remaining: 2.73s
796:	learn: 0.4574585	test: 0.4677556	best: 0.4677556 (796)	total: 10.7s	remaining: 2.72s
797:	learn: 0.4574447	test: 0.4677546	best: 0.4677546 (797)	total: 10.7s	remaining: 2.71s
798:	learn: 0.4574296	test: 0.4677595	best: 0.4677546 (797)	total: 10.7s	remaining: 2.69s
799:	learn: 0.4574190	test: 0.4677597	best: 0.4677546 (797)	total: 10.7s	remaining: 2.68s
800:	learn: 0.4574024	test: 0.4677479	best: 0.4677479 (800)	total: 10.7s	remaining: 2.67s
801:	learn: 0.4573798	test: 0.4677350	best: 0.4677350 (801)	total: 10.7s	remaining: 2.65s
802:	learn: 0.4573692	test: 0.4677421	best: 0.4677350 (801)	total: 10.8s	remaining: 2.64s
803:	learn: 0.4573552	test: 0.4677429	best: 0.4677350 (801)	total: 10.8s	remaining: 2.63s
804:	learn: 0.4573404	test: 0.4677390	best: 0.4677350 (801)	total: 10.8s	remaining: 2.61s
805:	learn: 0.4573151	test: 0.4677292	best: 0.4677292 (805)	total: 10.8s	remaining: 2.6s
806:	learn: 0.4573033	test: 0.4677310	best: 0.4677292 (805)	total: 10.8s	remaining: 2.59s
807:	learn: 0.4572724	test: 0.4677281	best: 0.4677281 (807)	total: 10.8s	remaining: 2.57s
808:	learn: 0.4572530	test: 0.4677250	best: 0.4677250 (808)	total: 10.8s	remaining: 2.56s
809:	learn: 0.4572414	test: 0.4677167	best: 0.4677167 (809)	total: 10.9s	remaining: 2.55s
810:	learn: 0.4572234	test: 0.4677075	best: 0.4677075 (810)	total: 10.9s	remaining: 2.53s
811:	learn: 0.4572056	test: 0.4676931	best: 0.4676931 (811)	total: 10.9s	remaining: 2.52s
812:	learn: 0.4571838	test: 0.4676777	best: 0.4676777 (812)	total: 10.9s	remaining: 2.51s
813:	learn: 0.4571674	test: 0.4676709	best: 0.4676709 (813)	total: 10.9s	remaining: 2.49s
814:	learn: 0.4571526	test: 0.4676652	best: 0.4676652 (814)	total: 10.9s	remaining: 2.48s
815:	learn: 0.4571372	test: 0.4676626	best: 0.4676626 (815)	total: 10.9s	remaining: 2.47s
816:	learn: 0.4571142	test: 0.4676575	best: 0.4676575 (816)	total: 11s	remaining: 2.45s
817:	learn: 0.4570993	test: 0.4676537	best: 0.4676537 (817)	total: 11s	remaining: 2.44s
818:	learn: 0.4570747	test: 0.4676588	best: 0.4676537 (817)	total: 11s	remaining: 2.43s
819:	learn: 0.4570603	test: 0.4676496	best: 0.4676496 (819)	total: 11s	remaining: 2.41s
820:	learn: 0.4570498	test: 0.4676419	best: 0.4676419 (820)	total: 11s	remaining: 2.4s
821:	learn: 0.4570271	test: 0.4676360	best: 0.4676360 (821)	total: 11s	remaining: 2.39s
822:	learn: 0.4570060	test: 0.4676556	best: 0.4676360 (821)	total: 11s	remaining: 2.37s
823:	learn: 0.4569878	test: 0.4676662	best: 0.4676360 (821)	total: 11s	remaining: 2.36s
824:	learn: 0.4569560	test: 0.4676644	best: 0.4676360 (821)	total: 11.1s	remaining: 2.35s
825:	learn: 0.4569409	test: 0.4676639	best: 0.4676360 (821)	total: 11.1s	remaining: 2.33s
826:	learn: 0.4569298	test: 0.4676644	best: 0.4676360 (821)	total: 11.1s	remaining: 2.32s
827:	learn: 0.4569187	test: 0.4676640	best: 0.4676360 (821)	total: 11.1s	remaining: 2.31s
828:	learn: 0.4568990	test: 0.4676745	best: 0.4676360 (821)	total: 11.1s	remaining: 2.29s
829:	learn: 0.4568834	test: 0.4676727	best: 0.4676360 (821)	total: 11.1s	remaining: 2.28s
830:	learn: 0.4568664	test: 0.4676602	best: 0.4676360 (821)	total: 11.1s	remaining: 2.27s
831:	learn: 0.4568472	test: 0.4676630	best: 0.4676360 (821)	total: 11.2s	remaining: 2.25s
832:	learn: 0.4568352	test: 0.4676528	best: 0.4676360 (821)	total: 11.2s	remaining: 2.24s
833:	learn: 0.4568229	test: 0.4676665	best: 0.4676360 (821)	total: 11.2s	remaining: 2.23s
834:	learn: 0.4568023	test: 0.4676688	best: 0.4676360 (821)	total: 11.2s	remaining: 2.21s
835:	learn: 0.4567821	test: 0.4676716	best: 0.4676360 (821)	total: 11.2s	remaining: 2.2s
836:	learn: 0.4567715	test: 0.4676753	best: 0.4676360 (821)	total: 11.2s	remaining: 2.19s
837:	learn: 0.4567628	test: 0.4676794	best: 0.4676360 (821)	total: 11.2s	remaining: 2.17s
838:	learn: 0.4567440	test: 0.4676732	best: 0.4676360 (821)	total: 11.3s	remaining: 2.16s
839:	learn: 0.4567293	test: 0.4676695	best: 0.4676360 (821)	total: 11.3s	remaining: 2.15s
840:	learn: 0.4567185	test: 0.4676662	best: 0.4676360 (821)	total: 11.3s	remaining: 2.13s
841:	learn: 0.4566892	test: 0.4676756	best: 0.4676360 (821)	total: 11.3s	remaining: 2.12s
bestTest = 0.4676360352
bestIteration = 821
Shrink model to first 822 iterations.
===== ACCURACY SCORE 0.787100 =====
thresholds  [ 0.12801382  0.2374819   0.33377942  0.45574374  0.83179122  0.97057481
  1.01256063  1.09976298  1.6903986   3.12875997  3.9107532   4.94713087
  5.00024731  5.31907997  5.65944849  5.95697486  6.95537507  9.44652711
  9.96639432 32.9492017 ]

In [83]:

best_tmp = [0,0]
best_acc = 0
best_feature = []
df = pd.DataFrame(x)

for thresh in thresholds :
    selection = SelectFromModel(model, threshold=thresh, prefit=True)

    feature_idx = selection.get_support()
    feature_name = df.columns[feature_idx]

    select_x_train = selection.transform(x_train)
    print(select_x_train.shape)

    select_x_val = selection.transform(x_val)
    select_x_pred = selection.transform(x_pred)


    selection_model = ctb.CatBoostClassifier(**params)
    selection_model.fit(select_x_train, y_train,
            eval_set=[(select_x_val, y_val)],
            use_best_model=True,
            early_stopping_rounds=EARLY_STOPPING_ROUNDS,
            verbose=0)

    select_y_pred = selection_model.predict(select_x_val)
    acc_score = accuracy_score(y_val, select_y_pred)

    print("Thresh=%.3f, n=%d, ACC: %.2f%%" % (thresh, select_x_train.shape[1], acc_score*100))

    if best_acc < acc_score :
        best_tmp[0] = thresh
        best_tmp[1] = select_x_train.shape[1]
        best_acc = acc_score
        best_feature = feature_name

print("< Done >")

(90000, 20)
Thresh=0.128, n=20, ACC: 78.22%
(90000, 19)
Thresh=0.237, n=19, ACC: 78.30%
(90000, 18)
Thresh=0.334, n=18, ACC: 78.28%
(90000, 17)
Thresh=0.456, n=17, ACC: 78.19%
(90000, 16)
Thresh=0.832, n=16, ACC: 78.23%
(90000, 15)
Thresh=0.971, n=15, ACC: 78.28%
(90000, 14)
Thresh=1.013, n=14, ACC: 78.22%
(90000, 13)
Thresh=1.100, n=13, ACC: 78.27%
(90000, 12)
Thresh=1.690, n=12, ACC: 78.23%
(90000, 11)
Thresh=3.129, n=11, ACC: 78.15%
(90000, 10)
Thresh=3.911, n=10, ACC: 77.93%
(90000, 9)
Thresh=4.947, n=9, ACC: 77.97%
(90000, 8)
Thresh=5.000, n=8, ACC: 78.06%
(90000, 7)
Thresh=5.319, n=7, ACC: 77.54%
(90000, 6)
Thresh=5.659, n=6, ACC: 76.54%
(90000, 5)
Thresh=5.957, n=5, ACC: 76.58%
(90000, 4)
Thresh=6.955, n=4, ACC: 76.54%
(90000, 3)
Thresh=9.447, n=3, ACC: 76.00%
(90000, 2)
Thresh=9.966, n=2, ACC: 75.91%
(90000, 1)
Thresh=32.949, n=1, ACC: 75.59%
< Done >

In [85]:
select_x_pred_f = selection_f.transform(x_pred)
y_pred = np.zeros(select_x_pred_f.shape[0])

#KFold
for fold, (train_idx, valid_idx) in enumerate(skf.split(x, y)) :
    print(f"=====Fold {fold}=====")
    x_train = x[train_idx]
    x_val = x[valid_idx]
    y_train = y[train_idx]
    y_val = y[valid_idx]  

    selection_f = SelectFromModel(model, threshold=best_tmp[0], prefit=True)
    select_x_train_f = selection_f.transform(x_train)
    select_x_val_f = selection_f.transform(x_val)
    print(select_x_train_f.shape)   # (90000, 19)

    selection_model_f = ctb.CatBoostClassifier(**params)
    selection_model_f.fit(select_x_train_f, y_train,
            eval_set=[(select_x_val_f, y_val)],
            use_best_model=True,
            early_stopping_rounds=EARLY_STOPPING_ROUNDS,
            verbose=0)

    select_y_pred_f = selection_model_f.predict(select_x_val_f)
    acc_score = accuracy_score(y_val, select_y_pred_f)

    print("Thresh=%.3f, n=%d, ACC: %.2f%%" % (thresh, select_x_train_f.shape[1], acc_score*100))    

    y_pred += selection_model_f.predict(select_x_pred_f)

print("< Done >")

=====Fold 0=====
(90000, 19)
Thresh=32.949, n=19, ACC: 77.75%
=====Fold 1=====
(90000, 19)
Thresh=32.949, n=19, ACC: 78.89%
=====Fold 2=====
(90000, 19)
Thresh=32.949, n=19, ACC: 78.38%
=====Fold 3=====
(90000, 19)
Thresh=32.949, n=19, ACC: 78.24%
=====Fold 4=====
(90000, 19)
Thresh=32.949, n=19, ACC: 78.36%
=====Fold 5=====
(90000, 19)
Thresh=32.949, n=19, ACC: 78.30%
=====Fold 6=====
(90000, 19)
Thresh=32.949, n=19, ACC: 78.39%
=====Fold 7=====
(90000, 19)
Thresh=32.949, n=19, ACC: 78.87%
=====Fold 8=====
(90000, 19)
Thresh=32.949, n=19, ACC: 77.69%
=====Fold 9=====
(90000, 19)
Thresh=32.949, n=19, ACC: 77.89%
< Done >

# 3. Predict

In [86]:
# y_pred = selection_model_f.predict(select_x_pred_f)
y_pred /= N_SPLITS
y_pred.shape

(100000,)

In [87]:
submission['Survived'] = np.round(y_pred).astype(int)
submission

       PassengerId  Survived
0           100000         0
1           100001         1
2           100002         1
3           100003         0
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         0
99997       199997         0
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

# 4.Submission

In [88]:
# submission.to_csv("E:\\data\\kaggle_tabular\\submission_0425_catboost3.csv", index = False)
submission.to_csv("E:\\data\\kaggle_tabular\\submission_0425_catboost4.csv", index = False)
submission

       PassengerId  Survived
0           100000         0
1           100001         1
2           100002         1
3           100003         0
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         0
99997       199997         0
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

---
파일명 : submission_0425_catboost3.csv     
score : 0.80205      

파일명 : submission_0425_catboost4.csv     
score : 0.80160