In [26]:
import pandas as pd
import numpy as np
import random
import os

from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold

train_df = pd.read_csv('E:\data\kaggle_tabular/train.csv')
test_df = pd.read_csv('E:\data\kaggle_tabular/test.csv')
submission = pd.read_csv('E:\data\kaggle_tabular/sample_submission.csv')

https://www.kaggle.com/hiro5299834/tps-apr-2021-pseudo-labeling-voting-ensemble

앞으로 해볼 것    
K-fold    
GridSearchCV    
best_columns를 구할 수 있는 게 있었던 거 같은데 - from sklearn.feature_selection import SelectFromModel

# data 전처리

* Pclass - a proxy for socio-economic status (SES) where 1st = Upper, 2nd = Middle and 3rd = Lower.
* Sex - male and female.
* Age - fractional if it less than 1 and age estimation in the form of xx.5.
* SibSp - number of siblings / spouses aboard the Synthanic; siblings are brother, sister, stepbrother and stepsister and spouses are husband and wife (mistresses and fiancés were ignored).
* Parch - # of parents / children aboard the Synthanic; parents are mother and father; child are daughter, son, stepdaughter and stepson. Some children travelled only with a nanny, therefore Parch is 0 for them.
* Fare - the paassenger fare.
* Cabin - the cabin number.
* Emarked - port of embarkation where C is Cherbourg, Q is Queenstown and S is Southampton.
* Ticket - ticket number.
* Name - passengers name.
* Survived - target variable where 0 is not survived and 1 is survived.

* 결측값 채우기

In [27]:
print('Missing values per columns in train dataset')
for col in train_df.columns:
    temp_col = train_df[col].isnull().sum()
    print(f'{col}: {temp_col}')

Missing values per columns in train dataset
PassengerId: 0
Survived: 0
Pclass: 0
Name: 0
Sex: 0
Age: 3292
SibSp: 0
Parch: 0
Ticket: 4623
Fare: 134
Cabin: 67866
Embarked: 250

In [28]:
# col = 'Age' 평균 나이로 결측값 채우기
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean())
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].mean())

In [29]:
# col = 'Ticket', 결측값 'X'로 채우기
train_df['Ticket'] = train_df['Ticket'].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')
test_df['Ticket'] = test_df['Ticket'].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')
train_df['Ticket'][:100]

0      X
1      X
2     CA
3     A.
4      X
      ..
95     X
96     X
97    PC
98     X
99     X
Name: Ticket, Length: 100, dtype: object

In [30]:
# col = 'Cabin', 결측값 'X'로 채우기
train_df['Cabin'] = train_df['Cabin'].fillna('X').map(lambda x: x[0].strip())
test_df['Cabin'] = test_df['Cabin'].fillna('X').map(lambda x: x[0].strip())
train_df['Cabin'][:100]

0     C
1     X
2     X
3     X
4     X
     ..
95    X
96    X
97    D
98    X
99    C
Name: Cabin, Length: 100, dtype: object

In [31]:
# col = 'Embarked', 결측값 'X'로 채우기
train_df['Embarked'] = train_df['Embarked'].fillna('X')
test_df['Embarked'] = test_df['Embarked'].fillna('X')
train_df['Embarked'][:100]

0     S
1     S
2     S
3     S
4     S
     ..
95    S
96    Q
97    Q
98    S
99    C
Name: Embarked, Length: 100, dtype: object

In [32]:
# col = 'Fare', 결측값 각 Pclass 마다 fare 중앙값을 넣는다.
fare_map =  train_df[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
# fare_map    # {'Fare': {1: 63.58, 2: 22.72, 3: 10.96}}
train_df['Fare'] = train_df['Fare'].fillna(train_df['Pclass'].map(fare_map['Fare']))
train_df['Fare'] = np.log1p(train_df['Fare'])
train_df['Fare'][:100]

0     3.337192
1     2.663750
2     4.280686
3     2.641910
4     2.170196
        ...
95    3.503754
96    3.312730
97    4.884921
98    3.363149
99    5.633217
Name: Fare, Length: 100, dtype: float64

In [33]:
# col = 'Fare', 결측값 각 Pclass 마다 fare 중앙값을 넣는다.
fare_map =  test_df[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
# fare_map    # {'Fare': {1: 80.68, 2: 14.455, 3: 11.52}}
test_df['Fare'] = test_df['Fare'].fillna(test_df['Pclass'].map(fare_map['Fare']))
test_df['Fare'] = np.log1p(test_df['Fare'])
test_df['Fare'][:100]

0     4.159039
1     1.918392
2     3.686627
3     2.634045
4     3.328268
        ...
95    2.249184
96    2.621766
97    1.969906
98    2.536866
99    3.469479
Name: Fare, Length: 100, dtype: float64

* 앞 이름만 가져오기

In [34]:
train_df['Name'] = train_df['Name'].map(lambda x: x.split(',')[0])
test_df['Name'] = test_df['Name'].map(lambda x: x.split(',')[0])
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,1,Oconnor,male,38.355472,2,0,X,3.337192,C,S
1,1,0,3,Bryan,male,38.355472,0,0,X,2.663750,X,S
2,2,0,3,Owens,male,0.330000,1,2,CA,4.280686,X,S
3,3,0,3,Kramer,male,19.000000,0,0,A.,2.641910,X,S
4,4,1,3,Bond,male,25.000000,0,0,X,2.170196,X,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,2,Bell,female,62.000000,0,0,PC,2.763800,D,C
99996,99996,0,2,Brown,male,66.000000,0,0,X,2.497329,X,S
99997,99997,0,3,Childress,male,37.000000,0,0,X,2.393339,X,S
99998,99998,0,3,Caughlin,male,51.000000,0,1,X,3.463233,X,S
99999,99999,0,3,Enciso,male,55.000000,0,0,X,2.705380,X,S

* 'Survived' 컬럼을 맨 뒤로 보내기

In [35]:
train_df['y_target'] = train_df['Survived']
train_df = train_df.drop(['Survived'], axis=1)
train_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,y_target
0,0,1,Oconnor,male,38.355472,2,0,X,3.337192,C,S,1
1,1,3,Bryan,male,38.355472,0,0,X,2.663750,X,S,0
2,2,3,Owens,male,0.330000,1,2,CA,4.280686,X,S,0
3,3,3,Kramer,male,19.000000,0,0,A.,2.641910,X,S,0
4,4,3,Bond,male,25.000000,0,0,X,2.170196,X,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2,Bell,female,62.000000,0,0,PC,2.763800,D,C,1
99996,99996,2,Brown,male,66.000000,0,0,X,2.497329,X,S,0
99997,99997,3,Childress,male,37.000000,0,0,X,2.393339,X,S,0
99998,99998,3,Caughlin,male,51.000000,0,1,X,3.463233,X,S,0
99999,99999,3,Enciso,male,55.000000,0,0,X,2.705380,X,S,0

* 문자들을 숫자로 치환하기

In [36]:
def label_encoder(c):
    encoder = LabelEncoder()
    return encoder.fit_transform(c)

labels_col = ['Sex','Ticket']
label_encoded_df = train_df[labels_col].apply(label_encoder)
test_label_encoded_df = test_df[labels_col].apply(label_encoder)
# label_encoded_df

onehot_cols = ['Cabin', 'Embarked']
onehot_encoded_df = pd.get_dummies(train_df[onehot_cols])
test_onehot_encoded_df = pd.get_dummies(test_df[onehot_cols])
# onehot_encoded_df

numerical_cols = ['Age', 'SibSp', 'Parch', 'Fare']
scaler = MinMaxScaler()
numerical_df = pd.DataFrame(scaler.fit_transform(train_df[numerical_cols]), columns=numerical_cols)
test_numerical_df = pd.DataFrame(scaler.fit_transform(test_df[numerical_cols]), columns=numerical_cols)
# numerical_df

etc_df = train_df['Pclass']
test_etc_df = test_df['Pclass']

target_df = train_df['y_target']


train_df = pd.concat([etc_df, numerical_df, label_encoded_df, onehot_encoded_df, target_df], axis=1)
test_df = pd.concat([test_etc_df, test_numerical_df, test_label_encoded_df, test_onehot_encoded_df], axis=1)

최종적으로 사용할 데이터 셋

In [37]:
train_df

,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin_A,Cabin_B,Cabin_C,...,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Embarked_X,y_target
0,1,0.440353,0.250,0.000000,0.462375,1,49,0,0,1,...,0,0,0,0,0,0,0,1,0,1
1,3,0.440353,0.000,0.000000,0.351893,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,3,0.002876,0.125,0.222222,0.617161,1,14,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,3,0.217671,0.000,0.000000,0.348310,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,3,0.286700,0.000,0.000000,0.270923,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,0.712379,0.000,0.000000,0.368307,0,21,0,0,0,...,0,0,0,0,0,1,0,0,0,1
99996,2,0.758399,0.000,0.000000,0.324591,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99997,3,0.424758,0.000,0.000000,0.307531,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99998,3,0.585826,0.000,0.111111,0.483053,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0
99999,3,0.631845,0.000,0.000000,0.358723,1,49,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [38]:
test_df

,Pclass,Age,SibSp,Parch,Fare,Sex,Ticket,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Embarked_X
0,3,0.233811,0.000,0.000000,0.634709,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
1,3,0.653979,0.000,0.000000,0.288706,0,49,0,0,0,0,0,0,0,0,1,0,0,1,0
2,1,0.233811,0.000,0.000000,0.561759,0,49,0,1,0,0,0,0,0,0,0,1,0,0,0
3,2,0.307958,0.000,0.000000,0.399218,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
4,1,0.209095,0.000,0.222222,0.506421,0,49,0,1,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3,0.332674,0.000,0.000000,0.364427,0,49,0,0,0,0,0,0,0,0,1,0,1,0,0
99996,1,0.728127,0.125,0.000000,0.646993,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
99997,3,0.579832,0.000,0.000000,0.374506,1,49,0,0,0,0,0,0,0,0,1,0,0,1,0
99998,1,0.604548,0.125,0.222222,0.521143,0,21,0,1,0,0,0,0,0,0,0,1,0,0,0
99999,1,0.505685,0.000,0.222222,0.807841,0,21,0,0,0,0,1,0,0,0,0,1,0,0,0

# 1. DATA

In [39]:
N_ESTIMATORS = 1000
N_SPLITS = 10
SEED = 2021
EARLY_STOPPING_ROUNDS = 20
VERBOSE = 1

skf = StratifiedKFold(n_splits=N_SPLITS, shuffle=True, random_state=SEED)

In [40]:
# 훈련 데이터 셋
x = train_df.drop(['y_target'], axis=1)
y = train_df['y_target']
x = x.to_numpy()
y = y.to_numpy()
print(x.shape, y.shape)

(100000, 20) (100000,)

In [41]:
# 예측 데이터 셋
x_pred = test_df
x_pred = x_pred.to_numpy()
print(x_pred.shape)

(100000, 20)

In [42]:
# x_train, x_val, y_train, y_val = train_test_split(x, y, train_size=0.8, shuffle=True, random_state=42)
# print(x_train.shape, x_val.shape)   # (80000, 20) (20000, 20)
# print(y_train.shape, y_val.shape)   # (80000,) (20000,)

# 2. Model

In [43]:
import catboost as ctb

params = {
    'bootstrap_type': 'Poisson',
    'loss_function': 'Logloss',
    'eval_metric': 'Logloss',
    'random_seed': SEED,
    'task_type': 'GPU',
    'max_depth': 8,
    'learning_rate': 0.01,
    'n_estimators': N_ESTIMATORS,
    'max_bin': 280,
    'min_data_in_leaf': 64,
    'l2_leaf_reg': 0.01,
    'subsample': 0.8
}

#KFold
for fold, (train_idx, valid_idx) in enumerate(skf.split(x, y)) :
    print(f"=====Fold {fold}=====")
    x_train = x[train_idx]
    x_val = x[valid_idx]
    y_train = y[train_idx]
    y_val = y[valid_idx]  
    # print(x_train.shape, x_val.shape)  # (90000, 20) (10000, 20)
    # print(y_train.shape, y_val.shape)  # (90000,) (10000,)
    

    model = ctb.CatBoostClassifier(**params)
    model.fit(x_train, y_train,
            eval_set=[(x_val, y_val)],
            use_best_model=True,
            early_stopping_rounds=EARLY_STOPPING_ROUNDS,
            verbose=VERBOSE)

    y_val_pred = model.predict(x_val)
    acc_score = accuracy_score(y_val, y_val_pred)
    print(f"===== ACCURACY SCORE {acc_score:.6f} =====")    # 0.778700

acc_score = accuracy_score(y_val, y_val_pred)
print(f"===== ACCURACY SCORE {acc_score:.6f} =====")    # 0.778700

6.93s
457:	learn: 0.4632417	test: 0.4749191	best: 0.4749191 (457)	total: 5.85s	remaining: 6.92s
458:	learn: 0.4632247	test: 0.4749093	best: 0.4749093 (458)	total: 5.86s	remaining: 6.91s
459:	learn: 0.4632014	test: 0.4749005	best: 0.4749005 (459)	total: 5.87s	remaining: 6.89s
460:	learn: 0.4631593	test: 0.4748816	best: 0.4748816 (460)	total: 5.88s	remaining: 6.88s
461:	learn: 0.4631328	test: 0.4748687	best: 0.4748687 (461)	total: 5.9s	remaining: 6.87s
462:	learn: 0.4630993	test: 0.4748612	best: 0.4748612 (462)	total: 5.91s	remaining: 6.85s
463:	learn: 0.4630605	test: 0.4748673	best: 0.4748612 (462)	total: 5.92s	remaining: 6.84s
464:	learn: 0.4630483	test: 0.4748662	best: 0.4748612 (462)	total: 5.93s	remaining: 6.83s
465:	learn: 0.4630269	test: 0.4748720	best: 0.4748612 (462)	total: 5.95s	remaining: 6.82s
466:	learn: 0.4629994	test: 0.4748683	best: 0.4748612 (462)	total: 5.96s	remaining: 6.8s
467:	learn: 0.4629832	test: 0.4748610	best: 0.4748610 (467)	total: 5.97s	remaining: 6.79s
468:	learn: 0.4629643	test: 0.4748724	best: 0.4748610 (467)	total: 5.99s	remaining: 6.78s
469:	learn: 0.4629266	test: 0.4748653	best: 0.4748610 (467)	total: 6s	remaining: 6.76s
470:	learn: 0.4629027	test: 0.4748597	best: 0.4748597 (470)	total: 6.01s	remaining: 6.75s
471:	learn: 0.4628830	test: 0.4748497	best: 0.4748497 (471)	total: 6.03s	remaining: 6.74s
472:	learn: 0.4628591	test: 0.4748271	best: 0.4748271 (472)	total: 6.04s	remaining: 6.73s
473:	learn: 0.4628342	test: 0.4748207	best: 0.4748207 (473)	total: 6.05s	remaining: 6.71s
474:	learn: 0.4628125	test: 0.4748097	best: 0.4748097 (474)	total: 6.06s	remaining: 6.7s
475:	learn: 0.4627684	test: 0.4747891	best: 0.4747891 (475)	total: 6.08s	remaining: 6.69s
476:	learn: 0.4627372	test: 0.4747807	best: 0.4747807 (476)	total: 6.09s	remaining: 6.68s
477:	learn: 0.4627091	test: 0.4747648	best: 0.4747648 (477)	total: 6.1s	remaining: 6.66s
478:	learn: 0.4626845	test: 0.4747618	best: 0.4747618 (478)	total: 6.11s	remaining: 6.65s
479:	learn: 0.4626697	test: 0.4747613	best: 0.4747613 (479)	total: 6.13s	remaining: 6.64s
480:	learn: 0.4626330	test: 0.4747472	best: 0.4747472 (480)	total: 6.14s	remaining: 6.63s
481:	learn: 0.4626220	test: 0.4747379	best: 0.4747379 (481)	total: 6.15s	remaining: 6.61s
482:	learn: 0.4626023	test: 0.4747304	best: 0.4747304 (482)	total: 6.17s	remaining: 6.6s
483:	learn: 0.4625722	test: 0.4747113	best: 0.4747113 (483)	total: 6.18s	remaining: 6.59s
484:	learn: 0.4625467	test: 0.4746972	best: 0.4746972 (484)	total: 6.19s	remaining: 6.57s
485:	learn: 0.4625341	test: 0.4746904	best: 0.4746904 (485)	total: 6.2s	remaining: 6.56s
486:	learn: 0.4625026	test: 0.4746931	best: 0.4746904 (485)	total: 6.22s	remaining: 6.55s
487:	learn: 0.4624872	test: 0.4746965	best: 0.4746904 (485)	total: 6.23s	remaining: 6.54s
488:	learn: 0.4624664	test: 0.4747007	best: 0.4746904 (485)	total: 6.24s	remaining: 6.52s
489:	learn: 0.4624449	test: 0.4747054	best: 0.4746904 (485)	total: 6.25s	remaining: 6.51s
490:	learn: 0.4624220	test: 0.4746961	best: 0.4746904 (485)	total: 6.27s	remaining: 6.5s
491:	learn: 0.4624086	test: 0.4746941	best: 0.4746904 (485)	total: 6.28s	remaining: 6.48s
492:	learn: 0.4623884	test: 0.4746938	best: 0.4746904 (485)	total: 6.29s	remaining: 6.47s
493:	learn: 0.4623641	test: 0.4746909	best: 0.4746904 (485)	total: 6.31s	remaining: 6.46s
494:	learn: 0.4623387	test: 0.4746859	best: 0.4746859 (494)	total: 6.32s	remaining: 6.45s
495:	learn: 0.4623201	test: 0.4746831	best: 0.4746831 (495)	total: 6.33s	remaining: 6.43s
496:	learn: 0.4623008	test: 0.4746789	best: 0.4746789 (496)	total: 6.34s	remaining: 6.42s
497:	learn: 0.4622868	test: 0.4746750	best: 0.4746750 (497)	total: 6.36s	remaining: 6.41s
498:	learn: 0.4622555	test: 0.4746785	best: 0.4746750 (497)	total: 6.37s	remaining: 6.39s
499:	learn: 0.4622392	test: 0.4746717	best: 0.4746717 (499)	total: 6.38s	remaining: 6.38s
500:	learn: 0.4622205	test: 0.4746486	best: 0.4746486 (500)	total: 6.39s	remaining: 6.37s
501:	learn: 0.4622098	test: 0.4746414	best: 0.4746414 (501)	total: 6.41s	remaining: 6.36s
502:	learn: 0.4621874	test: 0.4746423	best: 0.4746414 (501)	total: 6.42s	remaining: 6.34s
503:	learn: 0.4621645	test: 0.4746290	best: 0.4746290 (503)	total: 6.43s	remaining: 6.33s
504:	learn: 0.4621356	test: 0.4746182	best: 0.4746182 (504)	total: 6.45s	remaining: 6.32s
505:	learn: 0.4621128	test: 0.4746198	best: 0.4746182 (504)	total: 6.46s	remaining: 6.3s
506:	learn: 0.4620901	test: 0.4746169	best: 0.4746169 (506)	total: 6.47s	remaining: 6.29s
507:	learn: 0.4620690	test: 0.4746011	best: 0.4746011 (507)	total: 6.48s	remaining: 6.28s
508:	learn: 0.4620571	test: 0.4746063	best: 0.4746011 (507)	total: 6.5s	remaining: 6.27s
509:	learn: 0.4620462	test: 0.4746052	best: 0.4746011 (507)	total: 6.51s	remaining: 6.25s
510:	learn: 0.4620225	test: 0.4745934	best: 0.4745934 (510)	total: 6.52s	remaining: 6.24s
511:	learn: 0.4619985	test: 0.4745854	best: 0.4745854 (511)	total: 6.54s	remaining: 6.23s
512:	learn: 0.4619706	test: 0.4745719	best: 0.4745719 (512)	total: 6.55s	remaining: 6.22s
513:	learn: 0.4619574	test: 0.4745725	best: 0.4745719 (512)	total: 6.56s	remaining: 6.2s
514:	learn: 0.4619335	test: 0.4745691	best: 0.4745691 (514)	total: 6.57s	remaining: 6.19s
515:	learn: 0.4619155	test: 0.4745668	best: 0.4745668 (515)	total: 6.59s	remaining: 6.18s
516:	learn: 0.4618934	test: 0.4745605	best: 0.4745605 (516)	total: 6.6s	remaining: 6.17s
517:	learn: 0.4618712	test: 0.4745737	best: 0.4745605 (516)	total: 6.61s	remaining: 6.15s
518:	learn: 0.4618541	test: 0.4745703	best: 0.4745605 (516)	total: 6.62s	remaining: 6.14s
519:	learn: 0.4618293	test: 0.4745866	best: 0.4745605 (516)	total: 6.64s	remaining: 6.13s
520:	learn: 0.4618117	test: 0.4745815	best: 0.4745605 (516)	total: 6.65s	remaining: 6.11s
521:	learn: 0.4617954	test: 0.4745737	best: 0.4745605 (516)	total: 6.66s	remaining: 6.1s
522:	learn: 0.4617797	test: 0.4745690	best: 0.4745605 (516)	total: 6.67s	remaining: 6.09s
523:	learn: 0.4617568	test: 0.4745691	best: 0.4745605 (516)	total: 6.69s	remaining: 6.08s
524:	learn: 0.4617237	test: 0.4745780	best: 0.4745605 (516)	total: 6.7s	remaining: 6.06s
525:	learn: 0.4616966	test: 0.4745837	best: 0.4745605 (516)	total: 6.71s	remaining: 6.05s
526:	learn: 0.4616820	test: 0.4745749	best: 0.4745605 (516)	total: 6.73s	remaining: 6.04s
527:	learn: 0.4616565	test: 0.4745712	best: 0.4745605 (516)	total: 6.74s	remaining: 6.03s
528:	learn: 0.4616309	test: 0.4745586	best: 0.4745586 (528)	total: 6.75s	remaining: 6.01s
529:	learn: 0.4616118	test: 0.4745466	best: 0.4745466 (529)	total: 6.76s	remaining: 6s
530:	learn: 0.4615947	test: 0.4745354	best: 0.4745354 (530)	total: 6.78s	remaining: 5.99s
531:	learn: 0.4615827	test: 0.4745238	best: 0.4745238 (531)	total: 6.79s	remaining: 5.97s
532:	learn: 0.4615673	test: 0.4745261	best: 0.4745238 (531)	total: 6.8s	remaining: 5.96s
533:	learn: 0.4615503	test: 0.4745337	best: 0.4745238 (531)	total: 6.82s	remaining: 5.95s
534:	learn: 0.4615341	test: 0.4745353	best: 0.4745238 (531)	total: 6.83s	remaining: 5.93s
535:	learn: 0.4615106	test: 0.4745216	best: 0.4745216 (535)	total: 6.84s	remaining: 5.92s
536:	learn: 0.4614807	test: 0.4745247	best: 0.4745216 (535)	total: 6.85s	remaining: 5.91s
537:	learn: 0.4614607	test: 0.4745218	best: 0.4745216 (535)	total: 6.87s	remaining: 5.9s
538:	learn: 0.4614347	test: 0.4745119	best: 0.4745119 (538)	total: 6.88s	remaining: 5.88s
539:	learn: 0.4614089	test: 0.4745144	best: 0.4745119 (538)	total: 6.89s	remaining: 5.87s
540:	learn: 0.4613878	test: 0.4745191	best: 0.4745119 (538)	total: 6.91s	remaining: 5.86s
541:	learn: 0.4613533	test: 0.4745158	best: 0.4745119 (538)	total: 6.92s	remaining: 5.85s
542:	learn: 0.4613315	test: 0.4745108	best: 0.4745108 (542)	total: 6.93s	remaining: 5.83s
543:	learn: 0.4613162	test: 0.4745022	best: 0.4745022 (543)	total: 6.94s	remaining: 5.82s
544:	learn: 0.4613014	test: 0.4744945	best: 0.4744945 (544)	total: 6.96s	remaining: 5.81s
545:	learn: 0.4612873	test: 0.4745051	best: 0.4744945 (544)	total: 6.97s	remaining: 5.79s
546:	learn: 0.4612666	test: 0.4744968	best: 0.4744945 (544)	total: 6.98s	remaining: 5.78s
547:	learn: 0.4612517	test: 0.4744845	best: 0.4744845 (547)	total: 6.99s	remaining: 5.77s
548:	learn: 0.4612164	test: 0.4744603	best: 0.4744603 (548)	total: 7.01s	remaining: 5.76s
549:	learn: 0.4611833	test: 0.4744524	best: 0.4744524 (549)	total: 7.02s	remaining: 5.74s
550:	learn: 0.4611602	test: 0.4744552	best: 0.4744524 (549)	total: 7.03s	remaining: 5.73s
551:	learn: 0.4611367	test: 0.4744580	best: 0.4744524 (549)	total: 7.04s	remaining: 5.72s
552:	learn: 0.4611017	test: 0.4744431	best: 0.4744431 (552)	total: 7.06s	remaining: 5.71s
553:	learn: 0.4610915	test: 0.4744350	best: 0.4744350 (553)	total: 7.07s	remaining: 5.69s
554:	learn: 0.4610717	test: 0.4744215	best: 0.4744215 (554)	total: 7.08s	remaining: 5.68s
555:	learn: 0.4610419	test: 0.4744060	best: 0.4744060 (555)	total: 7.1s	remaining: 5.67s
556:	learn: 0.4610190	test: 0.4744119	best: 0.4744060 (555)	total: 7.11s	remaining: 5.66s
557:	learn: 0.4610010	test: 0.4744110	best: 0.4744060 (555)	total: 7.12s	remaining: 5.64s
558:	learn: 0.4609864	test: 0.4743994	best: 0.4743994 (558)	total: 7.14s	remaining: 5.63s
559:	learn: 0.4609642	test: 0.4743940	best: 0.4743940 (559)	total: 7.15s	remaining: 5.62s
560:	learn: 0.4609349	test: 0.4744094	best: 0.4743940 (559)	total: 7.16s	remaining: 5.6s
561:	learn: 0.4609174	test: 0.4744089	best: 0.4743940 (559)	total: 7.17s	remaining: 5.59s
562:	learn: 0.4609008	test: 0.4744004	best: 0.4743940 (559)	total: 7.19s	remaining: 5.58s
563:	learn: 0.4608908	test: 0.4743988	best: 0.4743940 (559)	total: 7.2s	remaining: 5.57s
564:	learn: 0.4608568	test: 0.4743880	best: 0.4743880 (564)	total: 7.21s	remaining: 5.55s
565:	learn: 0.4608469	test: 0.4743898	best: 0.4743880 (564)	total: 7.22s	remaining: 5.54s
566:	learn: 0.4608230	test: 0.4743789	best: 0.4743789 (566)	total: 7.24s	remaining: 5.53s
567:	learn: 0.4608030	test: 0.4743792	best: 0.4743789 (566)	total: 7.25s	remaining: 5.51s
568:	learn: 0.4607839	test: 0.4743795	best: 0.4743789 (566)	total: 7.26s	remaining: 5.5s
569:	learn: 0.4607615	test: 0.4743797	best: 0.4743789 (566)	total: 7.28s	remaining: 5.49s
570:	learn: 0.4607286	test: 0.4743798	best: 0.4743789 (566)	total: 7.29s	remaining: 5.48s
571:	learn: 0.4607195	test: 0.4743745	best: 0.4743745 (571)	total: 7.3s	remaining: 5.46s
572:	learn: 0.4606985	test: 0.4743643	best: 0.4743643 (572)	total: 7.32s	remaining: 5.45s
573:	learn: 0.4606832	test: 0.4743618	best: 0.4743618 (573)	total: 7.33s	remaining: 5.44s
574:	learn: 0.4606544	test: 0.4743464	best: 0.4743464 (574)	total: 7.34s	remaining: 5.42s
575:	learn: 0.4606355	test: 0.4743493	best: 0.4743464 (574)	total: 7.35s	remaining: 5.41s
576:	learn: 0.4606177	test: 0.4743474	best: 0.4743464 (574)	total: 7.37s	remaining: 5.4s
577:	learn: 0.4605990	test: 0.4743470	best: 0.4743464 (574)	total: 7.38s	remaining: 5.39s
578:	learn: 0.4605781	test: 0.4743334	best: 0.4743334 (578)	total: 7.39s	remaining: 5.37s
579:	learn: 0.4605566	test: 0.4743344	best: 0.4743334 (578)	total: 7.4s	remaining: 5.36s
580:	learn: 0.4605283	test: 0.4743273	best: 0.4743273 (580)	total: 7.42s	remaining: 5.35s
581:	learn: 0.4605095	test: 0.4743395	best: 0.4743273 (580)	total: 7.43s	remaining: 5.33s
582:	learn: 0.4604966	test: 0.4743359	best: 0.4743273 (580)	total: 7.44s	remaining: 5.32s
583:	learn: 0.4604795	test: 0.4743392	best: 0.4743273 (580)	total: 7.46s	remaining: 5.31s
584:	learn: 0.4604530	test: 0.4743184	best: 0.4743184 (584)	total: 7.47s	remaining: 5.3s
585:	learn: 0.4604422	test: 0.4743215	best: 0.4743184 (584)	total: 7.48s	remaining: 5.29s
586:	learn: 0.4604220	test: 0.4743188	best: 0.4743184 (584)	total: 7.49s	remaining: 5.27s
587:	learn: 0.4603940	test: 0.4743163	best: 0.4743163 (587)	total: 7.51s	remaining: 5.26s
588:	learn: 0.4603754	test: 0.4743145	best: 0.4743145 (588)	total: 7.52s	remaining: 5.25s
589:	learn: 0.4603533	test: 0.4743168	best: 0.4743145 (588)	total: 7.53s	remaining: 5.23s
590:	learn: 0.4603405	test: 0.4743135	best: 0.4743135 (590)	total: 7.54s	remaining: 5.22s
591:	learn: 0.4603267	test: 0.4743057	best: 0.4743057 (591)	total: 7.56s	remaining: 5.21s
592:	learn: 0.4602991	test: 0.4742958	best: 0.4742958 (592)	total: 7.57s	remaining: 5.2s
593:	learn: 0.4602785	test: 0.4742933	best: 0.4742933 (593)	total: 7.58s	remaining: 5.18s
594:	learn: 0.4602643	test: 0.4742967	best: 0.4742933 (593)	total: 7.59s	remaining: 5.17s
595:	learn: 0.4602414	test: 0.4742886	best: 0.4742886 (595)	total: 7.61s	remaining: 5.16s
596:	learn: 0.4602195	test: 0.4742871	best: 0.4742871 (596)	total: 7.62s	remaining: 5.14s
597:	learn: 0.4602076	test: 0.4742841	best: 0.4742841 (597)	total: 7.63s	remaining: 5.13s
598:	learn: 0.4601902	test: 0.4742806	best: 0.4742806 (598)	total: 7.65s	remaining: 5.12s
599:	learn: 0.4601716	test: 0.4742840	best: 0.4742806 (598)	total: 7.66s	remaining: 5.11s
600:	learn: 0.4601523	test: 0.4742597	best: 0.4742597 (600)	total: 7.67s	remaining: 5.09s
601:	learn: 0.4601366	test: 0.4742529	best: 0.4742529 (601)	total: 7.68s	remaining: 5.08s
602:	learn: 0.4601275	test: 0.4742559	best: 0.4742529 (601)	total: 7.7s	remaining: 5.07s
603:	learn: 0.4601116	test: 0.4742474	best: 0.4742474 (603)	total: 7.71s	remaining: 5.05s
604:	learn: 0.4600834	test: 0.4742526	best: 0.4742474 (603)	total: 7.72s	remaining: 5.04s
605:	learn: 0.4600676	test: 0.4742567	best: 0.4742474 (603)	total: 7.74s	remaining: 5.03s
606:	learn: 0.4600311	test: 0.4742555	best: 0.4742474 (603)	total: 7.75s	remaining: 5.02s
607:	learn: 0.4600072	test: 0.4742460	best: 0.4742460 (607)	total: 7.76s	remaining: 5s
608:	learn: 0.4599946	test: 0.4742469	best: 0.4742460 (607)	total: 7.77s	remaining: 4.99s
609:	learn: 0.4599797	test: 0.4742454	best: 0.4742454 (609)	total: 7.79s	remaining: 4.98s
610:	learn: 0.4599486	test: 0.4742226	best: 0.4742226 (610)	total: 7.8s	remaining: 4.97s
611:	learn: 0.4599342	test: 0.4742233	best: 0.4742226 (610)	total: 7.81s	remaining: 4.95s
612:	learn: 0.4599215	test: 0.4742176	best: 0.4742176 (612)	total: 7.83s	remaining: 4.94s
613:	learn: 0.4599039	test: 0.4742104	best: 0.4742104 (613)	total: 7.84s	remaining: 4.93s
614:	learn: 0.4598831	test: 0.4742004	best: 0.4742004 (614)	total: 7.85s	remaining: 4.91s
615:	learn: 0.4598667	test: 0.4741939	best: 0.4741939 (615)	total: 7.86s	remaining: 4.9s
616:	learn: 0.4598544	test: 0.4741954	best: 0.4741939 (615)	total: 7.88s	remaining: 4.89s
617:	learn: 0.4598390	test: 0.4741947	best: 0.4741939 (615)	total: 7.89s	remaining: 4.88s
618:	learn: 0.4598130	test: 0.4741804	best: 0.4741804 (618)	total: 7.9s	remaining: 4.86s
619:	learn: 0.4597804	test: 0.4741700	best: 0.4741700 (619)	total: 7.91s	remaining: 4.85s
620:	learn: 0.4597670	test: 0.4741698	best: 0.4741698 (620)	total: 7.93s	remaining: 4.84s
621:	learn: 0.4597303	test: 0.4741730	best: 0.4741698 (620)	total: 7.94s	remaining: 4.83s
622:	learn: 0.4597028	test: 0.4741695	best: 0.4741695 (622)	total: 7.95s	remaining: 4.81s
623:	learn: 0.4596885	test: 0.4741658	best: 0.4741658 (623)	total: 7.96s	remaining: 4.8s
624:	learn: 0.4596760	test: 0.4741622	best: 0.4741622 (624)	total: 7.98s	remaining: 4.79s
625:	learn: 0.4596635	test: 0.4741549	best: 0.4741549 (625)	total: 7.99s	remaining: 4.77s
626:	learn: 0.4596395	test: 0.4741534	best: 0.4741534 (626)	total: 8s	remaining: 4.76s
627:	learn: 0.4596237	test: 0.4741637	best: 0.4741534 (626)	total: 8.02s	remaining: 4.75s
628:	learn: 0.4596018	test: 0.4741616	best: 0.4741534 (626)	total: 8.03s	remaining: 4.74s
629:	learn: 0.4595950	test: 0.4741578	best: 0.4741534 (626)	total: 8.04s	remaining: 4.72s
630:	learn: 0.4595836	test: 0.4741569	best: 0.4741534 (626)	total: 8.05s	remaining: 4.71s
631:	learn: 0.4595628	test: 0.4741459	best: 0.4741459 (631)	total: 8.07s	remaining: 4.7s
632:	learn: 0.4595475	test: 0.4741487	best: 0.4741459 (631)	total: 8.08s	remaining: 4.68s
633:	learn: 0.4595317	test: 0.4741460	best: 0.4741459 (631)	total: 8.09s	remaining: 4.67s
634:	learn: 0.4595074	test: 0.4741426	best: 0.4741426 (634)	total: 8.11s	remaining: 4.66s
635:	learn: 0.4594691	test: 0.4741274	best: 0.4741274 (635)	total: 8.12s	remaining: 4.65s
636:	learn: 0.4594574	test: 0.4741259	best: 0.4741259 (636)	total: 8.13s	remaining: 4.63s
637:	learn: 0.4594348	test: 0.4741297	best: 0.4741259 (636)	total: 8.14s	remaining: 4.62s
638:	learn: 0.4594030	test: 0.4741043	best: 0.4741043 (638)	total: 8.16s	remaining: 4.61s
639:	learn: 0.4593779	test: 0.4741037	best: 0.4741037 (639)	total: 8.17s	remaining: 4.59s
640:	learn: 0.4593566	test: 0.4741158	best: 0.4741037 (639)	total: 8.18s	remaining: 4.58s
641:	learn: 0.4593392	test: 0.4741136	best: 0.4741037 (639)	total: 8.2s	remaining: 4.57s
642:	learn: 0.4593292	test: 0.4741150	best: 0.4741037 (639)	total: 8.21s	remaining: 4.56s
643:	learn: 0.4593078	test: 0.4741072	best: 0.4741037 (639)	total: 8.22s	remaining: 4.54s
644:	learn: 0.4592987	test: 0.4741014	best: 0.4741014 (644)	total: 8.23s	remaining: 4.53s
645:	learn: 0.4592789	test: 0.4740993	best: 0.4740993 (645)	total: 8.25s	remaining: 4.52s
646:	learn: 0.4592688	test: 0.4740915	best: 0.4740915 (646)	total: 8.26s	remaining: 4.51s
647:	learn: 0.4592579	test: 0.4740976	best: 0.4740915 (646)	total: 8.27s	remaining: 4.49s
648:	learn: 0.4592450	test: 0.4740882	best: 0.4740882 (648)	total: 8.28s	remaining: 4.48s
649:	learn: 0.4592316	test: 0.4740909	best: 0.4740882 (648)	total: 8.3s	remaining: 4.47s
650:	learn: 0.4592191	test: 0.4740870	best: 0.4740870 (650)	total: 8.31s	remaining: 4.45s
651:	learn: 0.4591833	test: 0.4740896	best: 0.4740870 (650)	total: 8.32s	remaining: 4.44s
652:	learn: 0.4591596	test: 0.4740900	best: 0.4740870 (650)	total: 8.33s	remaining: 4.43s
653:	learn: 0.4591378	test: 0.4740919	best: 0.4740870 (650)	total: 8.35s	remaining: 4.42s
654:	learn: 0.4591168	test: 0.4740860	best: 0.4740860 (654)	total: 8.36s	remaining: 4.4s
655:	learn: 0.4590857	test: 0.4740816	best: 0.4740816 (655)	total: 8.37s	remaining: 4.39s
656:	learn: 0.4590727	test: 0.4740852	best: 0.4740816 (655)	total: 8.39s	remaining: 4.38s
657:	learn: 0.4590586	test: 0.4740800	best: 0.4740800 (657)	total: 8.4s	remaining: 4.37s
658:	learn: 0.4590469	test: 0.4740898	best: 0.4740800 (657)	total: 8.41s	remaining: 4.35s
659:	learn: 0.4590198	test: 0.4741046	best: 0.4740800 (657)	total: 8.43s	remaining: 4.34s
660:	learn: 0.4590015	test: 0.4741217	best: 0.4740800 (657)	total: 8.44s	remaining: 4.33s
661:	learn: 0.4589828	test: 0.4741279	best: 0.4740800 (657)	total: 8.45s	remaining: 4.31s
662:	learn: 0.4589655	test: 0.4741193	best: 0.4740800 (657)	total: 8.46s	remaining: 4.3s
663:	learn: 0.4589384	test: 0.4741038	best: 0.4740800 (657)	total: 8.47s	remaining: 4.29s
664:	learn: 0.4589093	test: 0.4741106	best: 0.4740800 (657)	total: 8.49s	remaining: 4.28s
665:	learn: 0.4588961	test: 0.4741111	best: 0.4740800 (657)	total: 8.5s	remaining: 4.26s
666:	learn: 0.4588722	test: 0.4741188	best: 0.4740800 (657)	total: 8.51s	remaining: 4.25s
667:	learn: 0.4588569	test: 0.4741181	best: 0.4740800 (657)	total: 8.53s	remaining: 4.24s
668:	learn: 0.4588401	test: 0.4741152	best: 0.4740800 (657)	total: 8.54s	remaining: 4.22s
669:	learn: 0.4588174	test: 0.4741172	best: 0.4740800 (657)	total: 8.55s	remaining: 4.21s
670:	learn: 0.4587996	test: 0.4741098	best: 0.4740800 (657)	total: 8.57s	remaining: 4.2s
671:	learn: 0.4587835	test: 0.4741063	best: 0.4740800 (657)	total: 8.58s	remaining: 4.19s
672:	learn: 0.4587729	test: 0.4741130	best: 0.4740800 (657)	total: 8.59s	remaining: 4.17s
673:	learn: 0.4587572	test: 0.4741056	best: 0.4740800 (657)	total: 8.6s	remaining: 4.16s
674:	learn: 0.4587398	test: 0.4740972	best: 0.4740800 (657)	total: 8.62s	remaining: 4.15s
675:	learn: 0.4587138	test: 0.4740995	best: 0.4740800 (657)	total: 8.63s	remaining: 4.13s
676:	learn: 0.4586876	test: 0.4740993	best: 0.4740800 (657)	total: 8.64s	remaining: 4.12s
677:	learn: 0.4586703	test: 0.4740969	best: 0.4740800 (657)	total: 8.65s	remaining: 4.11s
bestTest = 0.4740799805
bestIteration = 657
Shrink model to first 658 iterations.
===== ACCURACY SCORE 0.778700 =====
===== ACCURACY SCORE 0.778700 =====

# 3. Predict

In [47]:
y_pred = model.predict(x_pred)
y_pred.shape

(100000,)

In [48]:
submission['Survived'] = y_pred
submission

       PassengerId  Survived
0           100000         0
1           100001         1
2           100002         1
3           100003         0
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         0
99997       199997         0
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

# 4.Submission

In [49]:
submission.to_csv("E:\\data\\kaggle_tabular\\submission_0425.csv", index = False)
submission

       PassengerId  Survived
0           100000         0
1           100001         1
2           100002         1
3           100003         0
4           100004         1
...            ...       ...
99995       199995         1
99996       199996         0
99997       199997         0
99998       199998         1
99999       199999         1

[100000 rows x 2 columns]

---
파일명 : submission_0425.csv     
score : 0.80265